<div class="doc-code-editor-demo-heading">
  <Hds::Text::Display @tag="h2" @size="300">
    Learn to write functions in Go
  </Hds::Text::Display>
  <Hds::Text::Body @tag="p">
    Functions are a critical part of learning Go. They are reusable chunks of code that can perform tasks like convert
    an object to an array.
  </Hds::Text::Body>
</div>
<Hds::CodeEditor @language="go" @value={{this.goCode}} as |CE|>
  <CE.Title @tag="h3">
    Convert object to an array
  </CE.Title>
</Hds::CodeEditor>