@import "./root.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./nav.css";
@import "./typography.css";
@import "./footer.css";

html {
  font-family: var(--font-body);
  font-size: var(--font-size-default);
}
body.ds-body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
header.ds-header {
  background-color: var(--brand);
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main.ds-main {
  margin: 3.5rem auto 0 auto;
  @apply
    sm:container;
}

ul.ds-ul-grid {
  box-sizing: border-box;
  display: grid;
  font-family: var(--font-body);
  gap: 16px;
  grid-auto-flow: dense;
  grid-auto-rows: 148px;
  grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.ds-ul-grid li.ds-li {
  align-items: center;
  background: var(--gray-7);
  border-radius: 3px;
  box-shadow: 0 0 0 1px var(--gray-5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  justify-content: center;
  padding: 0.5em 0.15em 0.15em;
}
ul.ds-ul-grid li.ds-li:hover {
  background-color: var(--info-l2);
  box-shadow: 0 0 0 1px var(--info-l1);
}
ul.ds-ul-grid li.ds-li .ds-icon-frame {
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--gray-5);
  box-sizing: border-box;
  display: flex;
  margin-top: auto;
  padding: 6px;
}
ul.ds-ul-grid li.ds-li:hover .ds-icon-frame {
  box-shadow: 0 0 0 1px var(--info-l1);
  box-sizing: border-box;
  color: var(--brand-link);
}
ul.ds-ul-grid li.ds-li p {
  box-sizing: border-box;
  font-size: 0.75em;
  margin-top: auto;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.d-none {
  display: none !important;
}


.ds-kbd {
  color: #D10070;
  font-size: 0.9em;
  font-weight: var(--font-weight-bold);
}

.ds-info {
  background-color: var(--info-l2);
  border: 1px solid var(--brand);
  border-left-width: 8px;
  border-radius: 3px;
  padding: 0.75em;
}
img.ds-img {
  display: block;
  height: auto;
  max-width: 100%;
}


/* Once this has been figured out, replace with TW classes */
.this-is-the-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.this-is-the-search {
  min-width: 80%;
}
.this-is-the-toggle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* TODO remove any unnecessary TW classes, convert current CSS into TW*/
button.ds-toggle-button {
  background-color: var(--brand);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  height: 2.5rem;
  width: 8rem;
  box-sizing: border-box; 
  @apply
  inline-flex 
  border-2 
  border-transparent 
  rounded-full 
  cursor-pointer 
  transition-colors 
  ease-in-out 
  duration-200 
  focus:outline-none 
  focus:ring-2 
  focus:ring-offset-2 
  focus:ring-brand;
}

/* TODO remove any unnecessary TW classes, convert current CSS into TW*/
.ds-toggle-button .ds-toggle-button-slider {
  display: flex;
  justify-content:space-evenly;
  color: var(--brand);
  height: 2.25rem;
  width: 8rem;
  background-color: transparent;
  box-sizing: border-box; 
  @apply
  pointer-events-none  
  rounded-full 
  shadow 
  transform 
  ring-0;
}

/* TODO remove any unnecessary TW classes, convert current CSS into TW*/
.ds-toggle-16 {
  color: var(--white);
  width: 50%;
  box-sizing: border-box; 
  @apply 
  ease-in 
  duration-200 
  inset-0 
  flex 
  items-center 
  justify-center 
  transition-opacity
  rounded-full;
}
.ds-toggle-16.ds-toggle-16-active {
  color: var(--brand);
  height: 2.25rem;
  width: 50%;
  background-color: white;
  @apply
  rounded-full;
}
/* TODO remove any unnecessary TW classes, convert current CSS into TW*/
.ds-toggle-24 {
  background-color: transparent;
  color: var(--white);
  min-width: 4rem;
  box-sizing: border-box; 
  @apply 
  rounded-full ease-out duration-100 inset-0 flex items-center justify-center transition-opacity;
}
.ds-toggle-24.ds-toggle-24-active {
  color: var(--brand);
  height: 2.25rem;
  width: 4rem;
  background-color: white;
  @apply
  rounded-full;
}

/* prism overrides for a11y */
div.code-toolbar > .toolbar {
  opacity: 1;
  top: 0;
  right: 0.5em;

}
div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
  background-color: white;
  color: var(--brand);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.7em;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #ff3ea6;
}

.token.punctuation {
  color: var(--gray-5);
}

.prose-lg pre.language-markup {
  @apply mt-0;
}


/* some editing utilities */
.ds-b-red {
  border: 1px solid red;
}