@import "./root.css";
@import "./modern-normalize.css";

 /* uncomment this line to actually make tailwind classes work */
 /* @tailwind base; */

html {
  font-family: var(--font-body);
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
a {
  color: var(--brand-link);
}
header.ds-header {
  background-color: var(--brand);
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
h1.ds-h1 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  padding: 0 0.5em;
}
header.ds-header nav.ds-nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.5em;
}
header.ds-header nav.ds-nav ul.ds-ul {
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
header.ds-header nav.ds-nav ul.ds-ul li.ds-li {
  align-content: center; 
  display: flex;
  flex-flow: row wrap;
}
header.ds-header nav.ds-nav ul.ds-ul li.ds-li a.ds-a {
  align-items: stretch;
  border: 2px solid transparent;
  color: white;
  display: flex;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  padding: 0.5em;
  text-decoration: none;
}

header.ds-header nav.ds-nav ul.ds-ul li.ds-li a.ds-a:focus {
  border-color: white;
  border-style: dashed;
}
header.ds-header nav.ds-nav ul.ds-ul li.ds-li a.ds-a:hover {
  border-color: white;
}


main.ds-main {
  flex: 1 0 auto;
  padding: 0 1em 1em;
}
@media (min-width: 60em) {
  main.ds-main {
    padding: 0 8em 1em;
  }
}

p.ds-p {
  font-family: var(--font-body);
  font-size: 1em;
  line-height: 1.2;
  margin: 0.25vh auto;
}
h2.ds-h2 {
  border-bottom: 1px solid var(--gray-5);
  font-family: var(--font-body);
  line-height: 1;
  padding-bottom: 0.75em;
}
h2.ds-h2,
h3.ds-h3,
h4.ds-h4,
h5.ds-h5 {
  font-family: var(--font-display);
}

h5.ds-h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
}


.ds-form-group-inline {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5em;
}
.ds-form-group-inline label.ds-input-label {
  color: var(--code-dark);
  font-family: var(--font-body);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.75em;
}
.ds-form-group-inline input.ds-input {
  border: 1px solid var(--gray-4);
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1em;
  line-height: 2;
  min-width:100%;
  padding: 0 0.25em;
}
.ds-form-group-inline input.ds-input:focus {
  border: 1px solid var(--brand);
  box-shadow: 0 0 0 3px var(--info-l1);
  outline: none;
}

ul.ds-ul-grid {
  display: grid;
  font-family: var(--font-body);
  gap: 16px;
  grid-auto-flow: dense;
  grid-auto-rows: 148px;
  grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.ds-ul-grid li.ds-li {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  gap: 1ch;
  justify-content: center;
  padding: 0.5em 0.15em 0.15em;
  background: var(--gray-7);
  border-radius: 3px;
  box-shadow: 0 0 0 1px var(--gray-5);
}
ul.ds-ul-grid li.ds-li:hover {
  background-color: var(--info-l2);
  box-shadow: 0 0 0 1px var(--info-l1);
}
ul.ds-ul-grid li.ds-li .ds-icon-frame {
  padding: 6px;
  margin-top: auto;
  display: flex;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--gray-5);
}
ul.ds-ul-grid li.ds-li:hover .ds-icon-frame {
  color: var(--brand-link);
  box-shadow: 0 0 0 1px var(--info-l1);
}
ul.ds-ul-grid li.ds-li p {
  text-align: center;
  margin-top: auto;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer.ds-footer {
  background-color: var(--brand);
  color: white;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  justify-content: flex-start;
  min-height: 50px;
}

footer.ds-footer p.ds-p a.ds-a {
  align-items: stretch;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
}


.d-none {
  display: none !important;
}

pre.ds-pre {
  margin: 0.5em auto 1.5em auto;
}
.ds-code {
  background-color: var(--gray-7);
  border: 1px solid var(--gray-5);
  border-radius: 4px;
  display: block;
  font-size: 0.9em;
  margin: 0.25vh auto 1vh;
  padding: 0.75em;
}
.ds-kbd {
  color: rebeccapurple;
  font-size: 0.9em;
  font-weight: var(--font-weight-bold);
}

.ds-rotate-90 {
  transform: rotate(90deg);
}

.ds-info {
  background-color: var(--info-l2);
  border: 1px solid var(--brand);
  border-radius: 4px;
  padding: 0.75em;
}
img.ds-img {
  display: block;
  height: auto;
  max-width: 100%;
}