<Hds::Form::Select::Field {{on "blur" this.yourOnBlurFunction}} name="demo-target-infrastructure" as |F|>
  <F.Label>Target infrastructure</F.Label>
  <F.Options>
    <option value=""></option>
    <option value="Kubernetes">Kubernetes</option>
    <option value="Other">Other</option>
  </F.Options>
</Hds::Form::Select::Field>