{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AppFrame Component - Frameless"}}

<Mock::App @hasHeader={{false}}>
  <:main as |M|>
    <M.PageHeader @showActionButton={{true}} />
    <M.GenericTextContent />
    <M.GenericTextContent />
  </:main>
  <:stickyfooter as |SF|>
    <SF.StickyFooter @isPortal={{true}} @targetName="demo-sticky-footer-portal" />
  </:stickyfooter>
</Mock::App>

{{! this portaled content would live in a different part of the application }}
<Portal @target="demo-sticky-footer-portal">
  <div class="shw-layout-app-frame__sticky-footer-mock">
    <Hds::Text::Display @size="200">This is the sticky footer content (injected via a Portal)</Hds::Text::Display>
  </div>
</Portal>