{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Stepper responsiveness demo - Frameless"}}

<div {{style padding="24px"}}>
  <Hds::Stepper::Nav @currentStep={{1}} @ariaLabel="Label" as |S|>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
    <S.Panel />
    <S.Panel />
    <S.Panel />
  </Hds::Stepper::Nav>

  <Shw::Divider @level={{2}} />

  <Hds::Stepper::Nav @currentStep={{1}} @isInteractive={{false}} @ariaLabel="Label" as |S|>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
    <S.Step>
      <:title>Title</:title>
      <:description>Description</:description>
    </S.Step>
  </Hds::Stepper::Nav>
</div>