{{page-title 'HDS Components'}}

<h1>HDS Components</h1>

<p>Here we may want to show a list of callout blocks linking to "components" sub-pages like in Atlassian or Evergreen</p>

<pre>How do we generate dynamically the list, without having to edit it manually?</pre>