{{page-title "Error"}}

<div class="doc-page-error">
  <div class="doc-page-error__wrapper">
    <img
      class="doc-page-error__image"
      src="/assets/other/jory-travolta.gif"
      alt="Animated gif created by Jory Tindall, showing a classic John Travolta meme on top of a composition of HDS component"
    />
    <div class="doc-page-error__content">
      <h1 class="doc-text-h1">Well shoot...</h1>
      <p class="doc-text-body">We can't seem to find what you're looking for, or an error occurred. Head
        back to the
        <LinkTo class="doc-link-generic" @route="index">homepage</LinkTo>.</p>
      <h4 class="doc-text-h4">Other helpful resources</h4>
      <ul>
        <li><LinkTo class="doc-link-generic" @route="about">About</LinkTo></li>
        <li><LinkTo class="doc-link-generic" @route="support">Support</LinkTo></li>
        <li><a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdPShbSiUYgimppZeqWT99bVi6zLbKDThQUQTirH3RCj2okdg/viewform"
            class="doc-link-generic"
          >Share feedback</a></li>
      </ul>
    </div>
  </div>
</div>