{{page-title 'HDS - HashiCorp Design System'}}

<h1>HDS - HashiCorp Design System</h1>

<p><strong>Question:</strong> For the website, is it possible in field guide to have a basic landing page like Atlassian or Orbit where there’s no sidebar present and we use a combination of global navigation + callout blocks for linking to content?</p>
<p><strong>Answer:</strong> Yes, we can have an "index" landing page (not sure yet about hiding the sidebar navigation, but very likely we can)</p>
