{{page-title 'HDS - HashiCorp Design System'}}

<div class="doc-page-home">
  <Doc::Page::Hero class="doc-page-home__hero">HDS - HashiCorp Design System</Doc::Page::Hero>
  <Doc::Page::Stage>
    <div class="doc-page-home__content">
      <DocLandingCalloutBlocks @cols='2' @items={{this.items}} />
    </div>
  </Doc::Page::Stage>
</div>