{{page-title 'Patterns'}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Patterns" @description="Coming soon!" />
  <Doc::Page::Content>
    <p class="doc-text-body">This is where the markdown content should go for patterns.</p>
  </Doc::Page::Content>
</Doc::Page::Stage>