{{page-title 'Patterns'}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Patterns" @description="Coming soon" />
  <Doc::Page::Content>
    <h2 class="doc-text-h2">What is a pattern?</h2>
    <p class="doc-text-body">A pattern is a combination of components that work together to accomplish a function or render a layout. They are often used to solve the same problem consistently. Common examples of patterns are forms, navigation, button sets, etc.</p>
    <h2 class="doc-text-h2">HDS pattern support</h2>
    <p class="doc-text-body">We don't currently support patterns, but we have a few on our <a href="https://go.hashi.co/hds-rollout">roadmap</a>. We're also planning to introduce guidelines and best practices around assembling components in a consistent and scalable manner.</p>
    <p class="doc-text-body">If you find yourself building the same pattern often, <LinkTo @route="support">submit a new pattern request</LinkTo>.</p>
    <p class="doc-text-body">Don't hesitate to contact the design system team for best practices and suggestions when building and defining local components and patterns.</p>
  </Doc::Page::Content>
</Doc::Page::Stage>