{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Patterns"}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Patterns" />
  <Doc::Page::Content @breakthrough={{true}}>
    <Doc::Cards::Deck @cols="4" @cards={{this.cards.patterns}} />
    <h2 class="doc-text-h2">Request a pattern</h2>
    <p class="doc-text-body">If you find yourself building the same pattern often or know of a pattern being used across
      products,
      <a class="doc-link-generic" href="https://go.hashi.co/hds-support">submit a new pattern request</a>.
    </p>
    <h2 class="doc-text-h2">Creating your own pattern?</h2>
    <p class="doc-text-body">
      <LinkTo class="doc-link-generic" @route="show" @model="about/support">Contact the Helios Design System team</LinkTo>
      for support or to request a new component when building and defining local components and patterns.
    </p>
  </Doc::Page::Content>
</Doc::Page::Stage>