{{page-title 'Support'}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Support" />
  <Doc::Page::Content>
    <p>I need more information to work on this page.</p>
  </Doc::Page::Content>
</Doc::Page::Stage>
