{{page-title 'Support'}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Support" />
  <Doc::Page::Content>
    <p>We are happy to provide support to HashiCorp product teams that use our design system.Here are some of the ways to get help when you get stuck.</p>

    <h2>Office Hours</h2>
    <p>We offer office hours as a way to get feedback on your designs, or help you get unstuck in a code migration. <a href="https://docs.google.com/forms/d/e/1FAIpQLSf9T_M7gSAQ7zTM9z0gR11kvqpiTnbByrTsqDk305s3SxblRw/viewform">Add your agenda item</a> to the next office hours session (internal employees only).</p>

    <h2>Live Support</h2>
    <p>Join the `#team-design-systems` channel in our company Slack chat to ask your questions and get some answers. Since we are a globally-distributed team, there may be a slight delay in answering some questions, but we're usually pretty fast!</p>

    <h2>File an Issue</h2>
    <p>Find a bug? Want to report a security issue? File <a href="https://github.com/hashicorp/design-system/issues/new/choose">an issue in our GitHub repository</a></p>.

    <h2>Request a Feature</h2>
    <p>Use the <a href="https://docs.google.com/forms/d/e/1FAIpQLScpMXgrUTVT5fYriu4Pp48r4Nl_eCPluVnJLg0Yg3NXsRWvIA/viewform">request a feature</a> form for all of your feature request needs (internal employees only).</p>
  </Doc::Page::Content>
</Doc::Page::Stage>
