{{page-title "Testing"}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Testing" />
  <Doc::Page::Content>
    <p>Select one page from the sidebar navigation</p>
  </Doc::Page::Content>
</Doc::Page::Stage>