/**
 * Copyright IBM Corp. 2021, 2026
 * SPDX-License-Identifier: MPL-2.0
 */

//
// STEPPER > LIST
//

@use "../../mixins/carbonization" as *;

$hds-stepper-list-gap-spacing: 16px;
$hds-stepper-list-progress-bar-offset: 4px;

.hds-stepper-list {
  display: flex;
  flex-direction: column;
  gap: $hds-stepper-list-gap-spacing;
}

.hds-stepper-list,
.hds-stepper-list__step {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// SUB COMPONENT: STEPPER > LIST > STEP

.hds-stepper-list__step {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;

  .hds-stepper-list__step-progress {
    &::before,
    &::after {
      position: absolute;
      top: var(--hds-stepper-list-progress-bar-top);
      left: var(--hds-stepper-list-progress-bar-left);
      z-index: -1;
      border-left: 2px solid;
      content: "";
    }

    // Progress Bar - background line
    &::before {
      height: calc(100% + $hds-stepper-list-gap-spacing);
      border-color: var(--hds-stepper-list-progress-bar-border-color-incomplete);
    }

    // Progress bar - completed line
    &::after {
      border-color: var(--hds-stepper-list-progress-bar-border-color-complete);
    }
  }

  &:last-of-type {
    .hds-stepper-list__step-progress:not(.hds-stepper-list__step--complete) {
      &::before,
      &::after {
        content: none;

        @include hds-apply-only-if-carbon() {
          content: "";
        }
      }
    }
  }

  @include hds-apply-only-if-carbon() {
    .hds-stepper-indicator-step {
      margin: 4px 0 0 8px;
    }
  }
}

.hds-stepper-list__step-progress {
  position: relative;
  isolation: isolate;
}

.hds-stepper-list__step-text {
  margin-top: 2px;
}

.hds-stepper-list__step-title {
  font-weight: var(--hds-stepper-list-step-title-typography-font-weight);
}

.hds-stepper-list__step-description {
  margin-top: var(--hds-stepper-list-step-description-margin-top);
  color: var(--hds-stepper-list-step-description-foreground-color);
  font-size: var(--hds-stepper-list-step-description-typography-font-size);

  &:empty {
    display: none;
  }
}

.hds-stepper-list__step-content {
  margin-top: 8px;

  &:empty {
    display: none;
  }
}

// STATUSES

// Complete

.hds-stepper-list__step {
  &:not(:last-of-type).hds-stepper-list__step--complete .hds-stepper-list__step-progress::after {
    height: calc(100% + $hds-stepper-list-gap-spacing - $hds-stepper-list-progress-bar-offset);
  }

  &:not(:last-of-type, :first-of-type).hds-stepper-list__step--complete .hds-stepper-list__step-progress::after {
    top: calc(-1 * $hds-stepper-list-progress-bar-offset);
    height: calc(100% + $hds-stepper-list-gap-spacing);
  }

  &:not(:first-of-type):last-of-type.hds-stepper-list__step--complete .hds-stepper-list__step-progress::after {
    position: absolute;
    top: calc(-1 * $hds-stepper-list-progress-bar-offset);
    left: 11px;
    z-index: -1;
    width: 2px;
    height: 6px;
    content: "";

    @include hds-apply-only-if-carbon() {
      left: 0;
      height: calc(100% + $hds-stepper-list-gap-spacing + $hds-stepper-list-progress-bar-offset);
    }
  }

  // Border radius for progress bar line if completed step is followed by a step that is not complete
  &.hds-stepper-list__step--complete:has(+ :not(.hds-stepper-list__step--complete)) {
    .hds-stepper-list__step-progress::after {
      border-radius: 0 0 var(--hds-border-radius-x-small) var(--hds-border-radius-x-small);
    }
  }
}

// For Carbon themes, the progress bar line should be present for the active step in addition to the completed step,
// and we do not need to account for the $hds-stepper-list-progress-bar-offset of the completed line, which is needed for the HDS theme
.hds-stepper-list__step:not(.hds-stepper-list__step--incomplete) {
  .hds-stepper-list__step-progress::after {
    @include hds-apply-only-if-carbon() {
      top: 0;
      height: calc(100% + $hds-stepper-list-gap-spacing);
    }
  }
}
