/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// STEPPER > INDICATOR > STEP
//

@use "sass:map";

$hds-stepper-indicator-step-statuses: ("incomplete", "progress", "processing", "complete");

// Base stepper indicator styling
.hds-stepper-indicator-step {
  position: relative;
  width: var(--hds-stepper-step-indicator-size);
  height: var(--hds-stepper-step-indicator-size);
}

.hds-stepper-indicator-step__svg-hexagon {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 1px 1px rgba(101, 106, 118, 5%));
}

.hds-stepper-indicator-step__status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hds-stepper-indicator-step__icon {
  width: var(--hds-stepper-step-indicator-icon-size);
  height: var(--hds-stepper-step-indicator-icon-size);
}

.hds-stepper-indicator-step__text {
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  user-select: none;
}

// STATUS

// Non-interactive (default)

// Non-interactive props that correspond with status
$hds-stepper-indicator-step-default-status-props: (
  "incomplete": (
    "text-color": var(--hds-stepper-step-indicator-foreground-color-incomplete-default),
    "fill-color": var(--hds-surface-color-primary),
    "stroke-color": var(--hds-border-color-strong),
  ),
  "progress": (
    "text-color": var(--hds-stepper-step-indicator-foreground-color-progress-default),
    "fill-color": var(--hds-foreground-color-strong),
    "stroke-color": var(--hds-foreground-color-strong),
  ),
  "processing": (
    "text-color": var(--hds-stepper-step-indicator-foreground-color-processing-default),
    "fill-color": var(--hds-foreground-color-strong),
    "stroke-color": var(--hds-foreground-color-strong),
  ),
  "complete": (
    "text-color": var(--hds-stepper-step-indicator-foreground-color-complete-default),
    "fill-color": var(--hds-foreground-color-strong),
    "stroke-color": var(--hds-foreground-color-strong),
  ),
);

@each $status in $hds-stepper-indicator-step-statuses {
  // For each status of the non-interactive variant, set the text color, svg fill, and svg stroke colors based on $non-interactive-props
  .hds-stepper-indicator-step--status-#{$status} {
    .hds-stepper-indicator-step__status {
      color: map.get($hds-stepper-indicator-step-default-status-props, $status, "text-color");
    }

    .hds-stepper-indicator-step__svg-hexagon path {
      fill: map.get($hds-stepper-indicator-step-default-status-props, $status, "fill-color");
      stroke: map.get($hds-stepper-indicator-step-default-status-props, $status, "stroke-color");
    }
  }
}

// Interactive

// Determine states/status and corresponding styles
$hds-stepper-indicator-step-interactive-status-props: (
  "incomplete": (
    "text-color-default": var(--hds-stepper-step-indicator-foreground-color-incomplete-interactive),
    "fill-color-default": var(--hds-surface-color-interactive),
    "fill-color-hover": var(--hds-surface-color-interactive-hover),
    "fill-color-active": var(--hds-surface-color-interactive-active),
    "stroke-color-default": var(--hds-border-color-strong),
  ),
  "progress": (
    "text-color-default": var(--hds-stepper-step-indicator-foreground-color-progress-interactive),
    "fill-color-default": var(--hds-core-color-blue-200),
    "fill-color-hover": var(--hds-core-color-blue-300),
    "fill-color-active": var(--hds-core-color-blue-400),
    "stroke-color-default": var(--hds-core-color-blue-300),
    "stroke-color-hover": var(--hds-core-color-blue-400),
    "stroke-color-active": var(--hds-core-color-blue-400),
  ),
  "processing": (
    "text-color-default": var(--hds-stepper-step-indicator-foreground-color-processing-interactive),
    "fill-color-default": var(--hds-core-color-blue-200),
    "fill-color-hover": var(--hds-core-color-blue-300),
    "fill-color-active": var(--hds-core-color-blue-400),
    "stroke-color-default": var(--hds-core-color-blue-300),
    "stroke-color-hover": var(--hds-core-color-blue-400),
    "stroke-color-active": var(--hds-core-color-blue-400),
  ),
  "complete": (
    "text-color-default": var(--hds-stepper-step-indicator-foreground-color-complete-interactive-default),
    "text-color-hover": var(--hds-stepper-step-indicator-foreground-color-complete-interactive-hover),
    "text-color-active": var(--hds-stepper-step-indicator-foreground-color-complete-interactive-active),
    "fill-color-default": var(--hds-surface-color-action),
    "fill-color-hover": var(--hds-core-color-blue-100),
    "fill-color-active": var(--hds-core-color-blue-100),
    "stroke-color-default": var(--hds-core-color-blue-300),
    "stroke-color-hover": var(--hds-core-color-blue-400),
    "stroke-color-active": var(--hds-core-color-blue-400),
  ),
);

.hds-stepper-indicator-step--is-interactive {
  cursor: pointer;

  @each $status in $hds-stepper-indicator-step-statuses {
    // For each status set the text, svg fill, and svg stroke color based on $hds-stepper-indicator-step-interactive-status-props
    &.hds-stepper-indicator-step--status-#{$status} {
      .hds-stepper-indicator-step__status {
        color: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "text-color-default");
      }

      .hds-stepper-indicator-step__svg-hexagon path {
        fill: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "fill-color-default");
        stroke: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "stroke-color-default");
      }

      &:hover,
      &.mock-hover {
        .hds-stepper-indicator-step__status {
          color: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "text-color-hover");
        }

        .hds-stepper-indicator-step__svg-hexagon {
          path {
            fill: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "fill-color-hover");
            stroke: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "stroke-color-hover");
          }
        }
      }

      &:active,
      &.mock-active {
        .hds-stepper-indicator-step__status {
          color: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "text-color-active");
        }

        .hds-stepper-indicator-step__svg-hexagon {
          path {
            fill: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "fill-color-active");
            stroke: map.get($hds-stepper-indicator-step-interactive-status-props, $status, "stroke-color-active");
          }
        }
      }
    }
  }
}
