/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// STEPPER > INDICATOR > TASK
//

@use "sass:map";

$hds-stepper-indicator-task-statuses: ("incomplete", "progress", "processing", "complete");

// Base styling for indicator::task
.hds-stepper-indicator-task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--hds-stepper-task-indicator-size);
  height: var(--hds-stepper-task-indicator-size);
  color: var(--hds-foreground-color-strong);
}

.hds-stepper-indicator-task__icon {
  width: var(--hds-stepper-task-indicator-icon-size);
  height: var(--hds-stepper-task-indicator-icon-size);
}

.hds-stepper-indicator-task--is-interactive {
  cursor: pointer;

  @each $status in $hds-stepper-indicator-task-statuses {
    &.hds-stepper-indicator-task--status-#{$status} {
      color: var(--hds-stepper-task-indicator-foreground-color-#{$status}-interactive-default);

      &:hover,
      &.mock-hover {
        color: var(--hds-stepper-task-indicator-foreground-color-#{$status}-interactive-hover);
      }

      &:active,
      &.mock-active {
        color: var(--hds-stepper-task-indicator-foreground-color-#{$status}-interactive-active);
      }
    }
  }
}
