// TYPOGRAPHY

.dummy-typography-sample {
    .dummy-h5 {
        color: #999;
        margin-top: 1rem;
    }
}

.dummy-typography-sample--family,
.dummy-typography-sample--weight {
    p {
        margin: 0;
        padding: 0;
    }
}
