{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Layout::Flex Component"}}

<Shw::Text::H1>Layout::Flex</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Direction</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="row (default)">
      <Shw::Outliner>
        <Hds::Layout::Flex @direction="row">
          <Shw::Placeholder @text="item #1" @height="40" @background="#e4c5f3" />
          <Shw::Placeholder @text="item #2" @height="40" @background="#e5ffd2" />
          <Shw::Placeholder @text="item #3" @height="40" @background="#d2f4ff" />
          <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="column" {{style width="25%"}}>
      <Shw::Outliner>
        <Hds::Layout::Flex @direction="column">
          <Shw::Placeholder @text="item #1" @height="40" @background="#e4c5f3" />
          <Shw::Placeholder @text="item #2" @height="40" @background="#e5ffd2" />
          <Shw::Placeholder @text="item #3" @height="40" @background="#d2f4ff" />
          <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

</section>