{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Layout::Flex Component"}}

<Shw::Text::H1>Layout::Flex</Shw::Text::H1>

<section data-test-percy>

  {{! ADD YOUR CONTENT HERE }}

  {{! This below is just an example of invocation, to get started }}
  <Hds::Layout::Flex>This is the Hds::Layout::Flex component </Hds::Layout::Flex>

</section>