{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Layout::Grid Component"}}

<Shw::Text::H1>Layout::Grid</Shw::Text::H1>

<section data-test-percy>

  {{! ADD YOUR CONTENT HERE }}

  {{! This below is just an example of invocation, to get started }}
  <Hds::Layout::Grid>This is the Hds::Layout::Grid component </Hds::Layout::Grid>

</section>