{{page-title "Focus ring"}}

<h2 class="dummy-h2">Focus ring</h2>

<section>
  <h3 class="dummy-h3">How to use</h3>
  <p class="dummy-paragraph">The suggested way to apply a "focus-ring" style to an UI element is using a specific
    <strong>design token</strong>
    in your CSS code as CSS custom property:</p>
  {{! prettier-ignore-start }}
  <CodeBlock
    @language="css"
    @code="
      .your-selector {
        [...your CSS declarations]
        &:focus,
        &:focus-visible {
          box-shadow: var(--token-focus-ring-box-shadow);
        }
      }
    "
  />
  {{! prettier-ignore-end }}
  <p class="dummy-paragraph">We provide also a
    <strong>CSS helper class</strong>
    <code>.hds-focus-ring-box-shadow</code>, that is a wrapper of the design token above, but it's unlikely you can use
    it directly in a template, since this style is connected to the "focused" pseudo-state of an element (more likely it
    would be used in composition with other classes).</p>
  <p class="dummy-paragraph">Which one to use will depend on the context where this style is needed and how it's applied
    (for example, could be applied using a pseudo-element).</p>

  <p class="dummy-paragraph"><strong>🚨 IMPORTANT: 🚨</strong></p>
  <ul>
    <li class="dummy-paragraph">the design token as CSS variable can be used
      <strong>only</strong>
      with a
      <code>box-shadow</code>
      property</li>
    <li class="dummy-paragraph">the border radius depends on the UI element to which is applied to, so we leave to the
      user to apply the right
      <code>border-radius</code>
      (tip: consider to use the
      <code>inherit</code>
      value).</li>
  </ul>

</section>

<section data-test-percy>
  <h3 class="dummy-h3">Showcase</h3>
  <h4 class="dummy-h4">Focus ring:</h4>
  <p class="dummy-paragraph">Standalone "focus ring" effect</p>
  <div class="dummy-focus-ring-samples">
    <div class="dummy-focus-ring-sample hds-focus-ring-box-shadow">
      <DummyPlaceholder @text="no radius" @width="100" @height="100" @background="transparent" />
    </div>
    <div class="dummy-focus-ring-sample dummy-focus-ring-sample--border-radius hds-focus-ring-box-shadow">
      <DummyPlaceholder @text="with border radius" @width="100" @height="100" @background="transparent" />
    </div>
  </div>
</section>