{{page-title "Tokens"}}

<h2 class="dummy-h2">Tokens</h2>

<section>
  <h3 class="dummy-h3">How to use</h3>
  <p class="dummy-paragraph">You can use the design tokens in your CSS code as CSS custom properties:</p>
  {{! prettier-ignore-start }}
  <CodeBlock
    @language="css"
    @code="
      .your-selector {
        color: var(--token-color-highlight-foreground-primary);
        background: var(--token-color-highlight-background-faint);
        border: 1px solid var(--token-color-highlight-border-primary);
        font-family: var(--token-typography-font-stack-text);
        font-family: var(--token-typography-body-base-font-family);
        font-size: var(--token-typography-body-base-font-size);
        line-height: var(--token-typography-body-base-line-height);
      }
    "
  />
  <p class="dummy-paragraph">If a component accepts a color parameter you can use a design token too:</p>
  {{! prettier-ignore-start }}
  <CodeBlock
    @language="markup"
    @code='
      <FlightIcon @name="alert-circle" @color="var(--token-color-success-foreground-primary)" />
    '
  />
</section>

<section>
  <h3 class="dummy-h3">CSS custom properties ("variables")</h3>
  <p class="dummy-paragraph">These are the CSS helper classes that you can use.</p>

  {{#each-in this.tokensList as |category categoryList|}}
    <h4 class="dummy-h4">{{category}}</h4>
    {{#each categoryList as |token|}}
      <pre>
        {{token.name}}
      </pre>
    {{/each}}
  {{/each-in}}

</section>