<table class="doc-markdown-table doc-component-api" ...attributes>
  <thead class="doc-markdown-thead">
    <tr class="doc-markdown-tr">
      <th class="doc-markdown-th">Name</th>
      <th class="doc-markdown-th">Type</th>
      <th class="doc-markdown-th">Value</th>
      <th class="doc-markdown-th">Notes</th>
    </tr>
  </thead>
  <tbody class="doc-markdown-tbody">
    {{yield (hash Property=(component "doc/component-api/property"))}}
  </tbody>
</table>