<tr class="doc-markdown-tr" ...attributes>
  <td class="doc-markdown-td">{{@name}}</td>
  <td class="doc-markdown-td">{{@type}}</td>
  <td class="doc-markdown-td">{{@value}}</td>
  <td class="doc-markdown-td">
    {{yield}}
  </td>
</tr>
