<ul class="doc-vars-list">
  {{#each @items as |item|}}
    <li class="doc-vars-list__item">
      <code>{{item}}</code>
      <CopyButton @text="{{item}}">Copy</CopyButton>
    </li>
  {{/each}}
</ul>