// PAGE WRAPPER

.doc-page-wrapper {
  min-height: 100vh;
}

// SIDE NAVIGATION

$docs-page-sidenav-width: 241px;

.doc-page-sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $docs-page-sidenav-width;
  padding-top: 2rem;
  background: white;
  border-right: 1px solid #ddd;
  transition: margin-left 0.5s ease;
}

.doc-page-sidenav__top-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.doc-page-sidenav__home-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.doc-page-sidenav__logo {
  max-width: 50%;
  margin-bottom: 0.5rem;
}

.doc-page-sidenav__table-of-contents {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

// CONTENT

.doc-page-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

// MAIN

.doc-page-main {
  margin-left: $docs-page-sidenav-width;
  padding: 2rem 4rem;
}

.doc-button-show-sidenav {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

// FOOTER

.doc-page-footer {
  display: flex;
  justify-content: space-between;
  margin-left: $docs-page-sidenav-width;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
}


// RESPONSIVENESS

@media screen and (max-width: 950px) {
  .doc-page-sidenav {
    width: $docs-page-sidenav-width;
    margin-left: -$docs-page-sidenav-width;

    &.doc-page-sidenav--always-show {
      margin-left: 0 !important;
    }
  }

  .doc-page-main,
  .doc-page-footer {
    margin-left: 0;
  }

  .doc-button-show-sidenav {
    display: initial;
  }
}
