// HDS COMPONENTS

@import "@hashicorp/design-system-components";
@import "@hashicorp/design-system-power-select-overrides";

// Tokens (CSS props)
@import "tokens";

// Global declarations
@import "typography";

// Pages declarations
@import "pages/application"; // main application frame
@import "pages/home"; // homepage (index)

// "Doc" components
@import "components/badge";
@import "components/banner";
@import "components/cards";
@import "components/color-card";
@import "components/code-block";
@import "components/do-dont";
@import "components/placeholder";
@import "components/token-card";
@import "components/vars-list";
@import "components/wcag-list";
@import "components/doc-table-of-contents";
@import "components/content/hds-principles";

// Markdown
@import "markdown";


// GLOBALS

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


// PERCY

// Percy (percySnapshot) doesn't allow to target specific DOM elements, so we have to "blacklist" the elements
// that we want to exclude from the snapshots using their own "Percy-specific CSS".
// see: https://docs.percy.io/docs/percy-specific-css#section-hiding-regions-with-percy-specific-css
// notice: we tried to use directly the "percyCSS" option in the percySnapshot() method but it didn't work
// so we had to rely on this specific custom media query

@media only percy {
  // TODO - update these selectors according to the new page structure
  header,
  aside,
  footer,
  main section:not([data-test-percy]) {
    display: none !important;
  }
}
