// HDS COMPONENTS

@import "@hashicorp/design-system-components";
@import "@hashicorp/design-system-power-select-overrides";

// Global declarations
@import "typography";

// Pages declarations
@import "pages/application"; // main application frame

// "Doc" components
@import "components/badge";
@import "components/doc-landing-callout-blocks";
@import "components/doc-table-of-contents";

// Markdown
@import "markdown";


// GLOBALS

:root {
  --doc-page-header-height: 68px;
  --doc-page-sidebar-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

// TODO! move to another file once we have converted this to a "doc" custom component

// stylelint-disable-next-line selector-class-pattern
.self-executing-code-block {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

// stylelint-disable-next-line selector-class-pattern
.self-executing-code-block pre {
  margin: 0;
  padding: 10px;
  border-color: #ccc;
  border-width: 1px;
  border-top-style: solid;
}


// PERCY

// Percy (percySnapshot) doesn't allow to target specific DOM elements, so we have to "blacklist" the elements
// that we want to exclude from the snapshots using their own "Percy-specific CSS".
// see: https://docs.percy.io/docs/percy-specific-css#section-hiding-regions-with-percy-specific-css
// notice: we tried to use directly the "percyCSS" option in the percySnapshot() method but it didn't work
// so we had to rely on this specific custom media query

@media only percy {
  // TODO - update these selectors according to the new page structure
  header,
  aside,
  footer,
  main section:not([data-test-percy]) {
    display: none !important;
  }
}
