// TOKENS (CSS PROPS)

:root {
  --color-gray-white: #fff;
  --color-gray-gray-6: #f2f2f3;
  --color-gray-gray-5: #dbdbdc;
  --color-gray-gray-4: #bfbfc0;
  --color-gray-gray-3: #727374;
  --color-gray-gray-2: #343536;
  --color-gray-gray-1: #1d1e1f;
  --color-gray-black: #000;
  --color-links-link-on-black: #4294ff;
  --color-links-link-on-white: #2264d6;
  --color-feedback-danger: #f25054;
  --color-feedback-danger-text-on-white: #ba2226;
  --color-feedback-danger-border: #ffd4d6;
  --color-feedback-danger-background: #fcf0f2;
  --color-feedback-warning: #eaaa32;
  --color-feedback-warning-text-on-white: #975b06;
  --color-feedback-warning-border: #f9eacd;
  --color-feedback-warning-background: #fcf6ea;
  --color-feedback-success: #00bc7f;
  --color-feedback-success-text-on-white: #007854;
  --color-feedback-success-border: #c1f1e0;
  --color-feedback-success-background: #ebfdf7;
  --color-feedback-info: #1563ff;
  --color-feedback-info-text-on-white: #0d44cc;
  --color-feedback-info-border: #d0e0ff;
  --color-feedback-info-background: #eff5ff;
  // --color-code-dark: #252937;
  // --color-code-light: #f8f8f2;
  // --color-code-light-transparent: #1d1e23;
  // --color-code-comments: #75715e;
  // --color-code-strings: #e6db74;
  // --color-code-numbers: #ae81ff;
  // --color-code-operators: #f92672;
  // --color-code-properties: #a6e22e;
  // --color-code-control: #66d9ef;
}
