{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="shw-placeholder" style={{this.style}} ...attributes>
  {{#if @text}}
    {{@text}}
  {{else}}
    {{yield}}
  {{/if}}
</div>