/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// COPY > SNIPPET
//
@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

@mixin hds-copy-snippet-success-error() {
  &.hds-copy-snippet--status-success {
    background-color: var(--hds-color-surface-interactive);

    .hds-copy-snippet__icon {
      color: var(--hds-color-foreground-success);
    }
  }

  &.hds-copy-snippet--status-error {
    background-color: var(--hds-color-surface-interactive);

    .hds-copy-snippet__icon {
      color: var(--hds-color-foreground-critical);
    }
  }
}

.hds-copy-snippet {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 4px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: var(--hds-border-radius-small);
  cursor: pointer;

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-advanced();
  }

  @include hds-apply-only-if-carbon() {
    border: none;
  }
}

.hds-copy-snippet--color-primary {
  color: var(--hds-color-foreground-action);
  background-color: transparent;

  &:hover,
  &.mock-hover {
    color: var(--hds-color-foreground-action-hover);
    background-color: var(--hds-color-surface-interactive);
    border-color: var(--hds-color-border-strong);
  }

  &:active,
  &.mock-active {
    color: var(--hds-color-foreground-action-active);
    background-color: var(--hds-color-surface-interactive-active);
    border-color: var(--hds-color-border-strong);

    // For Carbon themes there is a color contrast issue with foreground-action-active so foreground-primary is used instead
    @include hds-apply-only-if-carbon() {
      color: var(--hds-color-foreground-primary);
    }
  }

  @include hds-copy-snippet-success-error();
}

.hds-copy-snippet--color-secondary {
  color: var(--hds-color-foreground-primary);
  background-color: transparent;

  // For Carbon themes the color should always be foreground-primary except for the success or error status
  @include hds-apply-only-if-carbon() {
    &:not(.hds-copy-snippet--status-success, .hds-copy-snippet--status-error) .hds-copy-snippet__icon {
      color: var(--hds-color-foreground-primary);
    }
  }

  .hds-copy-snippet__icon {
    color: var(--hds-color-foreground-action);
  }

  &:hover,
  &.mock-hover {
    background-color: var(--hds-color-surface-interactive);
    border-color: var(--hds-color-border-strong);

    .hds-copy-snippet__icon {
      color: var(--hds-color-foreground-action-hover);
    }
  }

  &:active,
  &.mock-active {
    background-color: var(--hds-color-surface-interactive-active);
    border-color: var(--hds-color-border-strong);

    .hds-copy-snippet__icon {
      color: var(--hds-color-foreground-action-active);
    }
  }

  @include hds-copy-snippet-success-error();
}

.hds-copy-snippet--status-success {
  background-color: var(--hds-color-surface-interactive);

  .hds-copy-snippet__icon {
    color: var(--hds-color-foreground-success);
  }
}

.hds-copy-snippet--status-error {
  background-color: var(--hds-color-surface-interactive);

  .hds-copy-snippet__icon {
    color: var(--hds-color-foreground-critical);
  }
}

.hds-copy-snippet__text {
  flex: 1 0 0;
}

.hds-copy-snippet__icon {
  flex: none;
}

.hds-copy-snippet--width-full {
  width: 100%;
  max-width: 100%;
}

.hds-copy-snippet--is-truncated {
  width: 100%;
  max-width: 100%;

  .hds-copy-snippet__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
