// BREAKPOINTS

// general breakdpoints
$doc-breakpoint-medium: 768px;
$doc-breakpoint-large: 1280px;

// we have a special breakpoint for when we show the sidebar
$doc-breakpoint-for-sidebar: 880px;


@mixin small {
  @media (max-width: calc(#{$doc-breakpoint-medium} - 1px)) { @content; }
}

@mixin medium {
  @media (min-width: $doc-breakpoint-medium) and (max-width: calc(#{$doc-breakpoint-large} - 1px)) { @content; }
}

@mixin medium-and-above {
  @media (min-width: $doc-breakpoint-medium) { @content; }
}

@mixin large {
  @media (min-width: $doc-breakpoint-large) { @content; }
}

@mixin with-mobile-sidebar {
  @media (max-width: calc(#{$doc-breakpoint-for-sidebar} - 1px)) { @content; }
}

@mixin with-fixed-sidebar {
  @media (min-width: $doc-breakpoint-for-sidebar) { @content; }
}
