/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// BREAKPOINTS

// general breakdpoints
$doc-breakpoint-medium: 768px;
$doc-breakpoint-large: 1280px;
$doc-breakpoint-x-large: 1450px;

// we have a special breakpoint for when we show the sidebar
$doc-breakpoint-for-sidebar: 880px;


@mixin small {
  @media (width <= calc(#{$doc-breakpoint-medium} - 1px)) { @content; }
}

@mixin medium-only {
  @media (min-width: $doc-breakpoint-medium) and (width <= calc(#{$doc-breakpoint-large} - 1px)) { @content; }
}

@mixin medium {
  @media (min-width: $doc-breakpoint-medium) { @content; }
}

@mixin large {
  @media (min-width: $doc-breakpoint-large) { @content; }
}

@mixin x-large {
  @media (min-width: $doc-breakpoint-x-large) { @content; }
}

@mixin with-mobile-sidebar {
  @media (width <= calc(#{$doc-breakpoint-for-sidebar} - 1px)) { @content; }
}

@mixin with-fixed-sidebar {
  @media (min-width: $doc-breakpoint-for-sidebar) { @content; }
}
