/**
 * This is the only resetting we will do. Any other resets need to come from
 * the addon itself. We recommend implementing normalize.css
 */
body {
  margin: 0;
}

.field-guide-wrapper {
  min-height: 100vh;
}

.field-guide-wrapper .field-guide-sidenav {
  transition: margin-left 0.5s ease;
  background: white;
  width: 241px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2em;

  border-right-color: #DDD;
  border-right-width: 1px;
  border-right-style: solid;

}

.field-guide-logo {
  max-width: 50%;
  margin-bottom: .5em;
}

.field-guide-fake-logo {
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  margin-bottom: .5em;
}

.field-guide-table-of-contents {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

.field-guide-toc {
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  width: 100%;
}

.field-guide-toc-item {
  padding: .5em 0;
}

.active .field-guide-toc-item {
  background-color: #F0F0F0;
  border-left: 5px solid #777;
  box-sizing: border-box;
}

.field-guide-toc-item-link a {
  color: inherit;
}

.field-guide-toc-item-link:hover {
  background-color: #F0F0F0;
}

.field-guide-wrapper .home-link {
  font-size: 1.2em;
  text-decoration: none;
  color: inherit;
  width: 100%;

  padding-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDD;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-guide-wrapper-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.field-guide-wrapper-full-height > main {
  margin-left: 241px;
  padding: 2em 4em;
}

.field-guide-footer {
  margin-left: 241px;
  background-color: #F0F0F0;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.field-guide-footer-info {
  flex-grow: 1;
}

.field-guide-footer-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
}

.field-guide-socials img {
  max-width: 20px;
  margin-left: 0.7em;
  height: auto;
}

.field-guide-socials a {
  text-decoration: none;
}

.field-guide-socials {
  margin: 0;
  padding: 0 0 .6em 0;
  text-align: right;
}

.field-guide-socials li {
  display: inline-block;
  padding: 0;
  marign: 0;
}

.self-executing-code-block {
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.self-executing-code-block pre {
  border-color: #CCC;
  border-width: 1px;
  border-top-style: solid;
  padding: 10px;
  margin: 0;
}

.field-guide-show-sidenav {
  display: none;

  position: absolute;
  top:5px;
  left:5px;

  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 950px) {
  .field-guide-wrapper-full-height > main {
    margin-left: 0px;
  }

  .field-guide-wrapper .field-guide-sidenav {
    width: 241px;
    margin-left: -241px;
  }

  .field-guide-footer {
    margin-left: 0px;
  }

  .field-guide-show-sidenav {
    display: inherit;
  }

  .field-guide-sidenav-always-show {
    margin-left: 0 !important;
  }
}
