:root {
  --aside-width: calc(200px + 1 * 2rem);
  --main-width: calc(1024px + 2 * 2rem);
  --content-width: calc(var(--aside-width) + var(--main-width));
}

.dummy-app {
  @media screen and (min-width: 40em) {
    display: grid;
    grid-template-areas:
      'header header header header'
      '. aside main .'
      'footer footer footer footer';
    grid-template-rows: auto 1fr auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-columns:
      1fr
      minmax(12em, var(--aside-width))
      minmax(30em, var(--main-width))
      1fr;
  }
}

.dummy-header {
  grid-area: header;
}

.dummy-aside {
  grid-area: aside;
}

.dummy-main {
  grid-area: aside/aside/main/main;
}

.dummy-aside + .dummy-main {
  grid-area: main;
}

.dummy-footer {
  grid-area: footer;
}
