@use "sass:math";
@use "./mixins" as *;

@mixin dummyFontFamily() {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

@mixin dummyFontSize($size) {
  margin-bottom: math.div($size, 4);
  font-size: $size;

  &:not(:first-child) {
    margin-top: $size;
  }
}

// TYPOGRAPHY

.shw-text-h1 {
  @include dummyFontFamily();
  @include dummyFontSize(3rem);
  font-weight: 700;
  line-height: 1.2;
}

.shw-text-h2 {
  @include dummyFontFamily();
  @include dummyFontSize(2.5rem);
  margin-top: 0.75rem; // makes it seem balanced visually with sidebar
  font-weight: 600;
  line-height: 1.2;
}

.shw-text-h3 {
  @include dummyFontFamily();
  @include dummyFontSize(2rem);
  font-weight: 600;
  line-height: 1.2;
}

.shw-text-h4 {
  @include dummyFontFamily();
  @include dummyFontSize(1.5rem);
  font-weight: 500;
  line-height: 1.2;
}

.shw-text-h5 {
  @include dummyFontFamily();
  @include dummyFontSize(1.25rem);
  font-weight: 500;
  line-height: 1.2;
}

.shw-text-h6 {
  @include dummyFontFamily();
  @include dummyFontSize(1.125rem);
  font-weight: 500;
  line-height: 1.2;
}

.shw-text-body {
  @include dummyFontFamily();
  @include dummyFontSize(1rem);
  line-height: 1.2;
}

.dummy-text-body-small {
  @include dummyFontFamily();
  font-size: 0.8rem;
  line-height: 2;
}

// ALIGNMENT

.shw-text-align-left {
  text-align: left;
}

.shw-text-align-center {
  text-align: center;
}

.shw-text-align-right {
  text-align: right;
}

// WEIGHT

.shw-text-weight-regular {
  font-weight: regular;
}

.shw-text-weight-bold {
  font-weight: bold;
}


// HEADINGS

// Notice: vertical spacing is declared in `/styles/spacing`

.doc-markdown-h1 {
  @include doc-font-style-h1 ();
}

.doc-markdown-h2 {
  @include doc-font-style-h2 ();
}

.doc-markdown-h3 {
  @include doc-font-style-h3 ();
}

.doc-markdown-h4 {
  @include doc-font-style-h4 ();
}

.doc-markdown-h5 {
  @include doc-font-style-h5 ();
}

.doc-markdown-h6 {
  @include doc-font-style-h6 ();
}

// BODY COPY

// Notice: vertical spacing is declared in `/styles/spacing`

.doc-markdown-p,
.doc-markdown-ul,
.doc-markdown-ol {
  @include doc-font-style-body();
}

.doc-markdown-code {
  @include doc-font-family("mono");
  padding: 0.25em 0.5em;
  font-weight: inherit;
  font-size: 0.8em; // no need to set the line-height, it's an inline element!
  background-color: var(--doc-color-gray-600);
  border-radius: 0.22em;
}
