@import "@hashicorp/design-system-components";

@import "./_layout.scss";
@import "./_typography";

// Notice: this list can be automatically edited by the Ember blueprint, please don"t remove the start/end comments
// START COMPONENT PAGES IMPORTS
@import "./pages/db-alert";
@import "./pages/db-badge";
@import "./pages/db-breadcrumb";
@import "./pages/db-button";
@import "./pages/db-card";
@import "./pages/db-colors";
@import "./pages/db-disclosure";
@import "./pages/db-dropdown";
@import "./pages/db-elevation";
@import "./pages/db-focus-ring";
@import "./pages/db-icon-tile";
@import "./pages/db-interactive";
@import "./pages/db-link-inline";
@import "./pages/db-link-standalone";
@import "./pages/db-toast";
@import "./pages/db-tokens";
@import "./pages/db-typography";
@import "./pages/form/db-base-elements";
@import "./pages/form/db-text-input";
// END COMPONENT PAGES IMPORTS

@import "./components/dummy-component-props";
@import "./components/dummy-footer";
@import "./components/dummy-link-cta-button-banner";
@import "./components/dummy-placeholder";
@import "./components/dummy-sidebar";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body.dummy-app {
  background-color: #d9d9d9;
  color: black;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  .dummy-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.75rem;

    .dummy-h1 {
      margin: 0 auto;
      padding: 0.5rem 1rem;
    }
  }

  .dummy-aside {
    background-color: #fff;
    padding: 2rem 1rem;
  }

  .dummy-main {
    background-color: #fff;
    padding: 2rem;
  }
}

.dummy-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.dummy-design-guidelines {
  p {
    color: #666;
  }

  img {
    width: 1280px;
    height: auto;
    max-width: 100%;
  }
}

.dummy-divider {
  margin: 2rem 0;
}
.dummy-demo-border {
  border: 1px solid red;
}

.dummy-example {
  border: 1px solid pink;
  border-radius: 4px;
  padding: 16px;

  p {
    margin: 0;
  }
}

.dummy-code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.dummy-banner {
  padding: 0.75rem 1.25rem;
  margin: 1rem auto;
  border: 1px solid #d6d8db;
  border-radius: 0.25rem;
  background-color: #e2e3e5;

  :first-child {
    margin-top: 0;
  }
}

.dummy-banner--info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.dummy-banner--alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.dummy-link-section {
  text-decoration: none;
}

.dummy-npm-version {
  @include dummyFontFamily();
  color: #ccc;
  display: inline-flex;
  font-size: 1rem;
  gap: 1rem;
  line-height: 1.2;
}

// Percy (percySnapshot) doesn't allow to target specific DOM elements, so we have to "blacklist" the elements
// that we want to exclude from the snapshots using their own "Percy-specific CSS".
// see: https://docs.percy.io/docs/percy-specific-css#section-hiding-regions-with-percy-specific-css
// notice: we tried to use directly the "percyCSS" option in the percySnapshot() method but it didn't work
// so we had to rely on this specific custom media query

@media only percy {
  header,
  aside,
  footer,
  main section:not([data-test-percy]) {
    display: none !important;
  }
}
