<div class="doc-card-interactive-demo">
  <Hds::Card::Container @level="mid" @levelHover="high" @levelActive="mid" @hasBorder={{true}}>
    <a href="#">
      [Your static content here]
    </a>
  </Hds::Card::Container>
</div>