{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "<%= columnizedModuleName %> Component"}}

<Shw::Text::H1><%= columnizedModuleName %></Shw::Text::H1>

<section data-test-percy>

  {{! ADD YOUR CONTENT HERE }}

  {{! This below is just an example of invocation, to get started }}
  <Hds::<%= columnizedModuleName %>>This is the Hds::<%= columnizedModuleName %> component </Hds::<%= columnizedModuleName %>>

</section>