<Hds::Text::Body @tag="div" @size="200" @color="strong">
  <p>This is some generic text in a paragraph.</p>
  <ul>
    <li>this list item contains some <strong>strong</strong> and <em>em</em> tags</li>
    <li>this list item contains a <Hds::Link::Inline @href="#">link</Hds::Link::Inline></li>
  </ul>
  <p>This is also some generic text in a paragraph.</p>
</Hds::Text::Body>