/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > CHARACTER-COUNT
//

@use "../../mixins/carbonization" as *;

.hds-form-character-count {
  color: var(--token-form-helper-text-color);
  font-size: var(--token-form-character-count-font-size);
  font-family: var(--token-typography-body-100-font-family);
  line-height: var(--token-typography-body-100-line-height);

  @include hds-apply-only-if-carbon() {
    margin-top: 8px;
  }
}
