/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > CHARACTER-COUNT
//

@use "../../mixins/carbonization" as *;

.hds-form-character-count {
  color: var(--hds-form-character-count-foreground-color);
  font-size: var(--hds-form-character-count-typography-font-size);
  font-family: var(--hds-typography-font-stack-text);
  line-height: var(--hds-form-character-count-typography-line-height);
}
