/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > ERROR
//

@use "../../mixins/carbonization" as *;

.hds-form-error {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  color: var(--hds-form-error-foreground-color);
  font-weight: var(--hds-typography-font-weight-medium);
  font-size: var(--hds-form-error-typography-font-size);
  font-family: var(--hds-typography-font-stack-text);
  line-height: var(--hds-form-error-typography-line-height);
}

.hds-form-error__icon {
  flex: none;
  width: var(--hds-form-error-icon-size);
  height: var(--hds-form-error-icon-size);
  margin: 2px 0 2px 0;

  @include hds-apply-only-if-carbon() {
    margin: 1px 0 1px 0;
  }
}

.hds-form-error__content {
  flex: 1 1 auto;
}

.hds-form-error__message {
  margin: 0;
}
