/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > FILE-INPUT
//

// Note: There is a linting issue with a return after the `+` operator in the `padding-left` property of
// the `::file-selector-button` selector. We need to disable the rule for the entire file in this case

/* stylelint-disable scss/operator-no-newline-after */

@use "../../mixins/button" as *;
@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

.hds-form-file-input {
  width: 100%; // we want to prevent the input from overflowing its container
  margin: -4px 0 -4px -4px; // offset shadow padding + default 1px spacing
  padding: 3px 0 3px 3px; // add padding so button shadow is visible
  color: var(--token-color-foreground-primary);

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button
// https://caniuse.com/?search=file-selector-button

// Button
.hds-form-file-input::file-selector-button {
  @include hds-button();
  @include hds-button-color-secondary();

  $hds-form-file-input-background-position-x: 15px;

  display: inline-flex; // override display: flex in hds-button() mixin
  min-height: 36px;
  margin-right: 16px;
  padding: 7px 16px 7px; // padding in code altered to match Figma visual design
  padding-left: calc(
    #{$hds-form-file-input-background-position-x} + var(--token-form-text-input-background-image-size) +
      var(--token-button-gap)
  );

  // upload icon
  background-image: var(--token-form-file-input-background-image-data-url-file-selector-button-default);
  background-repeat: no-repeat;
  background-position: $hds-form-file-input-background-position-x 50%;
  background-size: var(--token-form-text-input-background-image-size);

  @include hds-apply-only-if-carbon() {
    @include hds-button-color-primary();
    min-height: 40px; // 2.5rem // TODO: create a token for this value
  }
}

// Button states

// hover
.hds-form-file-input::file-selector-button:hover,
.hds-form-file-input.mock-hover::file-selector-button {
  @include hds-button-color-secondary-state-hover();

  @include hds-apply-only-if-carbon() {
    @include hds-button-color-primary-state-hover();
  }
}

// focus
.hds-form-file-input:focus-within::file-selector-button,
.hds-form-file-input.mock-focus::file-selector-button {
  @include hds-focus-ring-basic();
  @include hds-button-color-secondary-state-focus();
  border-color: var(--token-color-focus-action-internal);

  @include hds-apply-only-if-carbon() {
    @include hds-button-color-primary-state-focus();
  }
}

// Fix issue with button focus style which was displaying after button was activated
.hds-form-file-input:not(:focus, .mock-focus) {
  &::file-selector-button {
    border-color: var(--token-button-border-color-secondary-default);
    outline: 0;

    @include hds-apply-only-if-carbon() {
      border-color: var(--token-button-border-color-primary-default);
    }
  }
}

// active
.hds-form-file-input::file-selector-button:active,
.hds-form-file-input.mock-active::file-selector-button {
  @include hds-button-color-secondary-state-active();

  @include hds-apply-only-if-carbon() {
    @include hds-button-color-primary-state-active();
  }
}

// disabled
.hds-form-file-input {
  &:disabled,
  &[disabled],
  &.mock-disabled,
  &:disabled:focus,
  &[disabled]:focus,
  &.mock-disabled:focus,
  &:disabled:hover,
  &[disabled]:hover,
  &.mock-disabled:hover {
    color: var(--token-color-foreground-disabled);

    &::file-selector-button {
      @include hds-button-state-disabled();
      background-image: var(--token-form-file-input-background-image-data-url-file-selector-button-disabled);
    }
  }
}
