/**
 * Copyright IBM Corp. 2021, 2026
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > HELPER-TEXT
//

.hds-form-helper-text {
  display: block;
  color: var(--token-form-helper-text-foreground-color);
  font-weight: var(--token-typography-font-weight-regular);
  font-size: var(--token-form-helper-text-typography-font-size);
  font-family: var(--token-typography-font-stack-text);
  line-height: var(--token-form-helper-text-typography-line-height);
}
