/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > INDICATOR
//

// Used for the 'optional' indicator
.hds-form-indicator--optional {
  color: var(--token-form-indicator-optional-color);
}
