/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > INDICATOR
//

// Used for the 'optional' indicator
.hds-form-indicator--optional {
  color: var(--hds-form-indicator-optional-foreground-color);
  font-weight: var(--hds-typography-font-weight-regular);
  font-size: var(--hds-form-indicator-optional-typography-font-size);
  font-family: var(--hds-typography-font-stack-text);
  line-height: var(--hds-form-indicator-optional-typography-line-height);
}
