/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > LEGEND
//

.hds-form-legend {
  display: block;
  // the element has an user-agent padding applied to it
  padding: 0;
  color: var(--hds-form-legend-foreground-color);
  font-weight: var(--hds-form-legend-typography-font-weight);
  font-size: var(--hds-form-legend-typography-font-size);
  font-family: var(--hds-typography-font-stack-text);
  line-height: var(--hds-form-legend-typography-line-height);

  // if a "badge" element (included the 'required' indicator) is child of the legend
  // we need to make sure that it correctly aligns with the legend text because the
  // "Hds::Badge" component has "vertical-align: middle" applied to it
  // and this mess up the vertical alignment (increasing the container's height too)
  .hds-badge {
    vertical-align: initial;
  }
}
