/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// MASKED-INPUT
//

@use "../../mixins/carbonization" as *;

.hds-form-masked-input {
  position: relative;
  display: grid;
  grid-template-areas: "input copy-button";
  grid-template-columns: 1fr auto;
  width: 100%;

  .hds-form-masked-input__control {
    grid-area: input;
    // Add space for positioned toggle-button.
    // In the case of the HDS theme, the width of the button plus its positioning from the edge of the input need to be taken into account
    // In the case of carbon themes, the button is positioned to the input edge with no extra space around it (its width is wider)
    padding-right: calc(var(--hds-form-control-padding-horizontal) + var(--hds-form-visibility-toggle-size));
    scrollbar-width: thin;

    @include hds-apply-only-if-carbon() {
      padding-right: var(--hds-form-visibility-toggle-size);
    }
  }
}

.hds-form-masked-input--is-masked {
  .hds-form-masked-input__control {
    -webkit-text-security: disc;
  }
}

.hds-form-masked-input--is-not-masked {
  .hds-form-masked-input__control {
    -webkit-text-security: none;
  }
}

.hds-form-masked-input__toggle-button {
  position: absolute;
  top: calc(var(--hds-form-control-padding-vertical) - var(--hds-form-control-border-width));
  right: calc(var(--hds-form-control-padding-horizontal) - var(--hds-form-control-border-width));
  grid-area: input;

  @include hds-apply-only-if-carbon() {
    top: 0;
    right: 0;
  }
}

.hds-form-masked-input__copy-button {
  grid-area: copy-button;
  align-self: flex-start;
  margin-left: 8px;
}
