/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > RADIO
//

// "BASE" CONTROL

@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

.hds-form-radio {
  width: var(--hds-form-radio-size);
  height: var(--hds-form-radio-size);
  margin: 0;
  padding: 0;
  background-position: center center;
  background-size: var(--hds-form-radio-background-image-size) var(--hds-form-radio-background-image-size);
  border-style: solid;
  border-width: var(--hds-form-radio-border-width);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;

  // STATUS

  // base (default)

  &:not(:checked) {
    background-color: var(--hds-form-control-unchecked-surface-color-default);
    border-color: var(--hds-form-control-unchecked-border-color-default);
    box-shadow: var(--hds-elevation-inset-box-shadow);
  }

  &:checked {
    background-color: var(--hds-form-control-checked-surface-color-default);
    background-image: var(--hds-form-radio-background-image-data-url);
    border-color: var(--hds-form-control-checked-border-color-default);

    // TODO: Update related token
    @include hds-apply-only-if-carbon() {
      background-color: pink; // TEMP: for testing
    }
  }

  // hover

  &:hover:not(:checked),
  &.mock-hover:not(:checked) {
    background-color: var(--hds-form-control-unchecked-surface-color-hover);
    border-color: var(--hds-form-control-unchecked-border-color-hover);
  }

  &:hover:checked,
  &.mock-hover:checked {
    background-color: var(--hds-form-control-checked-surface-color-hover);
    border-color: var(--hds-form-control-checked-border-color-hover);
  }

  // focus (same for all the states)

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-basic($external-outline-offset: 1px, $has-internal-border: false);
  }

  // DISABLED

  &:disabled:not(:checked) {
    background-color: var(--hds-form-control-unchecked-surface-color-disabled);
    border-color: var(--hds-form-control-unchecked-border-color-disabled);
    box-shadow: none;
    cursor: not-allowed;
  }

  &:disabled:checked {
    background-color: var(--hds-form-control-checked-surface-color-disabled);
    background-image: var(--hds-form-radio-background-image-data-url-disabled);
    border-color: var(--hds-form-control-checked-border-color-disabled);
    box-shadow: none;
    cursor: not-allowed;

    // TODO: Update related token
    @include hds-apply-only-if-carbon() {
      background-color: pink; // TEMP: for testing
    }
  }
}
