/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > RADIO-CARD
//

@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

// RadioCard Group

.hds-form-group--radio-cards {
  .hds-form-group__control-fields-wrapper {
    margin: calc(-1 * var(--hds-form-radio-card-group-gap) / 2);
  }

  .hds-form-group__legend {
    margin-bottom: 12px;
  }

  .hds-form-radio-card {
    margin: calc(var(--hds-form-radio-card-group-gap) / 2);
  }

  .hds-form-radio-card--has-fluid-width {
    flex: 1 0 0;
  }

  .hds-form-radio-card--has-fixed-width {
    flex: 1 0 100%;
  }
}

// RadioCard

.hds-form-radio-card {
  display: flex;
  flex-direction: column;
  background-color: var(--hds-surface-color-primary);
  border: var(--hds-form-radio-card-border-width) solid var(--hds-form-radio-card-border-color-default);
  border-radius: var(--hds-form-radio-card-border-radius);
  box-shadow: var(--hds-elevation-mid-box-shadow);
  cursor: pointer;

  // prevent focus on the form control as it is handled at the card level
  .hds-form-radio-card__control {
    outline-color: transparent;
  }

  // STATES

  &:hover,
  &.mock-hover {
    background-color: var(--hds-form-radio-card-surface-color-hover);
    box-shadow: var(--hds-elevation-high-box-shadow);
    transition: var(--hds-form-radio-card-transition-duration);
  }

  // this is an exception, we use `focus-within` instead of `focus-visible`
  // because the element receiving the actual focus is the `hds-form-radio-card__control`
  // but the focus ring is applied to the parent `hds-form-radio-card`
  &:focus-within,
  &.mock-focus {
    @include hds-focus-ring-basic();
  }

  &.hds-form-radio-card--checked {
    border-color: var(--hds-form-radio-card-border-color-checked-default);

    .hds-form-radio-card__control-wrapper {
      background-color: var(--hds-form-radio-card-control-wrapper-surface-color-checked);
      border-color: var(--hds-form-radio-card-control-wrapper-border-color-checked);
    }

    &:hover,
    &.mock-hover {
      border-color: var(--hds-form-radio-card-border-color-checked-hover);
    }
  }

  // note: using full class name so it overrides the :hover styles
  &.hds-form-radio-card--disabled {
    background-color: var(--hds-form-radio-card-surface-color-disabled);
    border-color: var(--hds-border-color-primary);
    box-shadow: none;
    cursor: not-allowed;

    .hds-form-radio-card__control-wrapper {
      background-color: var(--hds-form-radio-card-control-wrapper-surface-color-disabled);
      border-color: var(--hds-form-radio-card-control-wrapper-border-color-disabled);
    }

    .hds-form-radio-card__content {
      opacity: 0.5;
    }

    &:hover,
    &.mock-hover {
      border-color: var(--hds-border-color-primary);
    }
  }
}

// ALIGNMENT

.hds-form-radio-card--align-left {
  text-align: left;
}

.hds-form-radio-card--align-center {
  text-align: center;

  // stylelint-disable-next-line selector-class-pattern
  .hds-icon {
    margin: auto;
  }
}

// CONTROL POSITION

.hds-form-radio-card--control-bottom {
  .hds-form-radio-card__control-wrapper {
    border-top-width: var(--hds-form-radio-card-border-width);
    border-top-style: solid;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.hds-form-radio-card--control-left {
  flex-direction: row-reverse;

  .hds-form-radio-card__control-wrapper {
    display: flex;
    align-items: center;
    border-right-width: var(--hds-form-radio-card-border-width);
    border-right-style: solid;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.hds-form-radio-card__content {
  flex: 1;
  padding: var(--hds-form-radio-card-content-padding);

  .hds-badge {
    margin-bottom: 12px;
  }
}

.hds-form-radio-card__label {
  display: block;
  margin: 8px 0;
  color: var(--hds-form-radio-card-label-foreground-color);
  font-weight: var(--hds-form-radio-card-label-typography-font-weight);
  font-size: var(--hds-form-radio-card-label-typography-font-size);
  font-family: var(--hds-typography-display-300-font-family);
  line-height: var(--hds-typography-display-300-line-height);
  overflow-wrap: break-word;

  &:first-child {
    margin-top: 0;
  }
}

.hds-form-radio-card__description {
  display: block;
  color: var(--hds-foreground-color-primary);
  font-weight: var(--hds-typography-font-weight-regular);
  font-size: var(--hds-form-radio-card-description-typography-font-size);
  font-family: var(--hds-typography-body-100-font-family);
  line-height: var(--hds-typography-body-100-line-height);
}

.hds-form-radio-card__control-wrapper {
  padding: var(--hds-form-radio-card-control-wrapper-padding);
  background-color: var(--hds-form-radio-card-control-wrapper-surface-color-default);
  border-color: var(--hds-form-radio-card-control-wrapper-border-color-default);
}

.hds-form-radio-card__control {
  display: block;
  width: var(--hds-form-radio-card-control-size);
  height: var(--hds-form-radio-card-control-size);
  margin: auto;
}
