/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > SELECT
//

@use "../../mixins/focus-ring" as *;

// "BASE" CONTROL

.hds-form-select {
  max-width: 100%;
  padding: var(--hds-form-control-padding);
  padding-right: calc(var(--hds-form-control-padding) + 24px); // extra space for the icon
  color: var(--hds-form-control-base-foreground-color);
  background-color: var(--hds-form-control-base-surface-color-default);
  background-image: var(--hds-form-select-background-image-data-url);
  background-repeat: no-repeat;
  background-position: right var(--hds-form-select-background-image-position-right-x) top
    var(--hds-form-select-background-image-position-top-y); // we have to take into account the border
  background-size: var(--hds-form-select-background-image-size) var(--hds-form-select-background-image-size);
  border: var(--hds-form-control-border-width) solid var(--hds-form-control-base-border-color-default);
  border-radius: var(--hds-form-control-border-radius);
  box-shadow: var(--hds-elevation-low-box-shadow);
  appearance: none;

  // STATUS

  &:hover,
  &.mock-hover {
    border-color: var(--hds-form-control-base-border-color-hover);
  }

  // focus (same for all the states)

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-basic();
    border-color: var(--hds-color-focus-action-internal);
  }

  // DISABLED

  &:disabled {
    color: var(--hds-form-control-disabled-foreground-color);
    background-color: var(--hds-form-control-disabled-surface-color);
    background-image: var(--hds-form-select-background-image-data-url-disabled);
    border-color: var(--hds-form-control-disabled-border-color);
    box-shadow: none;
    cursor: not-allowed;
  }

  // INVALID

  &.hds-form-select--is-invalid {
    border-color: var(--hds-form-control-invalid-border-color-default);

    &:hover,
    &.mock-hover {
      border-color: var(--hds-form-control-invalid-border-color-hover);
    }

    &:focus-visible,
    &.mock-focus {
      border-color: var(--hds-color-focus-critical-internal);
      outline-color: var(--hds-color-focus-critical-external);
    }
  }
}

// MULTIPLE/SIZE

.hds-form-select {
  &[multiple],
  &[size] {
    background: none;

    option {
      margin: 2px auto;
      border-radius: var(--hds-border-radius-x-small);

      &:hover {
        color: var(--hds-color-foreground-action);
      }

      &:disabled {
        color: var(--hds-color-foreground-disabled);
      }

      &:checked {
        color: var(--hds-color-foreground-high-contrast);
        background: var(--hds-core-color-blue-200);
      }
    }

    optgroup {
      color: var(--hds-color-foreground-strong);
      font-weight: var(--hds-typography-font-weight-semibold);
      font-style: normal; // reset Firefox default
    }
  }
}
