/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > TEXT-INPUT
//

@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

// "BASE" CONTROL

.hds-form-text-input {
  width: 100%;
  max-width: 100%;
  padding: var(--token-form-control-padding);
  color: var(--token-form-control-base-foreground-color);
  background-color: var(--token-form-control-base-surface-color-default);
  border: var(--token-form-control-border-width) solid var(--token-form-control-base-border-color-default);
  border-radius: var(--token-form-control-border-radius);
  box-shadow: var(--token-elevation-inset-box-shadow);

  @include hds-apply-only-if-carbon() {
    min-height: 40px;
    padding: 0 var(--token-form-control-padding);
    // Carbon's text input has only a bottom border
    border-width: 0 0 var(--token-form-control-border-width) 0;
  }

  // PLACEHOLDER

  &::placeholder {
    color: var(--token-form-control-base-placeholder-foreground-color-default);
  }

  // STATUS

  &:hover,
  &.mock-hover {
    border-color: var(--token-form-control-base-border-color-hover);
  }

  // focus (same for all the states)

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-basic();
    border-color: var(--token-color-focus-action-internal);
  }

  // READONLY

  &:read-only {
    color: var(--token-form-control-readonly-foreground-color);
    background-color: var(--token-form-control-readonly-surface-color);
    border-color: var(--token-form-control-readonly-border-color);
    box-shadow: none;
  }

  // DISABLED

  &:disabled {
    color: var(--token-form-control-disabled-foreground-color);
    background-color: var(--token-form-control-disabled-surface-color);
    border-color: var(--token-form-control-disabled-border-color);
    box-shadow: none;
    cursor: not-allowed;

    &::placeholder {
      color: var(--token-form-control-base-placeholder-foreground-color-disabled);
    }
  }

  // INVALID

  &.hds-form-text-input--is-invalid {
    border-color: var(--token-form-control-invalid-border-color-default);

    @include hds-apply-only-if-carbon() {
      outline: 2px solid var(--token-form-control-invalid-border-color-default);
      outline-offset: -2px;
    }

    &:hover,
    &.mock-hover {
      border-color: var(--token-form-control-invalid-border-color-hover);
    }

    &:focus-visible,
    &.mock-focus {
      border-color: var(--token-color-focus-critical-internal);
      outline-color: var(--token-color-focus-critical-external);
    }
  }
}

// "TYPE" CUSTOMIZATION

.hds-form-text-input__wrapper {
  position: relative;
  width: 100%;
}

// PASSWORD

.hds-form-text-input--has-visibility-toggle {
  padding-right: calc(var(--token-form-control-padding) + 24px);
}

.hds-form-text-input__visibility-toggle {
  position: absolute;
  top: 0;
  right: calc(var(--token-form-control-padding) - var(--token-form-control-border-width));
  bottom: 0;
  margin: auto 0;
}

.hds-form-text-input {
  // DATE/TIME

  &[type="date"],
  &[type="time"],
  &[type="datetime-local"],
  &[type="month"],
  &[type="week"] {
    // browsers set a specific width for these controls, we want to keep it in the HDS theme
    width: var(--token-form-text-input-date-time-width);

    // show the native icon dimmed if disabled (hidden in Chrome)
    &:disabled::-webkit-calendar-picker-indicator {
      visibility: visible;
      opacity: 0.5;

      @include hds-apply-only-if-carbon() {
        // hide the icon in disabled state for Carbon themes
        opacity: 0;
      }
    }

    // show the icon if readonly
    // notice: don't change the "[readonly]" selector to ":readonly" because it's needed to overwrite the specificity in Chrome
    &[readonly]::-webkit-calendar-picker-indicator {
      visibility: visible;

      @include hds-apply-only-if-carbon() {
        opacity: 1;
      }
    }
  }

  // we override the default icon with the Flight corresponding one
  // notice: the original in Chrome has two assets, one for light and one for dark mode, and uses a special syntax, but apparently it doesn't work if used in a stylesheet
  &[type="date"],
  &[type="datetime-local"],
  &[type="month"],
  &[type="week"] {
    &::-webkit-calendar-picker-indicator {
      background-image: var(--token-form-text-input-background-image-data-url-date-default);
      background-position: center center;
      background-size: var(--token-form-text-input-background-image-size);

      @include hds-apply-only-if-carbon() {
        // We use the native browser default icon
        background-image: revert;
        background-position: revert;
        background-size: revert;
      }
    }
  }

  &[type="time"] {
    &::-webkit-calendar-picker-indicator {
      background-image: var(--token-form-text-input-background-image-data-url-time);
      background-position: center center;
      background-size: var(--token-form-text-input-background-image-size);

      @include hds-apply-only-if-carbon() {
        // We use the native browser default icon
        background-image: revert;
        background-position: revert;
        background-size: revert;
      }
    }
  }
}

// SEARCH
.hds-form-text-input[type="search"] {
  padding-left: calc(var(--token-form-control-padding) + 24px); // extra space for the icon
  background-image: var(--token-form-text-input-background-image-data-url-search-default);
  background-repeat: no-repeat;
  background-position: var(--token-form-text-input-background-image-position-x) 50%;
  background-size: var(--token-form-text-input-background-image-size);

  // make space for invalid icon + search cancel button
  &.hds-form-text-input--is-invalid {
    @include hds-apply-only-if-carbon() {
      padding-right: calc(2.5rem + 40px);
    }
  }

  @include hds-apply-only-if-carbon() {
    // make space for search cancel button
    // TODO:
    // * Create a new token for the search cancel button width and use it here,
    // * Add extra padding to space out the input text from the button
    // * BUG: padding being overridden in the invalid state (& the invalid icon is overlapping the search cancel button)
    padding-right: 40px;

    &:disabled {
      background-image: var(--token-form-text-input-background-image-data-url-search-disabled);
    }
  }

  // SEARCH CANCEL BUTTON
  &::-webkit-search-cancel-button {
    width: var(--token-form-text-input-background-image-size);
    height: var(--token-form-text-input-background-image-size);
    background-image: var(--token-form-text-input-background-image-data-url-search-cancel);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--token-form-text-input-background-image-size);
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;
  }

  &:not(:disabled, [readonly]) {
    // Display native search cancel button for hover examples in Showcase
    &:hover,
    &.mock-hover {
      &::-webkit-search-cancel-button {
        opacity: 1;
      }
    }

    @include hds-apply-only-if-carbon() {
      // For Showcase examples we are setting the mock hover state on the parent input
      &.mock-hover {
        &::-webkit-search-cancel-button {
          background-color: var(--token-color-surface-interactive-hover);
        }
      }

      // Display native search cancel button in carbonized non-disabled, non-readonly search input
      &::-webkit-search-cancel-button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 100%;
        margin: 0;
        opacity: 1;

        &:hover {
          background-color: var(--token-color-surface-interactive-hover);
        }
      }
    }
  }

  // IS LOADING
  &.hds-form-text-input--is-loading {
    background-image: var(--token-form-text-input-background-image-data-url-search-loading);
  }
}
