/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// FORM > TEXT-INPUT
//

@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;
@use "../../mixins/form-control" as *;

// "BASE" CONTROL

.hds-form-text-input {
  @include hds-form-control-border();
  width: 100%;
  max-width: 100%;
  min-height: var(--hds-form-control-height);
  padding: var(--hds-form-control-padding-vertical) var(--hds-form-control-padding-horizontal);
  color: var(--hds-form-control-base-foreground-color);
  background-color: var(--hds-form-control-base-surface-color-default);
  border-radius: var(--hds-form-control-border-radius);
  box-shadow: var(--hds-elevation-inset-box-shadow);

  // PLACEHOLDER

  &::placeholder {
    color: var(--hds-form-control-base-placeholder-foreground-color-default);
  }

  // STATUS

  &:hover,
  &.mock-hover {
    @include hds-form-control-border(var(--hds-form-control-base-border-color-hover));
  }

  // focus (same for all the states)

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-basic($external-outline-offset-cds: -2px);
    @include hds-form-control-border(var(--hds-focus-color-action-internal));
  }

  // READONLY

  &:read-only {
    @include hds-form-control-border(var(--hds-form-control-readonly-border-color));
    color: var(--hds-form-control-readonly-foreground-color);
    background-color: var(--hds-form-control-readonly-surface-color);
    box-shadow: none;
  }

  // DISABLED

  &:disabled {
    @include hds-form-control-border(var(--hds-form-control-disabled-border-color));
    color: var(--hds-form-control-disabled-foreground-color);
    background-color: var(--hds-form-control-disabled-surface-color);
    box-shadow: none;
    cursor: not-allowed;

    &::placeholder {
      color: var(--hds-form-control-base-placeholder-foreground-color-disabled);
    }
  }

  // INVALID

  &.hds-form-text-input--is-invalid {
    @include hds-form-control-border(var(--hds-form-control-invalid-border-color-default));
    @include hds-form-control-invalid-outline();

    &:hover,
    &.mock-hover {
      @include hds-form-control-border(var(--hds-form-control-invalid-border-color-hover));
    }

    &:focus-visible,
    &.mock-focus {
      @include hds-form-control-border(var(--hds-focus-color-critical-internal));
      outline-color: var(--hds-focus-color-critical-external);
    }
  }
}

// "TYPE" CUSTOMIZATION

.hds-form-text-input__wrapper {
  position: relative;
  width: 100%;
}

// PASSWORD

.hds-form-text-input--has-visibility-toggle {
  padding-right: calc(var(--hds-form-control-padding-horizontal) + 24px);
}

.hds-form-text-input__visibility-toggle {
  position: absolute;
  top: 0;
  right: calc(var(--hds-form-control-padding-horizontal) - var(--hds-form-control-border-width));
  bottom: 0;
  margin: auto 0;
}

.hds-form-text-input {
  // DATE/TIME

  &[type="date"],
  &[type="time"],
  &[type="datetime-local"],
  &[type="month"],
  &[type="week"] {
    // browsers set a specific width for these controls, we want to keep it in the HDS theme
    width: initial;

    // show the native icon dimmed if disabled (hidden in Chrome)
    &:disabled::-webkit-calendar-picker-indicator {
      visibility: visible;
      opacity: 0.5;

      @include hds-apply-only-if-carbon() {
        // hide the icon in disabled state for Carbon themes
        opacity: 0;
      }
    }

    // show the icon if readonly
    // notice: don't change the "[readonly]" selector to ":readonly" because it's needed to overwrite the specificity in Chrome
    &[readonly]::-webkit-calendar-picker-indicator {
      visibility: visible;

      @include hds-apply-only-if-carbon() {
        opacity: 1;
      }
    }
  }

  // we override the default icon with the Flight corresponding one
  // notice: the original in Chrome has two assets, one for light and one for dark mode, and uses a special syntax, but apparently it doesn't work if used in a stylesheet
  &[type="date"],
  &[type="datetime-local"],
  &[type="month"],
  &[type="week"] {
    &::-webkit-calendar-picker-indicator {
      background-image: var(--hds-form-text-input-background-image-data-url-date);
      background-position: center center;
      background-size: var(--hds-form-text-input-background-image-size);

      @include hds-apply-only-if-carbon() {
        // We use the native browser default icon,
        // We use "revert" instead of "initial" so that it uses user-agent stylesheet values instead of the true
        // initial value which would be no background image
        // From mozilla: "The initial value should not be confused with the value specified by the browser's style sheet."
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascade/Property_value_processing#initial_value
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/revert
        background-image: revert;
        background-position: revert;
        background-size: revert;
      }
    }
  }

  &[type="time"] {
    &::-webkit-calendar-picker-indicator {
      background-image: var(--hds-form-text-input-background-image-data-url-time);
      background-position: center center;
      background-size: var(--hds-form-text-input-background-image-size);

      @include hds-apply-only-if-carbon() {
        // We use the native browser default icon
        background-image: revert;
        background-position: revert;
        background-size: revert;
      }
    }
  }
}

// SEARCH
.hds-form-text-input[type="search"] {
  padding-left: calc(var(--hds-form-control-padding-horizontal) + 24px); // extra space for the icon
  background-image: var(--hds-form-text-input-background-image-data-url-search-default);
  background-repeat: no-repeat;
  background-position: var(--hds-form-text-input-background-image-position-x) 50%;
  background-size: var(--hds-form-text-input-background-image-size);

  &:disabled {
    background-image: var(--hds-form-text-input-background-image-data-url-search-disabled);
  }

  @include hds-apply-only-if-carbon() {
    // make space for positioned search cancel button
    padding-right: var(--hds-form-text-input-search-cancel-button-width);

    &:disabled {
      &::-webkit-search-cancel-button {
        background-image: var(--hds-form-text-input-background-image-data-url-search-cancel-disabled);
      }
    }
  }

  // SEARCH CANCEL BUTTON
  &::-webkit-search-cancel-button {
    width: var(--hds-form-text-input-search-cancel-button-width);
    height: var(--hds-form-text-input-background-image-size);
    background-image: var(--hds-form-text-input-background-image-data-url-search-cancel);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--hds-form-text-input-background-image-size);
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;

    @include hds-apply-only-if-carbon() {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 2px; // Mirror visual "gap" caused by transparent borders on top & right sides
      height: auto;
      margin: 0;
      opacity: 1;
    }
  }

  // HOVER (for search cancel button)
  &:not(:disabled, [readonly]) {
    // Display native search cancel button for hover examples in Showcase
    &.mock-hover {
      &::-webkit-search-cancel-button {
        opacity: 1;
      }
    }

    @include hds-apply-only-if-carbon() {
      // For Showcase examples, we are setting the mock hover state on the parent input.
      // Otherwise, we set the hover style on the search cancel button itself.
      &.mock-hover::-webkit-search-cancel-button,
      &::-webkit-search-cancel-button:hover {
        background-color: var(--hds-surface-color-interactive-hover);
      }
    }
  }

  // IS LOADING
  &.hds-form-text-input--is-loading {
    background-image: var(--hds-form-text-input-background-image-data-url-search-loading);
  }
}
