// BADGE

.dummy-badge-color-grid {
    display: inline-grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dummy-badge-base-sample {
    align-items: flex-start;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    min-width: fit-content;
    padding: 0.125rem;
}

.dummy-badge-containers {
  align-items: start;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .hds-badge {
    margin:0 0.5rem 0.5rem 0;
  }
}

.dummy-badge-containers__block {
  display: block;
}

.dummy-badge-containers__flex {
  display: flex;
}

.dummy-badge-containers__grid {
  display: grid;
  justify-items: start;
}

.dummy-badge-base-sample--color-neutral-dark-mode {
    background: #0C0C0E;
}

.dummy-badge-max-width-container {
    width: 200px;
}