// CARD

.dummy-card-base-sample {
  align-items: flex-start;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  margin: 0;
  min-width: fit-content;
  padding: 2rem;
  width: fit-content;
}

.dummy-card-overflow__wrapper-relative {
  position: relative;
}

.dummy-card-overflow__content-absolute {
  background-color: #3f51b5;
  border-radius: 8px;
  height: 20px;
  position: absolute;
  right: -20px;
  top: 20px;
  width: 30px;
}
