.dummy-bg-gray {
  background-color: var(--token-color-palette-neutral-200);
  padding: 1rem 2rem;
}

.dummy-nav-dropdown {
  box-sizing: border-box;
  width: 100%;
  display: flex; 
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  height: 62px;
  padding: 0 32px;
  &::after, &::before {
    box-sizing: border-box;
  }
  &.background-black {
    background-color: black;
  }
  .dummy-nav-dropdown__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
    gap: 5px;
    list-style: none;
    width: 100%;
    .dummy-nav-dropdown__list-item {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}

.dummy-table {
  min-width: fit-content;
  border: 1px solid #4d4d4d;
  th {
    font-weight: bold;
    border-bottom: thin solid #888;
    text-align: left;
  }
  th, td {
    border-collapse: collapse;
    padding: 0.25em 0.5em;
    width: 8em;
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #ddd;
    }
  }
}
