// FLYOUT

.dummy-flyout-sample-item {
  margin-bottom: 30px;

  .hds-flyout[open] {
    position: relative;
    z-index: initial;
    display: inline-block;
    margin: 0;
  }
}

.hds-flyout {
  .hds-form-field--layout-vertical:first-child {
    margin-bottom: 20px;
  }
}
