// FOCUS RING

.dummy-focus-ring-samples {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}

.dummy-focus-ring-sample {
  width: fit-content;
}

.dummy-focus-ring-sample--border-radius {
  border-radius: 5px;
}
