// ICON TILE

.dummy-icon-tile-side-by-side {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dummy-icon-tile-base-sample {
    align-items: flex-start;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    min-width: fit-content;
    padding: 0.125rem;
}
