// LINK > STANDALONE

.dummy-link-standalone-base-sample {
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  min-width: fit-content;
  padding: 0.125rem;
}

.dummy-link-standalone-max-width-container {
  width: 200px;
}

.dummy-link-standalone-generated-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dummy-link-standalone-states-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  width: fit-content;

  .dummy-link-standalone-states-grid__title {
    grid-column: 1 / 5;
  }
}
