// MODAL

.dummy-modal-sample-item {
  margin-bottom: 30px;

  .hds-modal[open] {
    position: relative;
    display: inline-block;
  }
}

.hds-modal {
  .hds-form-field--layout-vertical:first-child {
    margin-bottom: 20px;
  }
}
