// PAGINATION

.dummy-pagination-layout-highlight {
  .hds-pagination-info,
  .hds-pagination-nav,
  .hds-pagination-nav__control,
  .hds-pagination-nav__ellipsis,
  .hds-pagination-size-selector {
    width: max-content;
    outline: 1px dashed #78909c;
  }
}

.dummy-pagination-base-sample {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  min-width: fit-content;
  margin: 0;
}

.dummy-pagination-base-sample-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.dummy-pagination-base-sample-row {
  display: flex;
  gap: 8px;
}

.dummy-pagination-ul-wrapper {
  display: contents;
  list-style: none;
}

.dummy-plain-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
