// PAGINATIONBAR

.dummy-pagination-layout-highlight {
  .hds-pagination-total-count,
  .hds-pagination,
  .hds-pagination__page-link,
  .hds-pagination__ellipsis,
  .hds-pagination-page-size {
    width: max-content;
    outline: 1px dashed #78909c;
  }
}

.dummy-pagination-showcase-layout {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
