// TEXT

.dummy-text-component-api-defaults {
  flex-direction: column;
  align-items: start;
}

.dummy-text-size-sample {
  .dummy-h6 {
      color: #999;
      margin-top: 1rem;
  }
}

.dummy-text-tag-sample {
  align-items: flex-start;
  display: flex;
  gap: 2.5rem;
}

.dummy-text-align-sample {
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;

  .dummy-text-align-sample__container {
    flex-grow: 1;
  }
}

.dummy-text-color-sample {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;

  .dummy-text-color-sample__container--high-contrast {
    background: #999;
  }
}
