// TAG

.dummy-tag-states-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);;
  margin: 0;
  padding: 0;

  .dummy-tag-states-grid__title {
      grid-column: 1 / 5;
  }
}

.dummy-tag-states-subgrid {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-start;
}

.dummy-tag-base-sample {
    align-items: flex-start;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    min-width: fit-content;
    padding: 0.125rem;
}

.dummy-tag-containers {
  align-items: start;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dummy-tag-containers__block {
  display: block;

  .hds-tag {
    margin:0 0.25rem 0.75rem 0;
  }
}

.dummy-tag-containers__flex {
  display: flex;
  flex-wrap: wrap;

  .hds-tag {
    margin:0 0.5rem 0.75rem 0;
  }
}

.dummy-tag-containers__grid {
  display: grid;
  justify-items: start;

  .hds-tag {
    margin:0 0.5rem 0.75rem 0;
  }
}