/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// CARDS > DECK

@use "../../breakpoints" as breakpoint;


.doc-cards-deck {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 32px; // TODO maybe different gaps via a prop?
  margin: 0;
  padding: 0;
  list-style: none;
}

.doc-cards-deck--layout-2cols {
  grid-template-columns: 1fr;

  @include breakpoint.medium () {
    grid-template-columns: repeat(2, 1fr);
  }
}

.doc-cards-deck--layout-3cols {
  grid-template-columns: 1fr;

  @include breakpoint.medium () {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint.large () {
    grid-template-columns: repeat(3, 1fr);
  }
}

.doc-cards-deck--layout-4cols {
  grid-template-columns: 1fr;

  @include breakpoint.medium () {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint.large () {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint.x-large () {
    grid-template-columns: repeat(4, 1fr);
  }
}
