<Hds::Accordion as |A|>
  <A.Item @isOpen={{true}}>
    <:toggle>
      <Hds::Alert @type="compact" @color="success" as |A|>
        <A.Title>Title</A.Title>
        <A.Description>Plan finished <small>22 days ago</small></A.Description>
      </Hds::Alert>
    </:toggle>
    <:content>
      <p class="hds-typography-body-200">
        <strong>Queued:</strong>
        9 days ago >
        <strong>Finished:</strong>
        9 days ago
      </p>
      <Hds::Table @caption="Example table">
        <:head as |H|>
          <H.Tr>
            <H.Th>Name</H.Th>
            <H.Th>Type</H.Th>
            <H.Th>Value</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td>Cell one A</B.Td>
            <B.Td>Cell two A</B.Td>
            <B.Td>Cell three A</B.Td>
          </B.Tr>
          <B.Tr>
            <B.Td>Cell one B</B.Td>
            <B.Td>Cell two B</B.Td>
            <B.Td>Cell three B</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </:content>
  </A.Item>
</Hds::Accordion>