<ul class="doc-landing-callout-blocks doc-landing-callout-blocks--layout-{{@cols}}cols">
  {{#each @items as |item|}}
    <li class="doc-landing-callout-blocks__item">
      <a class="doc-landing-callout-blocks__link" href={{item.url}}>{{item.text}}</a>
    </li>
  {{/each}}
</ul>