
<Doc::Banner @type="critical">
  <p class="doc-text-body-small"><strong>Error rendering the dynamic template</strong></p>
  <p class="doc-text-body-small">There was an error rendering the dynamic template for this page.<br/>Check the console to see the details of the error.</p>
  <p class="doc-text-body-small">If you need support or want to notify the design system team of this error, please <LinkTo @route="support" class="doc-link-generic">contact us</LinkTo>.</p>
</Doc::Banner>
