/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

#show-content-icons-usage-guidelines {
  // make "stretched" icon display at a more reasonable max-width within examples
  .doc-icon-demo--constrain-max-width {
    max-width: 200px;
  }
}
