/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FOUNDATIONS > INDEX (landing)

body.foundations {
  .doc-page-content .doc-cards-card__image {
    aspect-ratio: 320 / 171;
  }
}
