/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */
#show-content-foundations-typography {
    .doc-typography-demo-display-list {
        padding: 0;
        list-style-type: none;
    }

    .doc-typography-list-item-gap {
        margin-bottom: 24px;
    }
}