// ----------------
// 1.  CSS Variables
// 2.  Dark Mode
// 3.  Autocomplete
// 4.  Panel
// 5.  Sources
// 6.  Hit Layout
// 7.  Panel Header
// 8.  Panel Footer
// 9.  Detached Mode
// 10. Gradients
// 11. Utilities
// ----------------

// Note:
// This theme reflects the markup structure of autocomplete with SCSS indentation.
// We use the SASS `@at-root` function to keep specificity low.

// ----------------
// 1. CSS Variables
// ----------------
:root {
  // Input
  --aa-search-input-height: 44px;
  --aa-input-icon-size: 20px;

  // Size and spacing
  --aa-base-unit: 16;
  --aa-spacing-factor: 1;
  --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
  --aa-spacing-half: calc(var(--aa-spacing) / 2);
  --aa-panel-max-height: 650px;

  // Z-index
  --aa-base-z-index: 9999;

  // Font
  --aa-font-size: calc(var(--aa-base-unit) * 1px);
  --aa-font-family: inherit;
  --aa-font-weight-medium: 500;
  --aa-font-weight-semibold: 600;
  --aa-font-weight-bold: 700;

  // Icons
  --aa-icon-size: 20px;
  --aa-icon-stroke-width: 1.6;
  --aa-icon-color-rgb: 119, 119, 163;
  --aa-icon-color-alpha: 1;
  --aa-action-icon-size: 20px;

  // Text colors
  --aa-text-color-rgb: 38, 38, 39;
  --aa-text-color-alpha: 1;
  --aa-primary-color-rgb: 62, 52, 211;
  --aa-primary-color-alpha: 0.2;
  --aa-muted-color-rgb: 128, 126, 163;
  --aa-muted-color-alpha: 0.6;

  // Border colors
  --aa-panel-border-color-rgb: 128, 126, 163;
  --aa-panel-border-color-alpha: 0.3;
  --aa-input-border-color-rgb: 128, 126, 163;
  --aa-input-border-color-alpha: 0.8;

  // Background colors
  --aa-background-color-rgb: 255, 255, 255;
  --aa-background-color-alpha: 1;
  --aa-input-background-color-rgb: 255, 255, 255;
  --aa-input-background-color-alpha: 1;
  --aa-selected-color-rgb: 179, 173, 214;
  --aa-selected-color-alpha: 0.205;
  --aa-description-highlight-background-color-rgb: 245, 223, 77;
  --aa-description-highlight-background-color-alpha: 0.5;

  // Detached mode
  --aa-detached-media-query: (max-width: 680px);
  --aa-detached-modal-media-query: (min-width: 680px);
  --aa-detached-modal-max-width: 680px;
  --aa-detached-modal-max-height: 500px;
  --aa-overlay-color-rgb: 115, 114, 129;
  --aa-overlay-color-alpha: 0.4;

  // Shadows
  --aa-panel-shadow:
    0 0 0 1px rgba(35, 38, 59, 10%),
    0 6px 16px -4px rgba(35, 38, 59, 15%);

  // Scrollbar
  --aa-scrollbar-width: 13px;
  --aa-scrollbar-track-background-color-rgb: 234, 234, 234;
  --aa-scrollbar-track-background-color-alpha: 1;
  --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
  --aa-scrollbar-thumb-background-color-alpha: 1;

  // Touch screens
  @media (hover: none) and (pointer: coarse) {
    --aa-spacing-factor: 1.2;
    --aa-action-icon-size: 22px;
  }
}

// ----------------
// 2. Dark Mode
// ----------------
// body {
//   /* stylelint-disable selector-no-qualifying-type, selector-class-pattern */
//   &[data-theme="dark"],
//   &.dark {
//     // Text colors
//     --aa-text-color-rgb: 183, 192, 199;
//     --aa-primary-color-rgb: 146, 138, 255;
//     --aa-muted-color-rgb: 146, 138, 255;

//     // Background colors
//     --aa-input-background-color-rgb: 0, 3, 9;
//     --aa-background-color-rgb: 21, 24, 42;
//     --aa-selected-color-rgb: 146, 138, 255;
//     --aa-selected-color-alpha: 0.25;
//     --aa-description-highlight-background-color-rgb: 0 255 255;
//     --aa-description-highlight-background-color-alpha: 0.25;

//     // Icons
//     --aa-icon-color-rgb: 119, 119, 163;

//     // Shadows
//     --aa-panel-shadow:
//       inset 1px 1px 0 0 rgb(44, 46, 64),
//       0 3px 8px 0 rgb(0, 3, 9);

//     // Scrollbar
//     --aa-scrollbar-track-background-color-rgb: 44, 46, 64;
//     --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
//   }
//   /* stylelint-enable selector-no-qualifying-type, selector-class-pattern */
// }

// Reset for `@extend`
// %reset {
//   box-sizing: border-box;
// }

// Init for `@extend`
// %init {
//   margin: 0;
//   padding: 0;
//   color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
//   font-weight: normal;
//   font-size: var(--aa-font-size);
//   font-family: var(--aa-font-family);
//   line-height: 1em;
//   text-align: left;
// }

// ----------------
// 3. Autocomplete
// ----------------
.aa-Autocomplete,
.aa-DetachedFormContainer {
  // @extend %init;

  // * {
  //   @extend %reset;
  // }

  // Search box
  @at-root .aa-Form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    line-height: 1em;
    background-color:
      rgba(var(--aa-input-background-color-rgb),
      var(--aa-input-background-color-alpha));
    border:
      1px solid
      rgba(var(--aa-input-border-color-rgb), var(--aa-input-border-color-alpha));
    border-radius: 3px;

    &:focus-within {
      border-color: rgba(var(--aa-primary-color-rgb), 1);
      outline: currentColor none medium;
      box-shadow:
        rgba(var(--aa-primary-color-rgb),
        var(--aa-primary-color-alpha))
        0 0 0 2px,
        inset rgba(var(--aa-primary-color-rgb), var(--aa-primary-color-alpha)) 0
        0 0 2px;
    }

    @at-root .aa-InputWrapperPrefix {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      order: 1;
      height: var(--aa-search-input-height);
      // Container for search and loading icons
      @at-root .aa-Label,
      .aa-LoadingIndicator {
        flex-shrink: 0;
        height: 100%;
        padding: 0;
        text-align: left;
        cursor: initial;

        svg {
          width: var(--aa-input-icon-size);
          height: auto;
          max-height: var(--aa-input-icon-size);
          color: rgba(var(--aa-primary-color-rgb), 1);
          stroke-width: var(--aa-icon-stroke-width);
        }
      }

      @at-root .aa-SubmitButton,
      .aa-LoadingIndicator {
        width: calc(var(--aa-spacing) * 1.75 + var(--aa-icon-size) - 1px);
        height: 100%;
        padding-right: var(--aa-spacing-half);
        padding-left: calc(var(--aa-spacing) * 0.75 - 1px);

        @media (hover: none) and (pointer: coarse) {
          width: calc(var(--aa-icon-size) + (var(--aa-spacing) * 1.25) - 1px);
          padding-left: calc(var(--aa-spacing-half) / 2 - 1px);
        }
      }

      @at-root .aa-SubmitButton {
        margin: 0;
        background: none;
        border: 0;
        appearance: none;
      }

      @at-root .aa-LoadingIndicator {
        display: flex;
        align-items: center;
        justify-content: center;

        &[hidden] {
          display: none;
        }
      }
    }

    @at-root .aa-InputWrapper {
      position: relative;
      order: 3;
      width: 100%;
      // Search box input (with placeholder and query)
      @at-root .aa-Input {
        width: 100%;
        height: var(--aa-search-input-height);
        padding: 0;
        color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
        font: inherit;
        background: none;
        border: 0;
        appearance: none;

        &::placeholder {
          color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
          opacity: 1;
        }
        // Focus is set and styled on the parent, it isn't necessary here
        &:focus {
          border-color: none;
          outline: none;
          box-shadow: none;
        }
        // Remove native appearance
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          appearance: none;
        }
      }
    }

    @at-root .aa-InputWrapperSuffix {
      display: flex;
      align-items: center;
      order: 4;
      height: var(--aa-search-input-height);
      // Accelerator to clear the query
      @at-root .aa-ClearButton {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0 calc(var(--aa-spacing) * (5 / 6) - 0.5px);
        color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
        background: none;
        border: 0;
        cursor: pointer;

        @media (hover: none) and (pointer: coarse) {
          padding: 0 calc(var(--aa-spacing) * (2 / 3) - 0.5px);
        }

        &:hover,
        &:focus {
          color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
        }

        &[hidden] {
          display: none;
        }

        svg {
          width: var(--aa-icon-size);
          stroke-width: var(--aa-icon-stroke-width);
        }
      }
    }
  }
}

// ----------------
// 4. Panel
// ----------------
.aa-Panel {
  // @extend %init;
  position: absolute;
  margin: 8px 0 0;
  overflow: hidden;
  background-color:
    rgba(var(--aa-background-color-rgb),
    var(--aa-background-color-alpha));
  border-radius: calc(var(--aa-spacing) / 4);
  box-shadow: var(--aa-panel-shadow);
  transition: opacity 200ms ease-in, filter 200ms ease-in;

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  // * {
  //   @extend %reset;
  // }

  button {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    appearance: none;
  }

  @at-root .aa-PanelLayout {
    // position: relative;
    // height: 100%;
    // max-height: var(--aa-panel-max-height);
    // margin: 0;
    // padding: 0;
    // overflow-y: auto;
    // text-align: left;

    @at-root .aa-PanelLayoutColumns--twoGolden {
      display: grid;
      grid-template-columns: 39.2% auto;
      padding: 0;
      overflow: hidden;
    }

    @at-root .aa-PanelLayoutColumns--two {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0;
      overflow: hidden;
    }

    @at-root .aa-PanelLayoutColumns--three {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 0;
      overflow: hidden;
    }
  }

  // When a request isn't resolved yet
  @at-root .aa-Panel--stalled {
    .aa-Source {
      opacity: 0.8;
      filter: grayscale(1);
    }
  }

  @at-root .aa-Panel--scrollable {
    max-height: var(--aa-panel-max-height);
    margin: 0;
    padding: var(--aa-spacing-half);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color:
      rgba(var(--aa-scrollbar-thumb-background-color-rgb),
      var(--aa-scrollbar-thumb-background-color-alpha))
      rgba(var(--aa-scrollbar-track-background-color-rgb),
      var(--aa-scrollbar-track-background-color-alpha));
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: var(--aa-scrollbar-width);
    }

    &::-webkit-scrollbar-track {
      background-color:
        rgba(var(--aa-scrollbar-track-background-color-rgb),
        var(--aa-scrollbar-track-background-color-alpha));
    }

    &::-webkit-scrollbar-thumb {
      background-color:
        rgba(var(--aa-scrollbar-thumb-background-color-rgb),
        var(--aa-scrollbar-thumb-background-color-alpha));
      border-color:
        rgba(var(--aa-scrollbar-track-background-color-rgb),
        var(--aa-scrollbar-track-background-color-alpha));
      border-style: solid;
      border-width: 3px 2px 3px 3px;
      border-radius: 9999px;
    }
  }
}

// ----------------
// 5. Sources
// Each source can be styled independently
// ----------------
.aa-Source {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  &:empty {
    // Hide empty section
    display: none;
  }

  @at-root .aa-SourceNoResults {
    margin: 0;
    padding: var(--aa-spacing);
    font-size: 1em;
  }
  // List of results inside the source
  @at-root .aa-List {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  // Source title
  @at-root .aa-SourceHeader {
    position: relative;
    margin: var(--aa-spacing-half) 0.5em var(--aa-spacing-half) 0;
    padding: 0;
    // Hide empty header
    &:empty {
      display: none;
    }
    // Title typography
    @at-root .aa-SourceHeaderTitle {
      position: relative;
      z-index: var(--aa-base-z-index);
      display: inline-block;
      margin: 0;
      padding: 0 var(--aa-spacing-half) 0 0;
      color: rgba(var(--aa-primary-color-rgb), 1);
      font-weight: var(--aa-font-weight-semibold);
      font-size: 0.8em;
      background:
        rgba(var(--aa-background-color-rgb),
        var(--aa-background-color-alpha));
    }
    // Line separator
    @at-root .aa-SourceHeaderLine {
      position: absolute;
      top: var(--aa-spacing-half);
      right: 0;
      left: 0;
      z-index: calc(var(--aa-base-z-index) - 1);
      display: block;
      height: 2px;
      margin: 0;
      padding: 0;
      border-bottom: solid 1px rgba(var(--aa-primary-color-rgb), 1);
      opacity: 0.3;
    }
  }
  // See all button
  @at-root .aa-SourceFooterSeeAll {
    padding: 0.475em 1em 0.6em;
    color: inherit;
    font-weight: var(--aa-font-weight-medium);
    font-size: 0.95em;
    text-decoration: none;
    background:
      linear-gradient(180deg,
      rgba(var(--aa-background-color-rgb), var(--aa-background-color-alpha)),
      rgba(128, 126, 163, 14%));
    border:
      1px solid
      rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
    border-radius: 5px;
    box-shadow: inset 0 0 2px #fff, 0 2px 2px -1px rgba(76, 69, 88, 15%);

    &:focus,
    &:hover {
      color: rgba(var(--aa-primary-color-rgb), 1);
      border: 1px solid rgba(var(--aa-primary-color-rgb), 1);
    }
  }
}

// ----------------
// 6. Hit Layout
// ----------------
.aa-Item {
  display: grid;
  align-items: center;
  min-height: calc(var(--aa-spacing) * 2.5);
  padding: calc(var(--aa-spacing-half) / 2);
  border-radius: 3px;
  cursor: pointer;
  // When the result is active
  &[aria-selected="true"] {
    background-color:
      rgba(var(--aa-selected-color-rgb),
      var(--aa-selected-color-alpha));

    .aa-ItemActionButton,
    .aa-ActiveOnly {
      visibility: visible;
    }
  }
  // The result type icon inlined SVG or image
  @at-root .aa-ItemIcon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: calc(var(--aa-icon-size) + var(--aa-spacing-half));
    height: calc(var(--aa-icon-size) + var(--aa-spacing-half));
    overflow: hidden;
    color: rgba(var(--aa-icon-color-rgb), var(--aa-icon-color-alpha));
    font-size: 0.7em;
    text-align: center;
    background:
      rgba(var(--aa-background-color-rgb),
      var(--aa-background-color-alpha));
    border-radius: 3px;
    box-shadow:
      inset 0 0 0 1px
      rgba(var(--aa-panel-border-color-rgb), var(--aa-panel-border-color-alpha));
    stroke-width: var(--aa-icon-stroke-width);

    img {
      width: auto;
      max-width: calc(var(--aa-icon-size) + var(--aa-spacing-half) - 8px);
      height: auto;
      max-height: calc(var(--aa-icon-size) + var(--aa-spacing-half) - 8px);
    }

    svg {
      width: var(--aa-icon-size);
      height: var(--aa-icon-size);
    }

    @at-root .aa-ItemIcon--alignTop {
      align-self: flex-start;
    }

    @at-root .aa-ItemIcon--noBorder {
      background: none;
      box-shadow: none;
    }

    @at-root .aa-ItemIcon--picture {
      width: 96px;
      height: 96px;

      img {
        max-width: 100%;
        max-height: 100%;
        padding: var(--aa-spacing-half);
      }
    }
  }

  @at-root .aa-ItemContent {
    display: grid;
    grid-auto-flow: column;
    gap: var(--aa-spacing-half);
    align-items: center;
    overflow: hidden;
    line-height: 1.25em;
    cursor: pointer;

    &:empty {
      display: none;
    }

    mark {
      color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
      font-weight: var(--aa-font-weight-bold);
      font-style: normal;
      background: none;
    }

    @at-root .aa-ItemContent--dual {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;

      .aa-ItemContentTitle,
      .aa-ItemContentSubtitle {
        display: block;
      }
    }

    @at-root .aa-ItemContent--indented {
      padding-left: calc(var(--aa-icon-size) + var(--aa-spacing));
    }

    @at-root .aa-ItemContentBody {
      display: grid;
      gap: calc(var(--aa-spacing-half) / 2);
    }

    @at-root .aa-ItemContentTitle {
      display: inline-block;
      max-width: 100%;
      margin: 0 0.5em 0 0;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @at-root .aa-ItemContentSubtitle {
      font-size: 0.92em;

      @at-root .aa-ItemContentSubtitleIcon {
        &::before {
          position: relative;
          top: -3px;
          left: 1px;
          display: inline-block;
          border-color: rgba(var(--aa-muted-color-rgb), 0.64);
          border-style: solid;
          content: "";
        }
      }

      @at-root .aa-ItemContentSubtitle--inline {
        .aa-ItemContentSubtitleIcon {
          &::before {
            width: calc(var(--aa-spacing-half) + 2px);
            margin-right: calc(var(--aa-spacing-half) / 2);
            margin-left: var(--aa-spacing-half);
            border-width: 0 0 1.5px;
          }
        }
      }

      @at-root .aa-ItemContentSubtitle--standalone {
        display: grid;
        grid-auto-flow: column;
        gap: var(--aa-spacing-half);
        align-items: center;
        justify-content: start;
        color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));

        .aa-ItemContentSubtitleIcon {
          &::before {
            width: var(--aa-spacing-half);
            height: var(--aa-spacing-half);
            border-width: 0 0 1.5px 1.5px;
            border-radius: 0 0 0 3px;
          }
        }
      }

      @at-root .aa-ItemContentSubtitleCategory {
        color: rgba(var(--aa-muted-color-rgb), 1);
        font-weight: 500;
      }
    }

    @at-root .aa-ItemContentDescription {
      max-width: 100%;
      overflow-x: hidden;
      color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
      font-size: 0.85em;
      text-overflow: ellipsis;

      &:empty {
        display: none;
      }

      mark {
        color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
        font-weight: var(--aa-font-weight-medium);
        font-style: normal;
        background:
          rgba(var(--aa-description-highlight-background-color-rgb),
          var(--aa-description-highlight-background-color-alpha));
      }
    }

    @at-root .aa-ItemContentDash {
      display: none;
      color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
      opacity: 0.4;
    }

    @at-root .aa-ItemContentTag {
      margin: 0 0.4em 0 0;
      padding: 0.08em 0.3em;
      background-color:
        rgba(var(--aa-primary-color-rgb),
        var(--aa-primary-color-alpha));
      border-radius: 3px;
    }
  }
  // wrap hit with url but we don't need to see it
  @at-root .aa-ItemWrapper,
  .aa-ItemLink {
    display: grid;
    grid-auto-flow: column;
    gap: calc(var(--aa-spacing-half) / 2);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: inherit;
  }

  @at-root .aa-ItemLink {
    color: inherit;
    text-decoration: none;
  }
  // Secondary click actions
  @at-root .aa-ItemActions {
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    height: 100%;
    margin: 0 calc(var(--aa-spacing) / -3);
    padding: 0 2px 0 0;
  }

  @at-root .aa-ItemActionButton {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0;
    color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
    background: none;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      svg {
        color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));

        @media (hover: none) and (pointer: coarse) {
          color: inherit;
        }
      }
    }

    svg {
      width: var(--aa-action-icon-size);
      margin: 0;
      margin: calc(var(--aa-spacing) / 3);
      color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
      stroke-width: var(--aa-icon-stroke-width);
    }
  }

  @at-root .aa-ActiveOnly {
    visibility: hidden;
  }
}

//----------------
// 7. Panel Header
//----------------
.aa-PanelHeader {
  position: relative;
  display: grid;
  align-items: center;
  height: var(--aa-modal-header-height);
  margin: 0;
  padding: var(--aa-spacing-half) var(--aa-spacing);
  color: #fff;
  background: rgba(var(--aa-primary-color-rgb), 1);

  &::after {
    position: absolute;
    right: 0;
    bottom: calc(var(--aa-spacing-half) * -1);
    left: 0;
    z-index: var(--aa-base-z-index);
    height: var(--aa-spacing-half);
    background-image:
      linear-gradient(rgba(var(--aa-background-color-rgb), 1),
      rgba(var(--aa-background-color-rgb), 0));
    content: "";
    pointer-events: none;
  }
}

//----------------
// 8. Panel Footer
//----------------
.aa-PanelFooter {
  position: relative;
  z-index: var(--aa-base-z-index);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: var(--aa-spacing);
  background-color:
    rgba(var(--aa-background-color-rgb),
    var(--aa-background-color-alpha));
  box-shadow:
    inset 0 1px 0
    rgba(var(--aa-panel-border-color-rgb), var(--aa-panel-border-color-alpha));

  &::after {
    position: absolute;
    top: calc(var(--aa-spacing) * -1);
    right: 0;
    left: 0;
    z-index: calc(var(--aa-base-z-index) - 1);
    height: var(--aa-spacing);
    background-image:
      linear-gradient(rgba(var(--aa-background-color-rgb), 0),
      rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha)));
    opacity: 0.12;
    content: "";
    pointer-events: none;
  }
}

//----------------
// 9. Detached Mode
//----------------
.aa-DetachedContainer {
  // position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // z-index: var(--aa-base-z-index);
  // display: flex;
  // flex-direction: column;
  // margin: 0;
  // padding: 0;
  // overflow: hidden;
  // background:
  //   rgba(var(--aa-background-color-rgb),
  //   var(--aa-background-color-alpha));
  // box-shadow: var(--aa-panel-shadow);

  // &::after {
  //   height: 32px;
  // }

  .aa-SourceHeader {
    margin: var(--aa-spacing-half) 0 var(--aa-spacing-half) 2px;
  }

  .aa-Panel {
    position: relative;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color:
      rgba(var(--aa-background-color-rgb),
      var(--aa-background-color-alpha));
    border-radius: 0;
    box-shadow: none;
  }

  // .aa-PanelLayout {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   max-height: none;
  //   margin: 0;
  //   overflow-y: auto;
  //   box-shadow: none;
  // }

  @at-root .aa-DetachedFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: var(--aa-spacing-half);
    border-bottom:
      solid 1px
      rgba(var(--aa-panel-border-color-rgb), var(--aa-panel-border-color-alpha));

    @at-root .aa-DetachedCancelButton {
      margin: 0 0 0 var(--aa-spacing-half);
      padding: 0 var(--aa-spacing-half);
      color: inherit;
      color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
      font: inherit;
      background: none;
      border: 0;
      border-radius: 3px;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow:
          inset 0 0 0 1px
          rgba(var(--aa-panel-border-color-rgb),
          var(--aa-panel-border-color-alpha));
      }
    }
  }

  @at-root .aa-DetachedContainer--modal {
    // position: absolute;
    // top: 3%;
    // bottom: inherit;
    // max-width: var(--aa-detached-modal-max-width);
    // height: auto;
    // margin: 0 auto;
    // border-radius: 6px;

    // .aa-PanelLayout {
    //   position: static;
    //   max-height: var(--aa-detached-modal-max-height);
    //   padding-bottom: var(--aa-spacing-half);

    //   &:empty {
    //     display: none;
    //   }
    // }
  }
}

// Search Button
// .aa-DetachedSearchButton {
//   position: relative;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   height: var(--aa-search-input-height);
//   margin: 0;
//   padding: 0 calc(var(--aa-search-input-height) / 8);
//   color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
//   font: inherit;
//   font-size: var(--aa-font-size);
//   font-family: var(--aa-font-family);
//   text-align: left;
//   background-color:
//     rgba(var(--aa-input-background-color-rgb),
//     var(--aa-input-background-color-alpha));
//   border:
//     1px solid
//     rgba(var(--aa-input-border-color-rgb), var(--aa-input-border-color-alpha));
//   border-radius: 3px;
//   cursor: pointer;

//   &:focus {
//     border-color: rgba(var(--aa-primary-color-rgb), 1);
//     outline: currentColor none medium;
//     box-shadow:
//       rgba(var(--aa-primary-color-rgb), var(--aa-primary-color-alpha))
//       0 0 0 3px,
//       inset rgba(var(--aa-primary-color-rgb), var(--aa-primary-color-alpha)) 0 0
//       0 2px;
//   }
//
//   @at-root .aa-DetachedSearchButtonIcon {
//     display: flex;
//     flex-shrink: 0;
//     align-items: center;
//     justify-content: center;
//     width: calc(var(--aa-icon-size) + var(--aa-spacing));
//     height: 100%;
//     color: rgba(var(--aa-primary-color-rgb), 1);
//     cursor: initial;
//   }
//
//   @at-root .aa-DetachedSearchButtonQuery {
//     overflow: hidden;
//     color: rgba(var(--aa-text-color-rgb), 1);
//     line-height: 1.25em;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//   }
//
//   @at-root .aa-DetachedSearchButtonPlaceholder {
//     &[hidden] {
//       display: none;
//     }
//   }
// }

// Remove scroll on `body`
// .aa-Detached {
//   height: 100vh;
//   overflow: hidden;
// }

// .aa-DetachedOverlay {
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: calc(var(--aa-base-z-index) - 1);
//   height: 100vh;
//   margin: 0;
//   padding: 0;
//   background-color:
//     rgba(var(--aa-overlay-color-rgb),
//     var(--aa-overlay-color-alpha));
// }

//----------------
// 10. Gradients
//----------------
// .aa-GradientTop,
// .aa-GradientBottom {
//   position: absolute;
//   right: 0;
//   left: 0;
//   z-index: var(--aa-base-z-index);
//   height: var(--aa-spacing-half);
//   pointer-events: none;
// }

// .aa-GradientTop {
//   top: 0;
//   background-image:
//     linear-gradient(rgba(var(--aa-background-color-rgb), 1),
//     rgba(var(--aa-background-color-rgb), 0));
// }

// .aa-GradientBottom {
//   bottom: 0;
//   background-image:
//     linear-gradient(rgba(var(--aa-background-color-rgb), 0),
//     rgba(var(--aa-background-color-rgb), 1));
//   border-bottom-right-radius: calc(var(--aa-spacing) / 4);
//   border-bottom-left-radius: calc(var(--aa-spacing) / 4);
// }

// //----------------
// // 11. Utilities
// //----------------
// .aa-DesktopOnly {
//   @media (hover: none) and (pointer: coarse) {
//     display: none;
//   }
// }

// .aa-TouchOnly {
//   @media (hover: hover) {
//     display: none;
//   }
// }
