// inspired by:
// - https://github.com/CarloMcG/portfolio/blob/d96e73f2841bc47317318a98dc1c755a64c9eeb4/src/theme.scss
// - https://github.com/carbon-design-system/carbon/blob/b78a6bda8a594cc5f3b60ab3141edd63378d5aa6/packages/react/.storybook/styles.scss#L8-L27

// @use '@carbon/themes' as cds-themes with (
//   $font-path: '~@ibm/plex'
// );
// @use '@carbon/themes' as cds-themes;
// @use '@carbon/themes/scss/themes' as *;

// :root {
//   @include cds-themes.theme($white);
// }

// [data-carbon-theme='g0'] {
//   @include cds-themes.theme($white);
// }

// [data-carbon-theme='g10'] {
//   @include cds-themes.theme($g10);
// }

// [data-carbon-theme='g90'] {
//   @include cds-themes.theme($g90);
// }

// [data-carbon-theme='g100'] {
//   @include cds-themes.theme($g100);
// }

// TODO TEMP understand how we can set the font-family for the web components without defining it at `<body>` level

// these are commented for now
// [data-carbon-theme='g0'],
// [data-carbon-theme='g10'],
// [data-carbon-theme='g90'],
// [data-carbon-theme='g100']

// see: https://github.com/carbon-design-system/carbon/blob/main/packages/web-components/docs/carbon-cdn-style-helpers.mdx#carbon-theme-zoning-classes
.cds-theme-zone-white,
.cds-theme-zone-g10,
.cds-theme-zone-g90,
.cds-theme-zone-g100 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

  code {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace
  }

  button, select, input, textarea {
    font-family: inherit
  }
}
