.shw-carbonization-comparison-grid {
  & + & {
    margin-top: 2rem;
  }

  display: grid;
  grid-template-areas:
    "hds cds-g0 cds-g10 cds-g90 cds-g100"
    "--- cwc-g0 cwc-g10 cwc-g90 cwc-g100";
  grid-template-rows: auto, auto;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 0; // we use vertical margin to separate the web-components row from the one above
  column-gap: 1rem;
}

// .shw-carbonization-comparison-grid__item {}

.shw-carbonization-comparison-grid__item--scope-reference {
  margin-top: 1rem;
}

@each $area in 'hds', 'cds-g0', 'cds-g10', 'cds-g90', 'cds-g100', 'cwc-g0', 'cwc-g10', 'cwc-g90', 'cwc-g100' {
  .shw-carbonization-comparison-grid__item--area-#{$area} {
    grid-area: #{$area};
  }
}

// DEBUG

// .shw-carbonization-comparison-grid {
//   outline: 1px solid blue;
// }
// .shw-carbonization-comparison-grid__item {
//   outline: 1px dotted magenta;
// }
