{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Icon component"}}

<Shw::Text::H1>Icon</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Icons</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item>
      <Hds::Icon @name="user" @size="24" />
    </SF.Item>
  </Shw::Flex>

</section>