{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Popover Component"}}

<Shw::Text::H1>Popover</Shw::Text::H1>

<section data-test-percy>

  {{! ADD YOUR CONTENT HERE }}

  {{! This below is just an example of invocation, to get started }}
  <Hds::Popover>This is the Hds::Popover component </Hds::Popover>

</section>