{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "SuperSelect Component"}}

<Shw::Text::H1>SuperSelect</Shw::Text::H1>

<section data-test-percy>
  {{! This below is just an example of invocation, to get started }}
  <Hds::SuperSelect::Single>This is the Hds::SuperSelect component </Hds::SuperSelect::Single>

  <Hds::SuperSelect::Multiple>This is the Hds::SuperSelect component </Hds::SuperSelect::Multiple>
</section>