//
// ALERT
//
// properties within each class are sorted alphabetically
//
//

.hds-alert {
  background-color: var(--token-color-surface-warning);
  padding: 1.25rem; // 20px
  display: flex;
  align-content: flex-start;
}

.hds-alert__icon {
  margin-right: 0.75rem; // 12px
}

.hds-alert__text {
  color: var(--token-color-foreground-warning-on-surface);
  font-family: var(--token-typography-body-200-font-family);
}

.hds-alert__title {
  font-weight: var(--token-typography-font-weight-semibold);
}

.hds-alert__title + .hds-alert__description {
  margin-top: 0.75rem; // 12px
}

.hds-alert__actions {
  align-items: center;
  display: flex;
  margin-top: 1rem; // 16px
}

.hds-alert__action {
  & + & {
    margin-left: 1rem; // 16px
  }
}