//
// AVATAR
//
// properties within each class are sorted alphabetically
//

.hds-avatar {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.hds-avatar img {
  border-radius: 2px;
  height: 32px;
  width: 32px;
}

.hds-avatar svg {
  display: inline-block;
}