//
// AVATAR
//
// properties within each class are sorted alphabetically
//

.hds-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;

  img {
    width: inherit;
    height: inherit;
    border-radius: 2px;
  }

  svg {
    display: inline-block;
  }
}
