$border-radius: 5px;
$alpha-100: #656A761A;
$alpha-200: rgba(250, 250, 250, 0.6);
$alpha-300: rgba(59, 61, 69, 0.4);

// TODO! generalize with the existing mixin in Card component
@mixin tempElevation() {
  box-shadow:
    var(--token-elevation-low-shadow-01-x)
    var(--token-elevation-low-shadow-01-y)
    var(--token-elevation-low-shadow-01-blur)
    var(--token-elevation-low-shadow-01-spread)
    var(--token-elevation-low-shadow-01-color),
    var(--token-elevation-low-shadow-02-x)
    var(--token-elevation-low-shadow-02-y)
    var(--token-elevation-low-shadow-02-blur)
    var(--token-elevation-low-shadow-02-spread)
    var(--token-elevation-low-shadow-02-color)
  ;
}

.hds-button {
  @include tempElevation();

  align-items: center;
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 2px; // to account for the outline; TODO convert to relational units
  max-width: 100%;
  position: relative;
  width: 100%;

  @media screen and (min-width: 48rem) { // TODO what are our breakpoints?
    width: auto;
  }

  &.hds-button--width-full {
    width: 100%;
  }

  &.is-focus,
  &:focus {
    &::before {
      border-radius: $border-radius + 4px;
      border: 3px solid var(--token-color-action-background-primary);
      bottom: -5px;
      box-sizing: border-box;
      content: '';
      left: -5px;
      position: absolute;
      right: -5px;
      top: -5px;
    }
  }
}

.hds-button__icon, .hds-button__text {
  display: inline-block;
  box-sizing: border-box;
}


// SIZE

.hds-button--size-small {
  font-size: var(--token-typography-small-font-size);
  gap: 0.625rem;
  height: 1rem;
  line-height: var(--token-typography-small-line-height);
  padding: 0.625rem 1rem;
  
  & .hds-button__icon {
    height: 12px; // Temporary
    width: 12px;
  }
}
.hds-button--size-medium {
  font-size: 0.875rem;
  gap: 0.625rem;
  height: 2.25rem;
  padding: 0.625rem 1rem;
}
.hds-button--size-large {
  font-size: 1rem;
  gap: 0.75rem;
  height: 3rem;
  padding: 0.75rem 1.25rem;
}

// COLORS & STATES
// Note: the order of the pseuo-selectors need to stay the way they are or else they won't render correctly

.hds-button--color-primary {
  background-color: var(--token-color-action-background-primary);
  border-color: var(--token-color-action-border-on-primary);
  color: var(--token-color-palette-neutral-0);

  &:hover,
  &.is-hover {
    background-color: var(--token-color-action-background-hover);
    border-color: var(--token-color-action-border-hover);
    color: var(--token-color-palette-neutral-0);
    cursor: pointer;
  }
  &:focus,
  &.is-focus {
    background-color: var(--token-color-action-background-primary);
    border-color: var(--token-color-action-border-focus);
    color: var(--token-color-palette-neutral-0);
  }
  &:active,
  &.is-active {
    background-color: var(--token-color-action-background-active);
    border-color: var(--token-color-action-border-active);
    box-shadow: none;
    color: var(--token-color-palette-neutral-0);
    &::before {
      border-color: transparent;
    }
  }
  &[disabled],
  &.is-disabled,
  &[disabled]:hover,
  &.is-disabled:hover,
  &[disabled]:focus,
  &.is-disabled:focus {
    background-color: rgba(250, 250, 250, 0.6);
    border-color: var(--token-color-palette-neutral-400);
    box-shadow: none;
    color: var(--token-color-palette-neutral-400);
    cursor: not-allowed;
    &::before {
      border-color: transparent;
    }
  }
}

.hds-button--color-secondary {
  background-color: var(--token-color-palette-neutral-50);
  border-color: rgba(59, 61, 69, 0.4);
  color: var(--token-color-palette-neutral-600);

  &:hover,
  &.is-hover {
    background-color: var(--token-color-palette-neutral-0);
    border-color: $alpha-300;
    color: var(--token-color-palette-neutral-600);
    cursor: pointer;
  }
  &:focus,
  &.is-focus {
    background-color: var(--token-color-palette-neutral-50);
    border-color: var(--token-color-action-border-on-primary);
    color: var(--token-color-palette-neutral-600);
  }
  &:active, 
  &.is-active {
    background-color: var(--token-color-palette-neutral-200);
    border-color: $alpha-300;
    box-shadow: none;
    color: var(--token-color-palette-neutral-600);
    &::before {
      border-color: transparent;
    }
  }
  &[disabled],
  &.is-disabled,
  &[disabled]:hover,
  &.is-disabled:hover,
  &[disabled]:focus,
  &.is-disabled:focus {
    background-color: $alpha-200;
    border-color: rgba(101, 106, 118, 0.2);
    box-shadow: none;
    color: var(--token-color-palette-neutral-400);
    cursor: not-allowed;
    &::before {
      border-color: transparent;
    }
  }
}

.hds-button--color-destructive {
  background-color: var(--token-color-palette-neutral-50);
  border-color: $alpha-300;
  color: var(--token-color-critical-foreground-on-faint);

  &:hover,
  &.is-hover {
    background-color: var(--token-color-critical-background-hover);
    border-color: var(--token-color-critical-border-on-hover);
    color: var(--token-color-palette-neutral-0);
    cursor: pointer;
  }
  &:focus,
  &.is-focus {
    background-color: var(--token-color-palette-neutral-50);
    border-color: var(--token-color-critical-border-on-primary);
    color: var(--token-color-critical-foreground-on-faint);
    &::before {
      border-color: #DD7578;
    }
  }
  &:active,
  &.is-active {
    background-color: var(--token-color-critical-background-active);
    border-color: transparent;
    box-shadow: none;
    color: var(--token-color-palette-neutral-0);
    &::before {
      border-color: transparent;
    }
  }
  &[disabled],
  &.is-disabled,
  &[disabled]:hover,
  &.is-disabled:hover,
  &[disabled]:focus,
  &.is-disabled:focus {
    background-color: $alpha-200;
    border-color: rgba(101, 106, 118, 0.2);
    box-shadow: none;
    color: var(--token-color-palette-neutral-400);
    cursor: not-allowed;
    &::before {
      border-color: transparent;
    }
  }
}