//
// DISCLOSURE COMPONENT
//
// properties within each class are sorted alphabetically
//

.hds-disclosure {
  position: relative;
  isolation: isolate; // used to create a new stacking contextn (it's likely that the "content" will be absolutely positioned)
  width: fit-content;
}
