// TODOs
// - [ ] Convert to relational units
// - [ ] Check colors against Figma (again)
// - [ ] Determine what should be abstracted
// - [ ] Have meta review of approach before refining
// - [ ] Review with Heather re:padding had to be subtracted by one to account for the transparent border
// - [ ] Add hover/focus/active/disabled states


.hds-dropdown-toggle {
  align-items: center;
  background-color: var(--token-color-surface-interactive);
  border-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--token-elevation-low-box-shadow);
  box-sizing: border-box; 
  color: var(--token-color-foreground-faint);
  display: flex;
  font-family: var(--token-typography-font-stack-text);
  font-size: 0.875rem; // 14px
  gap: 8px;
  justify-content: center;
  line-height: 1rem; // 16px
  padding: 10px;

  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
  &.hds-dropdown-toggle--primary {
    background-color: var(--token-color-palette-blue-200);
    border-color: var(--token-color-palette-blue-300);
    color: var(--token-color-foreground-high-contrast);

  }
  &.hds-dropdown-toggle--secondary {
    background-color: var(--token-color-foreground-high-contrast);
    border-color: var(--token-color-border-strong);
    color: var(--token-color-foreground-primary);
  }

  &.hds-dropdown-toggle__more {
    padding: 5px 7px;

    &.hds-dropdown-toggle__more--small {
      padding: 5px;
    }
    
  }
  &.hds-dropdown-toggle__user {
    padding: 5px 7px;
    gap: 4px;
    svg {
      &:first-of-type {
        height: 24px;
        width: 24px;
      }
    }
  }
  &.hds-dropdown-toggle__avatar {
    gap: 4px;
    padding: 1px;
    
    img {
      border-radius: 3px;
      height: 32px;
      width: 32px;
    }
  }
}

// TODO dropdown container, should this be styled here?
.hds-dropdown__list {
  background-color: white; //TODO REPLACE WITH TOKEN
  border-radius: 5px;
  box-shadow: var(--token-elevation-high-box-shadow);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-width: 265px;
  padding: 4px 0;

  .hds-dropdown-list-item {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: var(--token-typography-font-stack-text);
    justify-content: center;
    width: 100%;

    

    &.hds-dropdown-list-item__heading {
      box-sizing: border-box;
      color: var(--token-color-foreground-strong);
      display: flex;
      font-size: 13px;
      font-weight: 600;
      justify-content: flex-start;
      line-height: 18px;
      padding: 10px 16px 4px;
      width: 100%;
    }
    
    &.hds-dropdown-list-item__help-text {
      box-sizing: border-box;
      color: var(--token-color-foreground-faint);
      display: flex;
      flex-flow: row wrap;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      max-width: 100%;
      padding: 2px 16px 4px;
    }
    
    &.hds-dropdown-list-item__separator {}
    
    &.hds-dropdown-list-item__link {
      border-color: transparent;
      font-size: 15px;
      line-height: 20px;
      
      a {
        align-items: center;
        color: var(--token-color-foreground-primary);
        display: flex;
        gap: 12px;
        max-width: 100%;
        padding: 9px 15px;
        text-decoration: none;
        width: 100%;

      }

      &.hds-dropdown-list-item--critical {
        a {
          color: var(--token-color-foreground-critical);
        }
      }
    }
  }
}