// >>>>>>>>>> WARNING <<<<<<<<<<<
//
// Notice: in this component we're using directly the `Hds::Button` component
// (and adding a specialized class for the "toggle-button" variant, see below)
// If you need to change the styling of the `Button` component, remember that this will impact also
// this component too.
// If instead you need to change only the styling of the `toggle-button` component, you can do it here using
// the specialized class declared below.
// This is NOT a standard approach that we use in the HDS design system implementation, but it's been
// the least worst option we could find to solve the problem of sharing the exact same style of the
// `Button (primary)` with other components.

//
// DROPDOWN COMPONENT
//
// properties within each class are sorted alphabetically
// notice: pseudo-classes for the states *must* follow the order link > visited > focus > hover > active
// see https://github.com/hashicorp/design-system-components/issues/132
//
//

// TODO! split this file in sub-files and import them here:
// - index (main container)
// - toggle
// - list

@use '../mixins/focus-ring' as *;

$hds-dropdown-toggle-more-sizes: ('small', 'medium');

$hds-dropdown-toggle-base-height: 36px;
$hds-dropdown-toggle-border-radius: 5px;
$hds-dropdown-toggle-border-width: 1px;
$hds-dropdown-list-item-border-radius: 5px;

// TOGGLE/BASE (for "MORE" and "USER") // TODO this is not how we name things like this.

.hds-dropdown-toggle {
  align-items: center;
  background-color: transparent;
  border: $hds-dropdown-toggle-border-width solid transparent; // We need this to be transparent for a11y
  border-radius: $hds-dropdown-toggle-border-radius;
  box-sizing: border-box; // TODO https://github.com/hashicorp/design-system-components/issues/46
  color: var(--token-color-foreground-strong);
  display: flex;
  isolation: isolate;
  justify-content: center;
  outline-style: solid; // used to avoid double outline+focus-ring in Safari (see https://github.com/hashicorp/design-system-components/issues/161#issuecomment-1031548656)
  outline-color: transparent; // We need this to be transparent for a11y
  padding: 0;
  position: relative;
  width: auto;

  // This covers all of the browsers and focus scenarios (due to the custom focus design).
  &:disabled,
  &[disabled],
  &.is-disabled,
  &:disabled:focus,
  &[disabled]:focus,
  &.is-disabled:focus,
  &:disabled:hover,
  &[disabled]:hover,
  &.is-disabled:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: var(--token-color-foreground-disabled);
    cursor: not-allowed;

    // it looks weird to see the user photo in full color when the toggle is disabled
    // so we we convert the image to monochrome and reduce its opacity to blend with the background
    .hds-dropdown-toggle__user {
      img {
        filter: grayscale(100%);
        opacity: 0.25;
      }
    }
  }

  &:focus,
  &.is-focus {
    @include hds-focus-ring-with-pseudo-element(
      $top: -1px,
      $right: -1px,
      $bottom: -1px,
      $left: -1px,
      $radius: $hds-dropdown-toggle-border-radius
    );
  }
  &:hover,
  &.is-hover {
    background-color: var(--token-color-surface-interactive);
    border-color: var(--token-color-border-strong);
    cursor: pointer;
  }
  &:active,
  &.is-active {
    background-color: var(--token-color-surface-interactive-active);
    border-color: var(--token-color-border-strong);
  }
}

// TOGGLE/BUTTON

.hds-dropdown-toggle--with-button-component {
  box-shadow: none; // we override this to remove the elevation style

  .hds-button__icon {
    margin-right: -6px; // we apply a negative margin to counter the padding-right of the button and reduce the visual space between the icon and the right border
    margin-left: 0.5rem; // this overrides the rule `.hds-button__text + .hds-button__icon`
  }
}

// TOGGLE/MORE

// these values later may come from the design tokens
$size-props: (
  'small': (
    'size': 28px,
  ),
  'medium': (
    'size': $hds-dropdown-toggle-base-height,
  ),
);

.hds-dropdown-toggle--more {
  @each $size in $hds-dropdown-toggle-more-sizes {
    &.hds-dropdown-toggle--size-#{$size} {
      height: map-get($size-props, $size, 'size');
      width: map-get($size-props, $size, 'size');
    }
  }
}

// TOGGLE/USER

.hds-dropdown-toggle--user {
  height: $hds-dropdown-toggle-base-height;
  padding: 1px;

  .hds-dropdown-toggle__user {
    $size: 32px; // $hds-dropdown-toggle-base-height (36px) - 2 * 1px padding - 2 * 1px border
    align-items: center;
    border-radius: 3px; // $hds-dropdown-toggle-border-radius- 1px padding - 1px border
    display: flex;
    justify-content: center;
    margin-right: 0.25rem; // 4px
    height: $size;
    width: $size;

    > * {
      border-radius: inherit;
    }
  }
}

.hds-dropdown__list {
  align-items: flex-start;
  background-color: white; //TODO REPLACE WITH TOKEN
  border-radius: 6px;
  box-shadow: var(--token-surface-high-box-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  min-height: fit-content;
  padding: 4px 0;
  width: 200px; // default width; TODO once copy-item is added, width should be wider

  &.absolute--right {
    position: absolute;
    right: 0;
  }

  &.absolute--left {
    position: absolute;
    left: 0;
  }

  .hds-dropdown-list-item {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: var(--token-typography-font-stack-text);
    min-height: 36px;
    justify-content: center;
    width: 100%;

    &.hds-dropdown-list-item__heading {
      box-sizing: border-box;
      color: var(--token-color-foreground-strong);
      display: flex;
      font-size: 13px;
      font-weight: 600;
      justify-content: flex-start;
      line-height: 18px;
      padding: 10px 16px 4px;
      width: 100%;
    }

    &.hds-dropdown-list-item__help-text {
      box-sizing: border-box;
      color: var(--token-color-foreground-faint);
      display: flex;
      flex-flow: row wrap;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      max-width: 100%;
      padding: 2px 16px 4px;
    }

    &.hds-dropdown-list-item__separator {
      align-items: center;
      display: flex;
      height: 6px;
      justify-content: stretch;
      min-height: 6px;
      padding: 0;
      span {
        background-color: var(--token-color-border-primary);
        height: 1px;
        width: 100%;
      }
    }

    &.hds-dropdown-list-item__link {
      box-sizing: border-box;
      border-color: transparent;
      padding: 0 4px 0 10px;
      position: relative;
      font-size: 14px;
      line-height: 20px;

      &::before {
        border-radius: 1px;
        bottom: 4px;
        content: '';
        left: 4px;
        position: absolute;
        top: 4px;
        width: 2px;
      }

      a {
        @include hds-focus-ring-with-pseudo-element(
          $top: 0,
          $right: 0,
          $bottom: 0,
          $left: 0,
          $radius: 5px
        ); //TODO @didoo need critical variant
        border-radius: $hds-dropdown-list-item-border-radius;
        display: grid;
        font-size: 15px;
        gap: 0px 6px;
        grid-auto-flow: row;
        grid-template-columns: auto 1fr;
        grid-template-rows: min-content;
        line-height: 20px;
        max-width: 100%;
        padding: 10px;
        text-decoration: none;
        width: 100%;
      }

      &.hds-dropdown-list-item__link--action {
        &:hover {
          &::before {
            background-color: var(--token-color-foreground-action-hover);
          }
        }
        a {
          color: var(--token-color-foreground-primary);

          &:hover {
            color: var(--token-color-foreground-action-hover);
          }

          &:active {
            background-color: var(--token-color-surface-action);
            border-left-color: var(--token-color-foreground-action-hover);
            color: var(--token-color-foreground-action-active);
          }
        }
      }

      &.hds-dropdown-list-item__link--critical {
        &:hover {
          &::before {
            background-color: var(--token-color-foreground-critical-on-surface);
          }
        }
        a {
          color: var(--token-color-foreground-critical);

          &:hover {
            color: var(--token-color-foreground-critical-on-surface);
          }
          &:focus-visible {
            &::before {
              box-shadow: inset 0 0 0 1px
                  var(--token-color-focus-critical-internal),
                0 0 0 3px var(--token-color-focus-critical-external);
            }
          }
          &:active {
            background-color: var(--token-color-surface-critical);
            border-left-color: var(
              --token-color-foreground-critical-on-surface
            );
            color: var(--token-color-foreground-critical-on-surface);
          }
        }
      }

      .hds-dropdown-list-item__link__text {
        width: fit-content;
        white-space: normal;
      }
      .hds-dropdown-list-item__link__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
      }
    }
  }
}
