/* stylelint-disable selector-class-pattern */
// >>>>>>>>>> WARNING <<<<<<<<<<<
//
// Notice: in this component we're using directly the `Hds::Button` component
// (and adding a specialized class for the "toggle-button" variant, see below)
// If you need to change the styling of the `Button` component, remember that this will impact also
// this component too.
// If instead you need to change only the styling of the `toggle-button` component, you can do it here using
// the specialized class declared below.
// This is NOT a standard approach that we use in the HDS design system implementation, but it's been
// the least worst option we could find to solve the problem of sharing the exact same style of the
// `Button (primary)` with other components.

//
// DROPDOWN COMPONENT
//
// properties within each class are sorted alphabetically
// notice: pseudo-classes for the states *must* follow the order link > visited > hover > focus > active
//
//

@use "../mixins/focus-ring" as *;

$hds-dropdown-toggle-base-height: 36px;
$hds-dropdown-toggle-border-radius: 5px;


// TOGGLE/ICON

.hds-dropdown-toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $hds-dropdown-toggle-base-height;
  height: $hds-dropdown-toggle-base-height;
  padding: 1px;
  background-color: transparent;
  border: 1px solid transparent; // We need this to be transparent for a11y
  border-radius: $hds-dropdown-toggle-border-radius;
  outline-style: solid; // used to avoid double outline+focus-ring in Safari (see https://github.com/hashicorp/design-system-components/issues/161#issuecomment-1031548656)
  outline-color: transparent; // We need this to be transparent for a11y

  &:hover,
  &.mock-hover {
    background-color: var(--token-color-surface-interactive);
    border-color: var(--token-color-border-strong);
    cursor: pointer;
  }

  @include hds-focus-ring-with-pseudo-element($top: -1px, $right: -1px, $bottom: -1px, $left: -1px, $radius: $hds-dropdown-toggle-border-radius);

  &:active,
  &.mock-active {
    background-color: var(--token-color-surface-interactive-active);
    border-color: var(--token-color-border-strong);
  }
}

.hds-dropdown-toggle-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 1px;
  border-radius: 3px; // $hds-dropdown-toggle-border-radius - 1px padding - 1px border

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // this will make sure it's correct even if the item isn't square
    border-radius: inherit;
  }
}

.hds-dropdown-toggle-icon__chevron {
  margin-left: 4px;

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.3s;
  }

  .hds-dropdown-toggle-icon--is-open & {
    transform: rotate(-180deg);
  }
}

// TOGGLE/BUTTON

.hds-dropdown-toggle-button {
  box-shadow: none; // we override this to remove the elevation style

  .hds-button__icon {
    margin-right: -6px; // we apply a negative margin to counter the padding-right of the button and reduce the visual space between the icon and the right border
    margin-left: 8px; // this overrides the rule `.hds-button__text + .hds-button__icon`

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.3s;
    }
  }
}


.hds-dropdown-toggle-button--is-open {
  .hds-button__icon {
    transform: rotate(-180deg);
  }
}


// LIST
// UL ELEMENT
// GOES INSIDE HDS::DISCLOSURE's :content block

.hds-dropdown-list {
  width: max-content; // notice: this is important because being in a position absolute means the layout algorithm assigns a width of 0 and this impacts on the flex algorithm of the children (in some cases they don't use the full width)
  min-width: 200px;
  max-width: 400px;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  background-color: var(--token-color-surface-primary);
  border-radius: 6px;
  box-shadow: var(--token-surface-high-box-shadow);
}

.hds-dropdown-list--fixed-width {
  min-width: initial;
  max-width: initial;
}

.hds-dropdown-list--position-right {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  z-index: 2; // https://github.com/hashicorp/design-system/issues/114
}

.hds-dropdown-list--position-left {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  z-index: 2; // https://github.com/hashicorp/design-system/issues/114
}


// LIST > LIST-ITEM
// HDS::DROPDOWN::LIST-ITEM

.hds-dropdown-list-item__copy-item-title {
  padding: 2px 0 4px;
  color: var(--token-color-foreground-faint);
}

.hds-dropdown-list-item--copy-item {
  width: 100%;
  padding: 10px 16px 12px;

  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 8px;
    color: var(--token-color-foreground-primary);
    background-color: transparent;
    border: 1px solid var(--token-color-border-primary);
    border-radius: 5px;

    &:hover,
    &.mock-hover {
      background-color: var(--token-color-surface-interactive-hover);
      cursor: pointer;
    }

    @include hds-focus-ring-basic();

    &:focus,
    &.mock-focus {
      // TODO this focus is just way too complex
      background-color: var(--token-color-surface-action);
      border-color: var(--token-color-focus-action-internal);
    }

    &:active,
    &.mock-active {
      background-color: var(--token-color-surface-interactive-active);
    }

    &.is-success {
      background-color: var(--token-color-surface-success);
      border-color: var(--token-color-border-success);

      .hds-dropdown-list-item__copy-item-icon {
        color: var(--token-color-foreground-success);
      }
    }
  }
}

.hds-dropdown-list-item__copy-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.hds-dropdown-list-item__copy-item-icon {
  flex: none;
  margin-left: 8px;
  color: var(--token-color-foreground-action);
}

.hds-dropdown-list-item--description {
  padding: 2px 16px 4px;
  color: var(--token-color-foreground-faint);
}

.hds-dropdown-list-item--generic {
  padding-right: 16px;
  padding-left: 16px;
}


.hds-dropdown-list-item--interactive {
  position: relative;
  min-height: 36px;
  isolation: isolate; // used to create a new stacking context (needed to have the pseudo element below text/icon but not the parent container)

  // need to reset a few extra things to make the button visually appear the same as the link
  button {
    width: 100%;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  // shared styles for links and buttons
  a,
  button {
    display: flex;
    align-items: center;
    padding: 7px 9px 7px 15px; // notice: we're subtracting 1px because of the transparent border
    text-decoration: none;
    border: 1px solid transparent; // because a border for the button is needed for a11y, we apply it to both the button and the link so they have the same height
    outline-style: solid; // used to avoid double outline+focus-ring in Safari (see https://github.com/hashicorp/design-system-components/issues/161#issuecomment-1031548656)
    outline-color: transparent;

    // this is used for the left "hover" indicator
    &::before {
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: 4px;
      z-index: -1;
      width: 2px;
      border-radius: 1px;
      content: "";
    }

    // Notice: this is used for the active/focus states which have very specific positions
    // and also has a background color, so we can't use the existing focus-ring mixins
    &::after {
      position: absolute;
      top: 0;
      right: 4px;
      bottom: 0;
      left: 10px;
      z-index: -1;
      border-radius: 5px;
      content: "";
    }

    // Notice: to avoid too much duplication we define two local CSS variables
    // and define their values in the color variants below

    &:hover,
    &.mock-hover {
      color: var(--current-color-hover);

      &::before {
        background-color: currentColor;
      }
    }

    // default focus for browsers that still rely on ":focus"
    &:focus,
    &.mock-focus {
      color: var(--current-color-focus);

      &::after {
        left: 4px;
        background-color: var(--current-background-color);
        box-shadow: var(--current-focus-ring-box-shadow);
      }
    }
    // undo the previous declaration for browsers that support ":focus-visible" but wouldn't normally show default focus styles
    &:focus:not(:focus-visible) {
      &::after {
        background-color: transparent;
        box-shadow: none;
      }
    }
    // set focus for browsers that support ":focus-visible"
    &:focus-visible {
      color: var(--current-color-focus);

      &::after {
        left: 4px;
        background-color: var(--current-background-color);
        box-shadow: var(--current-focus-ring-box-shadow);
      }
    }

    // remove the focus ring on "active + focused" state (by design)
    &:focus:active,
    &:focus-visible:active,
    &.mock-focus.mock-active {
      &::after {
        left: 10px;
        background-color: var(--current-background-color);
        box-shadow: none;
      }
    }

    &:active,
    &.mock-active {
      color: var(--current-color-active);

      &::before {
        background-color: currentColor;
      }

      &::after {
        background-color: var(--current-background-color);
      }
    }
  }
}

.hds-dropdown-list-item__interactive-icon {
  margin-right: 8px;
}

.hds-dropdown-list-item__interactive-text {
  text-align: left; // the button element was centering text
}

.hds-dropdown-list-item--color-action {
  a,
  button {
    color: var(--token-color-foreground-primary);

    // assign the values to the local CSS variables used above
    --current-color-hover: var(--token-color-foreground-action-hover);
    --current-color-focus: var(--token-color-foreground-action-active);
    --current-color-active: var(--token-color-foreground-action-active);

    &::after {
      --current-background-color: var(--token-color-surface-action);
      --current-focus-ring-box-shadow: var(--token-focus-ring-action-box-shadow);
    }
  }
}

.hds-dropdown-list-item--color-critical {
  a,
  button {
    color: var(--token-color-foreground-critical);

    // assign the values to the local CSS variables used above
    --current-color-hover: var(--token-color-palette-red-300);
    --current-color-focus: var(--token-color-palette-red-400);
    --current-color-active: var(--token-color-palette-red-400);

    &::after {
      --current-background-color: var(--token-color-surface-critical);
      --current-focus-ring-box-shadow: var(--token-focus-ring-critical-box-shadow);
    }
  }
}

.hds-dropdown-list-item__interactive-loading-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 16px;

  .hds-dropdown-list-item__interactive-text {
    color: var(--token-color-foreground-faint);
  }

  .hds-dropdown-list-item__interactive-icon {
    color: var(--token-color-foreground-primary);
  }
}

.hds-dropdown-list-item--separator {
  position: relative;
  width: 100%;
  height: 4px;

  &::before {
    position: absolute;
    right: 6px;
    bottom: 0;
    left: 6px;
    border-bottom: 1px solid var(--token-color-border-primary);
    content: "";
  }
}

.hds-dropdown-list-item--title {
  padding: 10px 16px 4px;
  color: var(--token-color-foreground-strong);
}

