.hds-empty-state {
  display: block;
  max-width: 40ch;
  margin: 0 auto;
  padding: 0;
  color: var(--token-color-foreground-faint);

  > * {
    margin: 0;
    padding: 0;
  }
}

.hds-empty-state__body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  + * {
    margin-block-start: 1rem;
  }
}

.hds-empty-state__header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
