//
// GUTTERS
//
// properties within each class are sorted alphabetically
//

// Loose spacing scale, move out to centralize for re-use:
// (See: https://www.figma.com/file/oQsMzMMnynfPWpMEt91OpH/HDS-Product---Foundations?node-id=2008%3A3)
:root {
  --hds-spacing-xxs: 4px; // xxs
  --hds-spacing-xs: 8px; // xs
  --hds-spacing-sm: 12px; // sm
  --hds-spacing-md: 16px; // md
  --hds-spacing-lg: 24px; // lg
  --hds-spacing-xl: 36px; // xl
  --hds-spacing-xxl: 48px; // xxl
}

// TODO: Determine best default spacing size
$default-spacing: var(--hds-spacing-md); // set as Sass variable to not expose

.hds-gutters-vertical {
  display: flex;
  flex-direction: column;

  > * + * {margin-top: var(--hds-spacing, $default-spacing);}
}

.hds-gutters-horizontal {
  display: flex;

  > * + * {margin-left: var(--hds-spacing, $default-spacing);}
}

.hds-gutters-spacing {
  &-xxs {> * {--hds-spacing: var(--hds-spacing-xxs);}}
  &-xs {> * {--hds-spacing: var(--hds-spacing-xs);}}
  &-sm {> * {--hds-spacing: var(--hds-spacing-sm);}}
  &-md {> * {--hds-spacing: var(--hds-spacing-md);}}
  &-lg {> * {--hds-spacing: var(--hds-spacing-lg);}}
  &-xl {> * {--hds-spacing: var(--hds-spacing-xl);}}
  &-xxl {> * {--hds-spacing: var(--hds-spacing-xxl);}}
}