//
// PAGINATIONBAR
//

@use "../mixins/focus-ring" as *;

// * Pagination Parent (wrapper) component
// ----------------------------------------
.hds-pagination-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  color: var(--token-color-foreground-primary);
  font-size: var(--token-typography-body-300-font-size);
}

// * Sub-component: Pagination
// ----------------------------------------
.hds-pagination {
  display: flex;
  align-self: stretch;
}

.hds-pagination__page-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hds-pagination__page {
  display: flex;
}

.hds-pagination__page-link {
  @include hds-focus-ring-with-pseudo-element(
    $top: 5px,
    $right: 5px,
    $bottom: 5px,
    $left: 5px,
  );
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: inherit;
  text-decoration: none;
}

// Hide "Previous" & "Next" labels by default (TODO: Remove from DOM using JS?)
.hds-pagination__page-label { display: none; }

// NOTE: Trying to account for white space around icons inside the links (will adjust as requested)
.hds-pagination__page--previous .hds-pagination__page-link { padding-left: 8px; }
.hds-pagination__page-next .hds-pagination__page-link { padding-right: 8px; }

// "Compact" Pagination Very Rough WIP - TODO: Refactor
.hds-pagination-bar--is-compact {
  .hds-pagination__page-label { display: block; }

  .hds-pagination__nav-icon + .hds-pagination__page-label,
  .hds-pagination__page-label + .hds-pagination__nav-icon {
    margin-left: 6px;
  }

  .hds-pagination__page--previous,
  .hds-pagination__page--next {
    display: flex;
  }

  // Ugly temporary hackish style for visual layout purposes will be replaced by JS solution...
  .hds-pagination__page:not(.hds-pagination__page--previous, .hds-pagination__page--next) {
    display: none;
  }
}

.hds-pagination__page-link--ellipsis {
  color: var(--token-color-foreground-faint);
}

.hds-pagination__page--current {
  position: relative;
  color: var(--token-color-foreground-action);

  &:hover {
    color: var(--token-color-foreground-action-hover);
  }

  &:active {
    color: var(--token-color-foreground-action-active);
  }

  // indicator underline
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 2px;
    margin: 0 auto;
    background-color: currentColor;
    border-radius: 2px;
    content: "";
  }
}

// * Sub-component: PaginationPageSize
// ----------------------------------------
// TODO: refactor!!! (Should not reference nested component classes)
.hds-pagination-page-size {
  > * {
    display: flex;
    gap: 12px; // TODO: refactor
    align-items: center;
  }

  // Issue: attributes are spread on nested select element, not on the component's parent wrapper...
  .hds-form-label {
    font-weight: inherit;
    font-size: inherit;
  }

  .hds-form-select {
    height: 28px;
    margin-top: 0 !important;
    padding-top: 0;
    padding-right: calc(0px + 24px);
    padding-bottom: 0;
    padding-left: 8px;
    font-size: inherit;
    background-position: center right 5px;
  }
}
