//
// PAGINATIONBAR
//

@use "../mixins/focus-ring" as *;

$pagination-height: calc(36px + 6px);

// * Pagination Parent (wrapper) component
// ----------------------------------------
.hds-pagination-bar {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: $pagination-height;
  margin: 20px auto;
  color: var(--token-color-foreground-primary);
  // font-size: var(--token-typography-body-300-font-size); // = 1rem, not same as 13px, TODO: investigate
  font-size: 13px;
}

// * Sub-component: TotalCount
// ---------------------------------------
.hds-pagination-total-count {
  grid-area: left;
  justify-self: flex-start;
}


// * Sub-component: Pagination
// ----------------------------------------
.hds-pagination {
  display: flex;
  grid-area: center;
  align-self: stretch;
}

.hds-pagination__page-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: flex;
  }
}

.hds-pagination__page-link,
.hds-pagination__ellipsis {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.hds-pagination__page-link {
  @include hds-focus-ring-with-pseudo-element(
    $top: 5px,
    $right: 5px,
    $bottom: 5px,
    $left: 5px,
  );
  height: $pagination-height;
  color: inherit;
  font: inherit;
  text-decoration: none;
  background: transparent;
  border: none;

  &:hover,
  &.mock-hover {
    color: var(--token-color-foreground-action-hover);
  }

  &:active,
  &.mock-active {
    color: var(--token-color-foreground-action-active);
  }

  &:disabled {
    color: var(--token-color-foreground-disabled);
  }
}

.hds-pagination__ellipsis {
  color: var(--token-color-foreground-faint);
}

.hds-pagination__page-icon + .hds-pagination__page-label,
.hds-pagination__page-label + .hds-pagination__page-icon {
  margin-left: 6px;
}

.hds-pagination__page-selected {
  position: relative;
  color: var(--token-color-foreground-action);

  &:hover {
    color: var(--token-color-foreground-action-hover);
  }

  &:active {
    color: var(--token-color-foreground-action-active);
  }

  .hds-pagination__page-link {
    &,
    &:hover,
    &:active {
      color: inherit;
    }
  }

  // indicator underline
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 2px;
    margin: 0 auto;
    background-color: currentColor;
    border-radius: 2px;
    content: "";
  }
}

// * Sub-component: PaginationPageSize
// ----------------------------------------
.hds-pagination-page-size {
  display: flex;
  grid-area: right;
  gap: 12px; // TODO: refactor
  align-items: center;
  justify-self: flex-end;

  > label {
    font-weight: inherit;
    font-size: inherit;
  }

  > select {
    height: 28px;
    margin-top: 0 !important;
    padding-top: 0;
    padding-right: calc(0px + 24px);
    padding-bottom: 0;
    padding-left: 8px;
    font-size: inherit;
    background-position: center right 5px;
  }
}
