//
// SIDE-NAV
//

// WIP, naming, etc. will be refined...
:root {
  --nav-item-padding-horizontal: 12px;
}


// * SideNav Parent (wrapper) component
// -------------------------------------------------------------------

.hds-side-nav {
  // NOTE: Cloud-ui uses grid layout in non-mobile
  position: fixed; // TODO: should apply only to "mobile" view
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  color: #fff;
  background: #000;
}


// Child "wrapper" blocks & child components:

// * Sub-component: Header
// ---------------------------------------
.hds-side-nav__header {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px;

  .hds-side-nav__header-logo {
    margin-right: auto;
  }

  // TEMP HACK ONLY! (TODO: replace)
  .hds-disclosure__toggle:not(:hover) * {
    color: inherit !important;
  }
}

.hds-side-nav__header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 48px;
  padding: 4px;
  color: inherit;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;

  &:hover {
    background: var(--token-color-palette-neutral-600);
  }

  .hds-button__icon {
    width: auto;
    height: 35px;
  }
}

// * Sub-component: Body
// ---------------------------------------
.hds-side-nav__body {
  flex: 1;
  padding: 12px;
  overflow: auto;
}

// Change to "nav-group" to "section"
.hds-side-nav__section {
  + .hds-side-nav__section { margin-top: 28px; }
}

.hds-side-nav__section-header {
  padding: 0 var(--nav-item-padding-horizontal);
  color: var(--token-color-palette-neutral-400);

  + .hds-side-nav__list { margin-top: 12px; }
}

.hds-side-nav__list {
  margin: 0;
  padding: 0;
}

.hds-side-nav__list-item {
  list-style-type: none; // Q: Should ul have role="list" added for accessibility?

  + .hds-side-nav__list-item { margin-top: 4px; }
}

.hds-side-nav__link {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 2.25rem;
  padding: 0 var(--nav-item-padding-horizontal);
  color: var(--token-color-palette-neutral-300);
  text-decoration: none;
  overflow-wrap: break-word;
  background: transparent;
  border-color: transparent;
  border-radius: 5px;

  &:hover {
    background: var(--token-color-palette-neutral-600);
  }

  .hds-badge {
    margin-left: 8px;
  }
}

// WIP...
.hds-side-nav__list-item--is-current {
  background: var(--token-color-palette-neutral-500);
}

.hds-side-nav__list-icon {
  width: 1rem;
  min-width: 1rem;
  margin-right: 8px;
}

// * Sub-component: Footer
// ---------------------------------------
.hds-side-nav__footer {
  padding: 12px;
}
