//
// TABLE
//
//

$hds-table-border-radius: 6px;
$hds-table-border-width: 1px;
$hds-table-inner-border-radius: $hds-table-border-radius - $hds-table-border-width;
$hds-table-border-color: var(--token-color-border-primary);

.hds-table,
.hds-table-sortable {
  width: 100%;
  font-size: var(--token-typography-body-200-font-size);
  font-family: var(--token-typography-font-stack-text);
  line-height: var(--token-typography-body-200-line-height);
  table-layout: fixed;
  border: $hds-table-border-width solid $hds-table-border-color;
  border-radius: $hds-table-border-radius;
  border-spacing: 0;
}

.hds-table--striped {
  tbody {
    tr:nth-child(even) {
      background-color: var(--token-color-surface-faint);
    }
  }
}

// DENSITY (ROW HEIGHT)
.hds-table--density-short td {
  padding: 4px 16px;
}

.hds-table--density-medium td {
  padding: 12px 16px;
}

.hds-table--density-tall td {
  padding: 20px 16px;
}


.hds-table__thead {
  .hds-table__tr {
    color: var(--token-color-foreground-strong);
    background-color: var(--token-color-surface-strong);

    &:first-of-type {
      th:first-child {
        border-left: none;
        border-top-left-radius: $hds-table-inner-border-radius;

        button {
          &:focus,
          :focus-visible {
            border-color: var(--token-color-focus-action-external);
            border-top-left-radius: $hds-table-inner-border-radius;
          }
        }
      }

      th:last-child {
        border-right: none;
        border-top-right-radius: $hds-table-inner-border-radius;

        button { // I don't like this, it feels weird to have declared in multiple places- open to ideas on how to organize this CSS so we don't have to repeat selectors like this.
          &:focus,
          :focus-visible {
            border-color: var(--token-color-focus-action-external);
            border-top-right-radius: $hds-table-inner-border-radius;
          }
        }
      }
    }
  }

  .hds-table__th,
  .hds-table__th-sort {
    height: 48px;
    padding: 8px 16px;
    color: var(--token-color-foreground-strong);
    font-weight: var(--token-typography-font-weight-semibold);
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    background-color: var(--token-color-surface-strong);
    border-top: none;
    border-right: $hds-table-border-width solid $hds-table-border-color;
    border-bottom: $hds-table-border-width solid $hds-table-border-color;
    border-left: none;
  }

  .hds-table__th-sort {
    padding: 0; // we're taking it out here because we need it on the interactive content instead

    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 8px 16px;
      color: var(--token-color-foreground-strong);
      font-weight: var(--token-typography-font-weight-semibold);
      font-size: 14px;
      line-height: 1.4;
      text-decoration: none;
      background-color: transparent;
      border: 3px solid transparent;
      border-radius: 0;

      &:visited {
        color: var(--token-color-foreground-strong);
      }

      &:hover {
        color: var(--token-color-foreground-strong);
        background-color: var(--token-color-palette-neutral-200);
        cursor: pointer;
      }

      &:focus,
      &:focus-visible {
        color: var(--token-color-foreground-strong);
        border-color: var(--token-color-focus-action-external);
        outline: 0; // I'm not sure what to do here because we'll need our outline style but you can't change the outline radius
      }

      &:active {
        color: var(--token-color-foreground-strong);
        background-color: var(--token-color-palette-neutral-300);
      }

      svg { // in case they don't use flight icons
        margin-left: 8px;
        color: var(--token-color-foreground-action);
      }
    }
  }
}

.hds-table__tbody {
  .hds-table__tr {
    color: var(--token-color-foreground-primary);
    font-weight: var(--token-typography-font-weight-regular);
    background-color: var(--token-color-surface-primary);

    td {
      border-top: none;
      border-right: $hds-table-border-width solid $hds-table-border-color;
      border-bottom: $hds-table-border-width solid $hds-table-border-color;
      border-left: none;

      &:last-child {
        border-right: none;
      }
    }

    &:nth-of-type(2n) {
      background-color: var(--token-color-surface-faint);
    }

    &:last-of-type {
      td {
        border-bottom: none;
      }

      td:first-child {
        border-bottom-left-radius: $hds-table-inner-border-radius;
      }

      td:last-child {
        border-bottom-right-radius: $hds-table-inner-border-radius;
      }
    }
  }
}
