//
// TABS
//

@use "../mixins/focus-ring" as *;

$indicator-height: 3px;

// .hds-tabs {}

// Sub-components:
.hds-tabs__tablist-wrapper {
  padding-bottom: round(calc($indicator-height / 2));
  // overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  // white-space: nowrap; // move
}

.hds-tabs__tablist {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--token-color-border-primary);
}

.hds-tabs__tab {
  position: relative; // for positioning indicator
  // adjust position to make indicator overlap tabs bottom border:
  bottom: round(calc($indicator-height / 2 * -1));
  display: flex;
  align-items: center;
  height: 36px;
  margin: 0;
  padding: 0 12px;
  white-space: nowrap;
  text-decoration: none;
  list-style: none;

  &.hds-tabs__tab--is-selected {
    /* indicator TODO: refactor as needed for animation */
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: $indicator-height;
      background-color: var(--token-color-foreground-action);
      border-radius: 3px;
      content: "";
    }

    // indicator:
    &:hover::after { background-color: var(--token-color-foreground-action-hover); }

    .hds-tabs__tab-button {
      color: var(--token-color-foreground-action);
    }
  }
}

.hds-tabs__tab-button {
  @include hds-focus-ring-with-pseudo-element(
    $top: 6px,
    $right: 6px,
    $bottom: 6px,
    $left: 6px,
  );
  position: static;
  padding: 0;
  color: var(--token-color-foreground-primary);
  background-color: transparent;
  border: none;
  border-radius: var(--token-form-control-border-radius);

  &:hover,
  &.mock-hover {
    color: var(--token-color-foreground-action-hover);
  }
}

.hds-tabs__tab-icon {
  margin-right: 6px;
}

.hds-tabs__tab-badge {
  margin-left: 6px;
}
