//
// TABS
//

@use "../mixins/focus-ring" as *;

$indicator-height: 3px;

// .hds-tabs {}

// Sub-components:
// NOTE: hds-tabs__tablist-wrapper is still part of parent component, may separate into child later as needed. Will consider re-naming class then
.hds-tabs__tablist-wrapper {
  padding-bottom: round(calc($indicator-height / 2));
  // overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  // white-space: nowrap; // move
}

// (Note: may rename later, this part of structure could still be changed as things evolve)
.hds-tabs__tablist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid var(--token-color-border-primary);
}

.hds-tabs__tab {
  position: relative; // for positioning temp indicator

  &.hds-tabs__tab--is-selected {
    /* temporary indicator TODO: refactor WIP */
    &::after {
      position: absolute;
      right: 0;
      bottom: round(calc($indicator-height / 2 * -1));
      left: 0;
      display: block;
      height: $indicator-height;
      background: var(--token-color-foreground-action);
      border-radius: 3px;
      content: "";
    }

    .hds-tabs__link {
      color: var(--token-color-foreground-action);
    }
  }
}

.hds-tabs__link {
  @include hds-focus-ring-with-pseudo-element($top: 4px, $right: 6px, $bottom: 4px, $left: 6px);
  display: block;
  padding: 8px 12px;
  color: var(--token-color-foreground-primary);
  white-space: nowrap;
  text-decoration: none;
  border-radius: var(--token-form-control-border-radius);

  &:hover {
    color: var(--token-color-foreground-action-hover);
  }
}

// TODO: Do we want to have a visibile focus style for the tabPanel or not?
.hds-tabs__panel {
  @include hds-focus-ring-with-pseudo-element($top: 4px, $right: 6px, $bottom: 4px, $left: 6px);
}
