//
// TABS
//

@use "../mixins/focus-ring" as *;

$indicator-height: 3px;

// Sub-components:
.hds-tabs__tablist-wrapper {
  position: relative;

  // bottom gray border:
  &::before {
    position: absolute;
    right: 0;
    bottom: floor($indicator-height / 2);
    left: 0;
    display: block;
    border-top: 1px solid var(--token-color-border-primary);
    content: "";
  }
}

.hds-tabs__tablist {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.hds-tabs__tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  margin: 0;
  padding: 0 12px;
  color: var(--token-color-foreground-primary);
  white-space: nowrap;
  text-decoration: none;
  list-style: none;

  &:hover,
  &.mock-hover {
    color: var(--token-color-foreground-action);
  }

  &.hds-tabs__tab--is-selected {
    color: var(--token-color-foreground-action);

    &:hover {
      color: var(--token-color-foreground-action-hover);

      & ~ .hds-tabs__tab-indicator {
        background: var(--token-color-foreground-action-hover);
      }
    }
  }
}

.hds-tabs__tab-button {
  @include hds-focus-ring-with-pseudo-element(
    $top: 6px,
    $right: 6px,
    $bottom: 6px,
    $left: 6px,
  );
  position: static;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--token-form-control-border-radius);
  cursor: pointer;
}

.hds-tabs__tab-icon {
  margin-right: 6px;
}

.hds-tabs__tab-badge {
  margin-left: 6px;
}

.hds-tabs__tab-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: var(--indicator-left-pos);
  z-index: 10;
  display: block;
  width: var(--indicator-width);
  height: $indicator-height;
  background-color: var(--token-color-foreground-action);
  border-radius: 3px;

  @media screen and (prefers-reduced-motion: no-preference) {
    transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
    transition-duration: 0.6s;
    transition-property: left, width;
  }
}
