//
// TAG COMPONENT
//
// properties within each class are sorted alphabetically
//
//

@use "../mixins/focus-ring" as *;

$hds-tag-border-radius: 13px;

.hds-tag {
  align-items: stretch;
  background-color: var(--token-color-surface-interactive);
  border: 1px solid var(--token-color-border-strong);
  border-radius: $hds-tag-border-radius;
  color: var(--token-color-foreground-primary);
  display: inline-flex;
  font-family: var(--token-typography-font-stack-text);
  font-size: 0.8125rem; // 13px
  font-weight: var(--token-typography-font-weight-medium);
  line-height: 1rem; // 16px
  vertical-align: middle;
}

.hds-tag__dismiss {
  flex: 0 0 auto;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none; // reset default button border
  margin: 0; // reset default button margin
  padding: 6px 2px 6px 8px;
}

.hds-tag__dismiss-icon {
  height: 12px;
  width: 12px;
}

.hds-tag__text,
.hds-tag__link {
  border-radius: inherit;
  flex: 1 0 0;
  padding: 3px 10px 5px 10px;
}

.hds-tag__dismiss ~ .hds-tag__text,
.hds-tag__dismiss ~ .hds-tag__link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3px 8px 5px 6px;
}

// INTERACTIVE ELEMENTS

.hds-tag__dismiss,
.hds-tag__link {
  background-color: var(--token-color-surface-faint);
  cursor: pointer;

  &:hover,
  &.mock-hover {
    background-color: var(--token-color-surface-interactive-hover);
  }

  &:active,
  &.mock-active{
    background-color: var(--token-color-surface-interactive-active);
  }

  &:focus,
  &.mock-focus {
    @include hds-focus-ring-basic();
    z-index: 1; // ensures focus is not obscured by adjacent elements
  }
}

// COLORS (FOR LINK)

.hds-tag--color-primary {
  .hds-tag__link {
    color: var(--token-color-foreground-action);

    &:hover,
    &.mock-hover {
      color: var(--token-color-foreground-action-hover);
    }

    &:active,
    &.mock-active{
      color: var(--token-color-foreground-action-active);
    }
  }
}

.hds-tag--color-secondary {
  .hds-tag__link {
    color: var(--token-color-foreground-strong);
  }
}
