//
// TEXT
//
// properties within each class are sorted alphabetically
//
//

.hds-text--align-left {
  text-align: left;
}

.hds-text--align-center {
  text-align: center;
}

.hds-text--align-right {
  text-align: right;
}
