//
// TOAST
//
// properties within each class are sorted alphabetically
//
//

.hds-toast {
  width: fit-content;

  // per design specs
  min-width: min(360px, 80vw);
  max-width: min(500px, 80vw);
  // we apply an elevation to the "alert/inline" element
  box-shadow: var(--token-elevation-higher-box-shadow);
}
