//
// TOAST
//
// properties within each class are sorted alphabetically
//
//

.hds-toast {
  // we apply an elevation to the "alert/inline" element
  box-shadow: var(--token-elevation-higher-box-shadow);

  // per design specs
  min-width: 360px;
  max-width: 500px;
  width: fit-content;
}
