{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: MPL-2.0
}}

<ul class="doc-content-principles" role="list">
  {{#each this.principles as |principle|}}
    <li>
      <img class="doc-content-principles__image" src="{{principle.image}}" alt="" role="presentation" />
      <p class="doc-content-principles__number">{{principle.number}}</p>
      <p class="doc-content-principles__title"><strong>{{principle.title}}</strong></p>
      <p class="doc-content-principles__description">{{principle.description}}</p>
    </li>
  {{/each}}
</ul>