<ul class="doc-content-principles" role="list">
  {{#each this.principles as |principle|}}
    <li>
      <img class="doc-content-principles__image" src="{{principle.image}}" alt="" role="presentation" />
      <p class="doc-content-principles__number">{{principle.number}}</p>
      <p class="doc-content-principles__title doc-text-h3"><strong>{{principle.title}}</strong></p>
      <p class="doc-content-principles__description doc-text-body">{{principle.description}}</p>
    </li>
  {{/each}}
</ul>