/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// LINK > STANDALONE COMPONENT
//
// notice: pseudo-classes for the states *must* follow the order link > visited > hover > focus > active
//

@use "sass:map";
@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

$hds-link-standalone-sizes: ("small", "medium", "large");

.hds-link-standalone {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: var(--token-link-standalone-padding-vertical) 0;
  font-weight: var(--token-typography-font-weight-regular);
  font-family: var(--token-typography-font-stack-text);
  // notice: the text decoration is applied directly to the "text" container because of a bug in Safari (see https://github.com/hashicorp/design-system-components/issues/159)
  text-decoration-color: transparent;

  @include hds-focus-ring-with-pseudo-element($left: -2px, $right: -2px, $radius: var(--token-border-radius-small));
}

.hds-link-standalone__icon {
  display: block;
}

.hds-link-standalone__text {
  display: block;
  flex: 1 0 0;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.25s ease-in;

  @include hds-apply-only-if-carbon() {
    transition: none;
  }
}

// SIZE

@each $size in $hds-link-standalone-sizes {
  .hds-link-standalone--size-#{$size} {
    .hds-link-standalone__icon {
      width: var(--token-link-standalone-icon-size-#{$size});
      height: var(--token-link-standalone-icon-size-#{$size});
    }

    .hds-link-standalone__text {
      font-size: var(--token-link-standalone-typography-font-size-#{$size});
      line-height: var(--token-link-standalone-typography-line-height-#{$size});
      letter-spacing: var(--token-link-standalone-typography-letter-spacing-#{$size});
    }
  }
}

// COLORS & STATES
// The "primary" and "secondary" variants share a lot of styles for the interactive states

.hds-link-standalone--color-primary {
  color: var(--token-color-foreground-action);

  &:hover,
  &.mock-hover {
    color: var(--token-color-foreground-action-hover);

    .hds-link-standalone__text {
      text-decoration-color: var(--token-color-foreground-action-hover);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-color-foreground-action-active);

    .hds-link-standalone__text {
      text-decoration-color: var(--token-color-foreground-action-active);
    }
  }
}

.hds-link-standalone--color-secondary {
  color: var(--token-color-foreground-strong);

  &:hover,
  &.mock-hover {
    .hds-link-standalone__text {
      text-decoration-color: var(--token-color-foreground-strong);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-color-foreground-primary);

    .hds-link-standalone__text {
      text-decoration-color: var(--token-color-foreground-primary);
    }
  }
}
