/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// LINK > STANDALONE COMPONENT
//

@use "sass:map";
@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

$hds-link-standalone-sizes: ("small", "medium", "large");

.hds-link-standalone {
  display: flex;
  gap: var(--hds-link-standalone-gap);
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: var(--hds-link-standalone-padding-vertical) 0;
  font-weight: var(--hds-typography-font-weight-regular);
  font-family: var(--hds-typography-font-stack-text);
  // notice: the text decoration is applied directly to the "text" container because of a bug in Safari (see https://github.com/hashicorp/design-system-components/issues/159)
  text-decoration-color: transparent;
  border-radius: var(--hds-border-radius-small);

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-advanced(
      // we want the focus ring to extend a bit around the content
      $pseudo-element-inset-hds: 0 -7px 0 -5px,
      $pseudo-element-inset-cds: 0 -7px 0 -5px,
      // per design specs, we're using the same outline width as the normal link in Carbon (which is 1px)
      $external-outline-width-cds: 1px
    );
  }
}

.hds-link-standalone__icon {
  display: block;
}

.hds-link-standalone__text {
  display: block;
  flex: 1 0 0;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.25s ease-in;

  @include hds-apply-only-if-carbon() {
    transition: none;
  }
}

// SIZE

@each $size in $hds-link-standalone-sizes {
  .hds-link-standalone--size-#{$size} {
    .hds-link-standalone__icon {
      width: var(--hds-link-standalone-icon-size-#{$size});
      height: var(--hds-link-standalone-icon-size-#{$size});
    }

    .hds-link-standalone__text {
      font-size: var(--hds-link-standalone-typography-font-size-#{$size});
      line-height: var(--hds-link-standalone-typography-line-height-#{$size});
    }
  }
}

// COLORS & STATES
// The "primary" and "secondary" variants share a lot of styles for the interactive states

.hds-link-standalone--color-primary {
  color: var(--hds-color-foreground-action);

  &:hover,
  &.mock-hover {
    color: var(--hds-color-foreground-action-hover);

    .hds-link-standalone__text {
      text-decoration-color: var(--hds-color-foreground-action-hover);
    }
  }

  &:active,
  &.mock-active {
    color: var(--hds-color-foreground-action-active);

    .hds-link-standalone__text {
      text-decoration-color: var(--hds-color-foreground-action-active);
    }
  }
}

.hds-link-standalone--color-secondary {
  color: var(--hds-color-foreground-strong);

  &:hover,
  &.mock-hover {
    color: var(--hds-color-foreground-strong);

    .hds-link-standalone__text {
      text-decoration-color: var(--hds-color-foreground-strong);
    }
  }

  &:active,
  &.mock-active {
    color: var(--hds-color-foreground-primary);

    .hds-link-standalone__text {
      text-decoration-color: var(--hds-color-foreground-primary);
    }
  }
}
