{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Basic Form Layout - Frameless"}}

<Mock::App>
  <:main>
    <Hds::Form>
      <Hds::Form::Header>
        <Hds::Form::Header::Title>Form responsiveness demo</Hds::Form::Header::Title>
        <Hds::Form::Description>
          This is a demo of responsive layout behavior. Only the FieldGroup component is responsive; other content just
          has a set max-width.
        </Hds::Form::Description>
      </Hds::Form::Header>

      <Hds::Form::Section>
        <Hds::Form::Section::Header>
          <Hds::Form::Section::Header::Title>Your personal details</Hds::Form::Section::Header::Title>
          <Hds::Form::Description>
            Please fill out the fields below with your personal details.
          </Hds::Form::Description>
        </Hds::Form::Section::Header>

        <Hds::Form::Section::FieldGroup>
          <Hds::Form::TextInput::Field as |F|>
            <F.Label>First name</F.Label>
            <F.HelperText>Your given name</F.HelperText>
          </Hds::Form::TextInput::Field>

          <Hds::Form::TextInput::Field as |F|>
            <F.Label>Last name</F.Label>
          </Hds::Form::TextInput::Field>
        </Hds::Form::Section::FieldGroup>

        <Hds::Form::Section::FieldGroup as |FG|>
          <Hds::Form::TextInput::Field as |F|>
            <F.Label>City</F.Label>
          </Hds::Form::TextInput::Field>

          <FG.Item @basis="auto">
            <Hds::Form::Select::Field as |F|>
              <F.Label>State</F.Label>
              <F.Options>
                <option value="state-1">Ohio</option>
                <option value="state-2">Massachusetts</option>
                <option value="state-3">Washington</option>
                <option value="state-4">Florida</option>
                <option value="state-4">North Carolina</option>
              </F.Options>
            </Hds::Form::Select::Field>
          </FG.Item>

          <Hds::Form::TextInput::Field @width="6em" as |F|>
            <F.Label>Zip</F.Label>
          </Hds::Form::TextInput::Field>
        </Hds::Form::Section::FieldGroup>

        <Hds::Form::Radio::Group @layout="horizontal" @name="datacenter-demo3" as |G|>
          <G.Legend>Choose datacenter</G.Legend>
          <G.RadioField as |F|>
            <F.Label>NYC1</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>DC1</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>NYC2</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>SF1</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>Lorem ipsum dolor wat</F.Label>
          </G.RadioField>
        </Hds::Form::Radio::Group>

        <Hds::Form::TextInput::Field as |F|>
          <F.Label>Favorite animal</F.Label>
        </Hds::Form::TextInput::Field>

        <Hds::Form::Textarea::Field name="demo-description" as |F|>
          <F.Label>Short bio</F.Label>
        </Hds::Form::Textarea::Field>
      </Hds::Form::Section>

      <Hds::Form::Section>
        <Hds::ButtonSet>
          <Hds::Button @text="Submit" type="submit" />
          <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
        </Hds::ButtonSet>
      </Hds::Form::Section>
    </Hds::Form>
  </:main>
</Mock::App>