/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// THEMING

.hds-code-block--theme-dark {
  // Syntax highlighting tokens reference design tokens:
  // general ----
  --hds-code-block-color-token: var(--token-code-block-foreground-color-primary);
  // specific ----
  --hds-code-block-color-atrule: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-code-block-attr-name: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-attr-value: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-boolean: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-builtin: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-char: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-class-name: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-comment: var(--token-code-block-foreground-color-faint);
  --hds-code-block-color-control: var(--token-code-block-syntax-highlight-color-cyan);
  --hds-code-block-color-constant: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-deleted: var(--token-code-block-syntax-highlight-color-red);
  --hds-code-block-color-entity: var(--token-code-block-syntax-highlight-color-green);
  --hds-code-block-color-function: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-important: var(--token-code-block-syntax-highlight-color-red);
  --hds-code-block-color-keyword: var(--token-code-block-syntax-highlight-color-green);
  --hds-code-block-color-namespace: var(--token-code-block-syntax-highlight-color-red);
  --hds-code-block-color-number: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-operator: var(--token-code-block-syntax-highlight-color-cyan);
  --hds-code-block-color-prolog: var(--token-code-block-foreground-color-primary);
  --hds-code-block-color-property: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-punctuation: var(--token-code-block-foreground-color-primary);
  --hds-code-block-color-regex: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-script: var(--token-code-block-foreground-color-primary);
  --hds-code-block-color-selector: var(--token-code-block-syntax-highlight-color-green);
  --hds-code-block-color-string: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-symbol: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-tag: var(--token-code-block-syntax-highlight-color-green);
  --hds-code-block-color-url: var(--token-code-block-syntax-highlight-color-cyan);
  // language-scoped:
  // css ----
  --hds-code-block-color-lang-css: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-lang-css-token: var(--token-code-block-syntax-highlight-color-green);
  --hds-code-block-color-lang-css-atrule: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-lang-css-entity: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-lang-css-function: var(--token-code-block-syntax-highlight-color-cyan);
  --hds-code-block-color-lang-css-property: var(--token-code-block-syntax-highlight-color-cyan);
  --hds-code-block-color-lang-css-punctuation: var(--token-code-block-syntax-highlight-color-orange);
  --hds-code-block-color-lang-css-not-atrule: var(--token-code-block-foreground-color-primary);
  --hds-code-block-color-lang-css-selector: var(--token-code-block-syntax-highlight-color-blue);
  --hds-code-block-color-lang-css-url: var(--token-code-block-syntax-highlight-color-orange);
  // javascript ----
  --hds-code-block-color-lang-js-constant: var(--token-code-block-syntax-highlight-color-orange);
  // markup/html ----
  --hds-code-block-color-lang-markup-attr-value: var(--token-code-block-syntax-highlight-color-yellow);
  --hds-code-block-color-lang-markup-entity-named: var(--token-code-block-syntax-highlight-color-purple);
  --hds-code-block-color-lang-markup-entity-not-named: var(--token-code-block-syntax-highlight-color-green);
}

.hds-code-block {
  // Syntax highlighting ----

  // General tokens
  .token {
    color: var(--hds-code-block-color-token);
  }

  .token.atrule {
    color: var(--hds-code-block-color-atrule);
  }

  .token.attr-name {
    color: var(--hds-code-block-color-attr-name);
  }

  .token.attr-value {
    color: var(--hds-code-block-color-attr-value);
  }

  .token.boolean {
    color: var(--hds-code-block-color-boolean);
  }

  .token.builtin {
    color: var(--hds-code-block-color-builtin);
  }

  .token.char {
    color: var(--hds-code-block-color-char);
  }

  .token.class-name {
    color: var(--hds-code-block-color-class-name);
  }

  .token.comment {
    color: var(--hds-code-block-color-comment);
  }

  .token.constant {
    color: var(--hds-code-block-color-constant);
  }

  .token.deleted {
    color: var(--hds-code-block-color-deleted);
  }

  .token.entity {
    color: var(--hds-code-block-color-entity);
  }

  .token.function {
    color: var(--hds-code-block-color-function);
  }

  .token.important {
    color: var(--hds-code-block-color-important);
  }

  .token.keyword {
    color: var(--hds-code-block-color-keyword);
  }

  .token.namespace {
    color: var(--hds-code-block-color-namespace);
  }

  .token.number {
    color: var(--hds-code-block-color-number);
  }

  .token.operator {
    color: var(--hds-code-block-color-operator);
  }

  .token.punctuation {
    color: var(--hds-code-block-color-punctuation);
  }

  .token.prolog {
    color: var(--hds-code-block-color-prolog);
  }

  .token.property {
    color: var(--hds-code-block-color-property);
  }

  .token.regex {
    color: var(--hds-code-block-color-regex);
  }

  .token.script {
    color: var(--hds-code-block-color-script);
  }

  .token.selector {
    color: var(--hds-code-block-color-selector);
  }

  .token.string {
    color: var(--hds-code-block-color-string);
  }

  .token.symbol {
    color: var(--hds-code-block-color-symbol);
  }

  .token.tag {
    color: var(--hds-code-block-color-tag);
  }

  .token.url {
    color: var(--hds-code-block-color-url);
  }

  .token.variable {
    color: var(--hds-code-block-color-comment);
  }

  // Language-specific
  .language-css {
    color: var(--hds-code-block-color-lang-css);

    .token {
      color: var(--hds-code-block-color-lang-css-token);
    }

    .token.atrule {
      color: var(--hds-code-block-color-lang-css-atrule);
    }

    .token.rule:not(.atrule) {
      color: var(--hds-code-block-color-lang-css-not-atrule);
    }

    .token.entity {
      color: var(--hds-code-block-color-lang-css-entity);
    }

    .token.function {
      color: var(--hds-code-block-color-lang-css-function);
    }

    .token.property {
      color: var(--hds-code-block-color-lang-css-property);
    }

    .token.punctuation {
      color: var(--hds-code-block-color-lang-css-punctuatione);
    }

    .token.selector {
      color: var(--hds-code-block-color-lang-css-selector);
    }

    .token.url {
      color: var(--hds-code-block-color-lang-css-url);
    }
  }

  .language-javascript {
    .token.constant {
      color: var(--hds-code-block-color-lang-js-constant);
    }
  }

  .language-markup,
  .language-html {
    .token.attr-value {
      color: var(--hds-code-block-color-lang-markup-attr-value);
    }

    .token.entity.named-entity {
      color: var(--hds-code-block-color-lang-markup-entity-named);
    }

    .token.entity:not(.named-entity) {
      color: var(--hds-code-block-color-lang-markup-entity-not-named);
    }
  }
}
