{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! This is not an HDS component, but a supporting file for `overrides/power-select.hbs` which requires a component to be passed in for the showcase }}
<div class="hds-power-select__after-options">
  5 results
</div>