{{page-title "Flight icons"}}
<DsHeader />
<div class="ds-beta-banner">
  <strong>Notice:</strong>
  there is a new "beta" version of this website:
  <a href="https://hds-website-hashicorp.vercel.app/icons/library" target="_blank" rel="noopener noreferrer">do you want
    to try it?</a>
  → Share your feedback in
  <a
    href="https://hashicorp.slack.com/archives/C04F7TH6A8P "
    target="_blank"
    rel="noopener noreferrer"
  >#proj-ds-launch-feedback</a></div>
<main class="ds-main">
  {{outlet}}
</main>
<DsFooter />