// CODE BLOCK

@use "../breakpoints" as breakpoint;
@use "../typography/mixins";

.doc-code-block {
  position: relative;
  margin: 24px 0;
  border-radius: 3px;

  .doc-copy-button {
    position: absolute;
    right: 13px;
    margin-top: 13px;
  }
}

.doc-code-block__code-rendered {
  padding: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath d='M1 2V0h1v1H0v1z' fill-opacity='.05'/%3E%3C/svg%3E");
  // use this to fine tune the size of the checkered pattern
  background-size: 16px 16px;
  border: 1px solid var(--doc-color-gray-400);
  border-bottom: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  @include breakpoint.medium () {
    padding: 24px;
  }

  @include breakpoint.large () {
    padding: 32px;
  }
}

// notice: in some cases it's rendered as standalone element, so we have to have
.doc-code-block__code-snippet {
  padding: 16px;
  border: none;
  border-radius: 3px;

  .doc-code-block & {
    margin: 0;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
