/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COPY BUTTON

@use "../typography/mixins" as *;

.doc-copy-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 100%;
  height: var(--doc-copy-button-height);
  background-color: var(--doc-copy-button-background-color-default);
  border: 1px solid transparent;
  border-radius: 4px;

  // text/icon

  .doc-copy-button__text {
    margin-right: 8px;
    color: var(--doc-copy-button-text-color-default);
    text-align: left;
  }

  .doc-copy-button__icon {
    flex: none;
    width: 12px;
    height: 12px;
    color: var(--doc-copy-button-icon-color-default);
  }

  // interaction states

  &:hover {
    background-color: var(--doc-copy-button-background-color-hover);
    cursor: pointer;

    .doc-copy-button__text {
      color: var(--doc-copy-button-text-color-hover);
    }

    .doc-copy-button__icon {
      color: var(--doc-copy-button-icon-color-hover);
    }
  }

  &:active {
    background-color: var(--doc-copy-button-background-color-active);

    .doc-copy-button__text {
      color: var(--doc-copy-button-text-color-active);
    }

    .doc-copy-button__icon {
      color: var(--doc-copy-button-icon-color-active);
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--doc-color-link-on-white);
  }

  // icon-only button

  &.doc-copy-button--icon-only {
    --doc-copy-button-height: 34px;
    width: var(--doc-copy-button-height);

    .doc-copy-button__icon {
      width: 16px;
      height: 16px;
    }
  }
}


// Variants

.doc-copy-button--type-solid {
  --doc-copy-button-height: 30px;
  padding: 1px 7px;

  .doc-copy-button__text {
    @include doc-font-style-body-small();
  }
}

.doc-copy-button--color-primary {
  --doc-copy-button-text-color-default: var(--doc-color-white);
  --doc-copy-button-text-color-hover: var(--doc-color-white);
  --doc-copy-button-text-color-active: var(--doc-color-white);
  --doc-copy-button-icon-color-default: var(--doc-color-white);
  --doc-copy-button-icon-color-hover: var(--doc-color-white);
  --doc-copy-button-icon-color-active: var(--doc-color-white);
  --doc-copy-button-background-color-default: var(--doc-color-feedback-information-200);
  --doc-copy-button-background-color-hover: var(--doc-color-feedback-information-100);
  --doc-copy-button-background-color-active: #0a37a7;
}

.doc-copy-button--color-secondary {
  --doc-copy-button-text-color-default: var(--doc-color-gray-200);
  --doc-copy-button-text-color-hover: var(--doc-color-gray-200);
  --doc-copy-button-text-color-active: var(--doc-color-gray-200);
  --doc-copy-button-icon-color-default: var(--doc-color-gray-200);
  --doc-copy-button-icon-color-hover: var(--doc-color-gray-200);
  --doc-copy-button-icon-color-active: var(--doc-color-gray-200);
  --doc-copy-button-background-color-default: transparent;
  --doc-copy-button-background-color-hover: var(--doc-color-gray-600);
  --doc-copy-button-background-color-active: var(--doc-color-gray-500);
}

.doc-copy-button--type-code {
  --doc-copy-button-height: 26px;
  --doc-copy-button-text-color-default: var(--doc-color-black);
  --doc-copy-button-text-color-hover: var(--doc-color-black);
  --doc-copy-button-text-color-active: var(--doc-color-black);
  --doc-copy-button-icon-color-default: var(--doc-color-feedback-information-200);
  --doc-copy-button-icon-color-hover: var(--doc-color-feedback-information-100);
  --doc-copy-button-icon-color-active: #0a37a7;
  --doc-copy-button-background-color-default: transparent;
  --doc-copy-button-background-color-hover: var(--doc-color-gray-600);
  --doc-copy-button-background-color-active: var(--doc-color-gray-500);

  .doc-copy-button__text {
    @include doc-font-style-code();
  }
}

// states

.doc-copy-button--status-success {
  --doc-copy-button-text-color-default: var(--doc-color-feedback-success-200);
  --doc-copy-button-icon-color-default: var(--doc-color-feedback-success-200);
  --doc-copy-button-background-color-default: var(--doc-color-feedback-success-400);

  &:hover {
    --doc-copy-button-text-color-hover: var(--doc-color-feedback-success-100);
    --doc-copy-button-icon-color-hover: var(--doc-color-feedback-success-100);
    --doc-copy-button-background-color-hover: var(--doc-color-feedback-success-400);
  }

  &:active {
    --doc-copy-button-text-color-active: var(--doc-color-feedback-success-100);
    --doc-copy-button-icon-color-active: var(--doc-color-feedback-success-100);
    --doc-copy-button-background-color-active: var(--doc-color-feedback-success-300);
  }
}

.doc-copy-button--status-error {
  --doc-copy-button-text-color-default: var(--doc-color-feedback-critical-200);
  --doc-copy-button-icon-color-default: var(--doc-color-feedback-critical-200);
  --doc-copy-button-background-color-default: var(--doc-color-feedback-critical-400);

  &:hover {
    --doc-copy-button-text-color-hover: var(--doc-color-feedback-critical-100);
    --doc-copy-button-icon-color-hover: var(--doc-color-feedback-critical-100);
    --doc-copy-button-background-color-hover: var(--doc-color-feedback-critical-400);
  }

  &:active {
    --doc-copy-button-text-color-active: var(--doc-color-feedback-critical-100);
    --doc-copy-button-icon-color-active: var(--doc-color-feedback-critical-100);
    --doc-copy-button-background-color-active: var(--doc-color-feedback-critical-300);
  }
}

