/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// DOC FONT HELPERS LIST

@use "../typography/mixins" as *;
@use "../breakpoints" as breakpoint;

.doc-font-helpers-list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;

  @include breakpoint.medium () {
    display: grid;
    grid-template-columns: minmax(120px, max-content) auto;
  }
}

.doc-font-helpers-list__item {
  display: flex;
  flex-direction: column;

  @include breakpoint.medium () {
    display: contents;
  }
}

.doc-font-helpers-list__preview {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  min-width: 120px;
  padding: 16px;
  border: 1px solid var(--doc-color-gray-500);
  border-radius: 3px 3px 0 0;

  @include breakpoint.medium () {
    justify-content: center;
    text-align: center;
    border-radius: 3px 0 0 3px;
  }
}

.doc-font-helpers-list__content {
  padding: 16px;
  border-color: var(--doc-color-gray-500);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 3px 3px;

  @include breakpoint.medium () {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
  }
}

.doc-font-helpers-list__simple-code {
  @include doc-font-style-code();
}
