/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// META ROW

@use "../typography/mixins" as *;

.doc-meta-row {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  min-height: 32px;
}

.doc-meta-row__label {
  @include doc-font-style-label();
  flex: none;
  min-width: 60px;
  margin-top: 7px; // optical alignment
  color: var(--doc-color-gray-300);
}

.doc-meta-row__value {
  min-width: 0; // needed to avoid the parent to explode if the content is too wide (when it's clipped)
}

.doc-meta-row__value-not-copyable {
  @include doc-font-style-code();
  display: block;
  padding-top: 4px; // optical alignment with the copyable one
  padding-left: 8px;
  color: var(--doc-color-black);
  word-break: break-word;

  &.doc-meta-row__value-not-copyable--is-clipped {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.doc-meta-row__values-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
