/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// DOC VARS LIST

@use "../typography/mixins" as *;

.doc-vars-list {
  margin: 24px 0;
  padding: 16px;
  list-style: none;
  border: 1px solid var(--doc-color-gray-500);
  border-radius: 3px;
}

.doc-vars-list__item {
  & + & {
    margin-top: 0.5rem;
  }
}
