.doc-wcag-list__list {
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 16px;
  font-size: 1.063rem;
  line-height: 1.765;
}

.doc-wcag-list__listitem {
  margin-bottom: 1.1875rem;
}

.doc-wcag-list__listitem::marker {
  color: var(--doc-color-gray-300);
}
