// TOKENS LIST

@use "../../typography/mixins" as *;
@use "../../breakpoints" as breakpoint;


.doc-tokens-list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
  
  @include breakpoint.medium-and-above () {
    display: grid;
    grid-template-columns: minmax(100px, max-content) auto;
  }
}

.doc-tokens-list__item {
  display: flex;
  flex-direction: column;

  @include breakpoint.medium-and-above () {
    display: contents;
  }
}

// PREVIEW

.doc-tokens-list__preview {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  padding: 16px;
  border: 1px solid var(--doc-color-gray-500);
  border-radius: 3px 3px 0 0;
  
  @include breakpoint.medium-and-above () {
    justify-content: center;
    border-radius: 3px 0 0 3px;
  }
}

.doc-tokens-list__preview-color {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 0 rgb(0, 0, 0, 25%);
}

.doc-tokens-list__preview-image {
  position: relative;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 0 rgb(0, 0, 0, 25%);

  &::before {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath d='M1 2V0h1v1H0v1z' fill-opacity='.05'/%3E%3C/svg%3E");
    background-size: cover;
    // use this to fine tune the size of the checkered pattern
    background-size: 8px 8px;
    border-radius: inherit;
    content: "";
    inset: 0;
  }
}

.doc-tokens-list__preview-font {
  color: var(--doc-color-black);
}

.doc-tokens-list__preview-size {
  --border-color: #ff9a8b;
  position: relative;
  display: block;
  width: 1px;
  border-left: 1px solid var(--border-color);

  &::before {
    position: absolute;
    top: 0;
    right: -6px;
    left: -6px;
    border-top: 1px solid var(--border-color);
    content: "";
  }

  &::after {
    position: absolute;
    right: -6px;
    bottom: 0;
    left: -6px;
    border-bottom: 1px solid var(--border-color);
    content: "";
  }
}

.doc-tokens-list__preview-boxshadow {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.doc-tokens-list__preview-unknown {
  position: relative;
  width: 24px;
  height: 24px;
  background: linear-gradient(-45deg, #fff 0%, #fff 48%, #000 50%, #fff 48%, #fff 100%);
}

// CONTENT

.doc-tokens-list__content {
  position: relative;
  min-width: 0; // needed to avoid the grid to explode if the content is too wide
  padding: 16px 48px 16px 16px;
  border: 1px solid var(--doc-color-gray-500);
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 3px 3px;
  
  @include breakpoint.medium-and-above () {
    border-width: 1px 1px 1px 0px;
    border-radius: 0 3px 3px 0;
  }
}

.doc-tokens-grid-item__meta-row {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  min-height: 32px;
}

.doc-tokens-grid-item__meta-value-not-copyable {
  padding-top: 2px; // optical alignment with the copyable one
  padding-left: 8px;
  color: var(--doc-color-black);
}

// TOGGLE

.doc-tokens-list__toggle { // it's a button
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: var(--doc-color-gray-300);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  appearance: none;

  &:hover {
    color: var(--doc-color-gray-100);
    background-color: var(--doc-color-gray-600);
  }
}


// deprecated token

.doc-tokens-list__item--is-deprecated {
  opacity: 0.5;
}
