{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PopoverPrimitive"}}

<Shw::Text::H1>PopoverPrimitive</Shw::Text::H1>

<section data-test-percy>

  TODO

</section>