{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Pagination responsiveness demo - Frameless"}}

<div {{style padding="24px"}}>
  <Hds::Pagination::Numbered @totalItems={{40}} />
</div>