// FORM > SELECT

.dummy-form-select-base-sample {
  display: flex;
  gap: 2rem;
}

.dummy-form-select-grid-sample {
  align-items: start;
  display: grid;
  grid-gap: 1rem 3rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dummy-form-select-sublist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dummy-form-select-containers {
  align-items: start;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dummy-form-select-containers__block {
  display: block;
}

.dummy-form-select-containers__flex {
  display: flex;
}

.dummy-form-select-containers__grid {
  display: grid;
}

.dummy-form-select-custom-layout {
  width: 500px;

  .dummy-form-select-custom-layout__heading {
    background-color: #E4E4E4;
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .dummy-form-select-custom-layout__control {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}