// FORM > TOGGLE

.dummy-form-toggle-base-sample {
  display: flex;
  gap: 2rem;
}

.dummy-form-toggle-grid-sample {
  align-items: start;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dummy-form-toggle-states-subgrid {
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: 1fr 1fr;
  width: min-content;
}

.dummy-form-toggle-containers {
  align-items: start;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dummy-form-toggle-containers__block {
  display: block;
}

.dummy-form-toggle-containers__flex {
  display: flex;
}

.dummy-form-toggle-containers__grid {
  display: grid;
  justify-items: start;
}

.dummy-form-toggle-max-width-container {
  width: 450px;
}


.dummy-form-toggle-custom-layout {
  align-items: center;
  display: flex;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  gap: 0.5rem;
}