// FORM > TEXTAREA

.dummy-form-textarea-base-sample {
  display: flex;
  gap: 2rem;
}

.dummy-form-textarea-grid-sample {
  align-items: start;
  display: grid;
  grid-gap: 1rem 3rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dummy-form-textarea-sublist {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.dummy-form-textarea-containers {
  align-items: start;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dummy-form-textarea-containers__block {
  display: block;
}

.dummy-form-textarea-containers__flex {
  display: flex;
}

.dummy-form-textarea-containers__grid {
  display: grid;
  justify-items: start;
}

.dummy-form-textarea-custom-layout {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  width: 500px;

  .dummy-form-textarea-custom-layout__heading {
    background-color: #E4E4E4;
    border: 1px solid #999;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .dummy-form-textarea-custom-layout__control {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}