.doc-markdown-content {

  // LISTS

  > ul,
  > ol {
    padding-left: 16px;
  }

  > ul ul,
  > ul ol,
  > ol ol,
  > ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  > ul > li > p {
    margin-top: $spacer-3;
  }

  li + li {
    margin-top: $em-spacer-3;
  }
}
