/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LISTS (MARKDOWN)

// Notice: vertical spacing is declared in `/styles/spacing`

.doc-markdown-ul,
.doc-markdown-ol {
  padding-left: 16px;

  // custom marker color
  > li::marker {
    color: var(--doc-color-gray-300);
  }
}
