// LISTS

.doc-markdown-ul,
.doc-markdown-ol {
  padding-left: 16px;

  > li > p {
    margin-top: 12px;
  }

  > li + li {
    margin-top: 12px;
  }
}

.doc-markdown-ul .doc-markdown-ul,
.doc-markdown-ul .doc-markdown-ol,
.doc-markdown-ol .doc-markdown-ul,
.doc-markdown-ol .doc-markdown-ol {
  margin-top: 0;
  margin-bottom: 0;
}
