@use "../typography/mixins";

// LINKS

.doc-markdown-a {
  color: teal;
}

// IMAGES

.doc-markdown-img {
  max-width: 100%;
  background-color: var(--doc-color-white);
}

// CODE SNIPPETS

// TBD if we need a more specific selector to target only the "inline code" elements and not overlap with the other types of code snippets
.doc-markdown-code {
  @include doc-font-family("mono");
  padding: 0.25em 0.5em;
  color: var(--doc-color-black);
  font-weight: inherit;
  font-size: 0.8em; // no need to set the line-height, it's an inline element!
  background-color: var(--doc-color-gray-600);
  border-radius: 0.22em;
}

.doc-markdown-pre {
  @include doc-font-style-code ();
  margin-top: 0;
  margin-bottom: 12px;
  word-wrap: normal;

  // this is different, and needs to override most of the styles declared above
  .doc-markdown-code {
    display: inline;
    max-width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
    background: transparent;
    border: 0;
  }
}

// HORIZONTAL RULE

.doc-markdown-hr {
  height: 1px;
  margin: 16px 0;
  padding: 0;
  background-color: lightgray; // TODO
  border: 0;
}
