// TABLES

@use "../typography/mixins" as *;


.doc-markdown-table {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border: 1px solid var(--doc-color-gray-500);
  border-radius: 3px;
  border-spacing: 0;
}

.doc-markdown-th {
  @include doc-font-style-body-small();
  padding: 12px 16px;
  color: var(--doc-color-black);
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid var(--doc-color-gray-500);
}

.doc-markdown-td {
  @include doc-font-style-body-small();
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--doc-color-gray-500);

  .doc-markdown-tr:last-child & {
    border-bottom: none;
  }
}
