// TABLES

@use "../typography/mixins" as *;

$doc-markdown-table-border-color: rgba(101, 106, 118, 20%);

.doc-markdown-table {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border: 1px solid $doc-markdown-table-border-color;
  border-radius: 4px;
  border-spacing: 0;
}

.doc-markdown-th {
  @include doc-font-style-body-small();
  padding: 12px 16px;
  color: #0c0c0e;  // TODO convert to design token
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  background-color: var(--color-gray-gray-6);
}

.doc-markdown-td {
  @include doc-font-style-body-small();
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid $doc-markdown-table-border-color;

  .doc-markdown-tr:last-child & {
    border-bottom: none;
  }
}
