@use "../typography/mixins";

.doc-markdown-content {

  // HEADINGS

  > h1 {
    @include doc-font-style-h1 ($responsive: false);
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h2 {
    @include doc-font-style-h2 ($responsive: false);
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h3 {
    @include doc-font-style-h3 ($responsive: false);
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h4 {
    @include doc-font-style-h4 ($responsive: false);
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h5 {
    @include doc-font-style-h5 ();
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h6 {
    @include doc-font-style-h6 ();
    margin-top: 16px;
    margin-bottom: 12px;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    > code {
      font-size: inherit;
    }
  }

  // BODY COPY

  > p,
  > ul,
  > ol {
    @include doc-font-style-body();
    margin-top: 0;
    margin-bottom: 12px;
  }

  // top level element + nested elements (reasonably no more than two levels)
  > blockquote,
  > ul > li > blockquote,
  > ol > li > blockquote,
  > ul > li > ul > li > blockquote,
  > ul > li > ol > li > blockquote,
  > ol > li > ul > li > blockquote,
  > ol > li > ol > li > blockquote {
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0 0 0 16px;
    border-left: 2px solid green;

    @include doc-font-style-body();

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // CODE

  > pre > code,
  > code {
    @include doc-font-style-code ();
    margin-top: 0;
    margin-bottom: 12px;
  }
}
