@use "../typography/mixins";


// HEADINGS

.doc-markdown-h1 {
  @include doc-font-style-h1 ($responsive: true);
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h2 {
  @include doc-font-style-h2 ($responsive: true);
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h3 {
  @include doc-font-style-h3 ($responsive: true);
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h4 {
  @include doc-font-style-h4 ($responsive: true);
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h5 {
  @include doc-font-style-h5 ();
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h6 {
  @include doc-font-style-h6 ();
  margin-top: 16px;
  margin-bottom: 12px;
}

.doc-markdown-h1,
.doc-markdown-h2,
.doc-markdown-h3,
.doc-markdown-h4,
.doc-markdown-h5,
.doc-markdown-h6 {
  .doc-markdown-code {
    font-size: inherit;
  }
}

// BODY COPY

.doc-markdown-p,
.doc-markdown-ul,
.doc-markdown-ol {
  @include doc-font-style-body();
  margin-top: 0;
  margin-bottom: 12px;
}

.doc-markdown-blockquote {
  @include doc-font-style-body();
  margin: 0 0 12px 0;
  padding: 0 0 0 16px;
  color: var(--doc-color-gray-200);
  border-left: 6px solid var(--doc-color-gray-400);

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// CODE

.doc-markdown-pre,
.doc-markdown-code {
  @include doc-font-style-code ();
  margin-top: 0;
  margin-bottom: 12px;
}
