Lorem
<Hds::Link::Inline @icon="external-link" @href="https://www.hashicorp.com">ipsum dolor<span class="sr-only">(opens in a
    new window)</span></Hds::Link::Inline>
sit amet consectetur adipiscing elit.