/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

@mixin doc-link-generic-styles() {
  color: var(--doc-color-link-on-white);

  // TODO check with Heather and Melanie if this is what we want
  &:hover,
  &:visited,
  &:active {
    color: var(--doc-color-link-on-white);
  }
}

.doc-link-generic {
  @include doc-link-generic-styles();
}
