{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<ul class="doc-icons-list-grid" role="list">
  {{#each @icons as |meta|}}
    <Doc::IconsList::Item @meta={{meta}} />
  {{else}}
    <div class="doc-icons-list-grid__not-found">
      <FlightIcon @name="alert-circle" />
      No icons found
    </div>
  {{/each}}
</ul>