<div class="doc-icons-list-filter">
  <Doc::IconsList::Select @onSelect={{this.toggleselectedIconSize}} />
  <Doc::IconsList::Search @searchQuery={{this.searchQuery}} @onInput={{this.searchIcons}} />
</div>

<Doc::IconsList::Grid @icons={{this.filteredIcons}} />
