<div class="doc-icons-list-grid-item__meta-row">
  <div class="doc-icons-list-grid-item__meta-label">{{@label}}</div>
  <div class="doc-icons-list-grid-item__meta-value">
    <Doc::CopyButton @textToCopy={{@value}} @type="ghost" />
  </div>
</div>