<div class="doc-icons-list-grid-item__meta-row">
  <div class="doc-icons-list-grid-item__meta-label">{{@label}}</div>
  <div class="doc-icons-list-grid-item__meta-value">
    {{#if @copyable}}
      <Doc::CopyButton @textToCopy={{@value}} @type="ghost" />
    {{else}}
      <code class="doc-icons-list-grid-item__meta-value-not-copyable">{{@value}}</code>
    {{/if}}
  </div>
</div>