<div class="doc-icons-list-filter__search">
  <label class="doc-icons-list-filter__label" for="doc-foundations-icons-filter-search">Filter results</label>
  <input
    type="search"
    name="search"
    id="doc-foundations-icons-filter-search"
    class="doc-icons-list-filter__search-control"
    placeholder="Type a name or keyword (e.g. arrow)"
    value={{@searchQuery}}
    {{on "input" (perform @onInput value="target.value")}}
  />
</div>