<div class="doc-icons-list-filter__select">
  <label class="doc-icons-list-filter__label" for="doc-foundations-icons-filter-select">Size</label>
  <select
    class="doc-icons-list-filter__select-control"
    id="doc-foundations-icons-filter-select"
    {{on "change" @onSelect}}
  >
    <option value="16" selected={{eq @selectedIconSize "16"}}>16px</option>
    <option value="24" selected={{eq @selectedIconSize "24"}}>24px</option>
  </select>
</div>