<div class="doc-icons-list-filter__toggle">
  <button
    aria-checked="false"
    aria-label="Toggle icon size (16 or 24)"
    class="doc-icons-list-filter__toggle-button"
    role="switch"
    type="button"
    {{on "click" @onToggle}}
  >
    <span class="doc-icons-list-filter__toggle-slider">
        16px / 24px
    </span>

  </button>
</div>
