/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > TABLE > ADVANCEDTABLE

#show-content-components-table-advanced-table {
  .doc-advanced-table-multiselect-with-pagination-demo {
    .hds-advanced-table + .hds-pagination {
      margin-top: 16px;
    }
  }

  .doc-advanced-table-cell-content-div {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .doc-advanced-table-text-truncate {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
