/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */


// COMPONENTS > APPLICATION-STATE

#show-content-components-application-state {
  .doc-application-state-demo-heading {
    margin-bottom: 1rem;
  }
}
