/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > BUTTON

#show-content-components-button {
  .doc-button-mock-text-align-right {
    text-align: right;
  }
}
