/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > CARD

#show-content-components-card {
  .doc-card-list-demo {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .doc-card-list-demo__item {
    margin: 0; // styles are being inherited from doc-markdown list styles
    padding: 24px;
  }

  .doc-card-interactive-demo {    
    .hds-card__container {
      a {
        display: block;
        padding: 16px;
        color: var(--token-color-foreground-primary);
        text-decoration: none;
        border-radius: inherit;

        &:focus {
          outline: none;
          box-shadow: var(--token-focus-ring-action-box-shadow);
        }
      }
    }
  }
}
