/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */


// COMPONENTS > COPY/COPY-SNIPPET

#show-content-components-copy-snippet {
  .doc-copy-snippet-demo-constrain-width { max-width: 10em; }
}
