/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */


// COMPONENTS > COPY/COPY-BUTTON

#show-content-components-copy-button {
  .doc-copy-button-copy-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: var(--token-typography-body-300-font-family);
  }
}