/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > DROPDOWN

#show-content-components-dropdown {
  .hds-dropdown__content {
    margin-bottom: 16px;
  }

  .hds-dropdown__list {
    margin: 0;
    padding: 4px 0;
  }

  .hds-dropdown-list-item {
    margin: 0;
  }

  .doc-dropdown-mock-text-align-right {
    text-align: right;
  }
}
