/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > FLYOUT

#show-content-components-flyout {
  .doc-flyout-demo[open] {
    position: relative;
    z-index: initial;
    display: flex;
    max-width: 100%;
    height: 40vh;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
