/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > MODAL

#show-content-components-modal {
  .doc-modal-demo[open] {
    position: relative;
    z-index: 0;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;

    .hds-modal__dismiss {
      pointer-events: none;
    }
  }
}
