/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */


// COMPONENTS > RICH TOOLTIP

.doc-rich-tooltip-standalone-block-flex-layout {
  display: flex;
  gap: 8px;
  align-items: center;
}
