/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// Width of the SideNav is controlled by wrapping Cloud-ui component,
// the below is to make the SideNav display at the intended max-width within examples
#show-content-components-side-nav {
  .doc-sidenav-demo,
  .doc-sidenav-demo--short,
  .doc-sidenav-demo--custom-width,
  .doc-sidenav-demo--cloud-ui {
    .hds-side-nav {
      z-index: 0;
      min-height: auto;
    }

    .ember-a11y-refocus-skip-link {
      display: none;
    }
  }

  .doc-sidenav-demo {
    .hds-side-nav {
      width: 280px;
      height: 800px;
    }
  }

  .doc-sidenav-demo--short {
    .hds-side-nav {
      width: 280px;
      height: 400px;
    }
  }

  .doc-sidenav-demo--custom-width {
    --hds-app-sidenav-width-fixed: 200px;

    .hds-side-nav {
      height: 300px;
      min-height: auto;
    }
  }

  .doc-sidenav-demo-list {
    width: 280px;
    padding: 16px;
    background-color: #0c0c0e;
  }
}
