/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > FORM > SUPER_SELECT

#show-content-components-form-super-select {
  .doc-super-select-option-rich-header {
    display: flex;
    justify-content: space-between;
  }

  .doc-super-select-constrain-width {
    max-width: 10em;
  }
}
