/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// COMPONENTS > TABLE > TABLE

#show-content-components-table-table {
  .doc-table-valign-demo {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .doc-table-scrollable-wrapper {
    overflow-x: auto;
  }

  .doc-table-max-content-width {
    width: max-content;
  }

  .doc-table-multiselect-with-pagination-demo {
    .hds-table + .hds-pagination {
      margin-top: 16px;
    }
  }
}
