/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.shw-divider {
  margin: 3rem 0;
  border: none;
  border-top: 2px solid var(--shw-color-gray-500);
}

.shw-divider--level-2 {
  border-top-style: dotted;
}
