/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// GRID

.shw-grid {
  & + &,
  & + .shw-flex {
    margin-top: 1rem;
  }
}

.shw-grid__items {
  display: grid;
  flex-wrap: wrap;
  // this will be set via JS
  grid-template-columns: repeat(var(--shw-grid-columns), 1fr);
  gap: 1rem;
}

.shw-grid__item--grow {
  grid-column: 1/-1;
}

.shw-grid__item--force-min-width {
  min-width: 0;
}


// DEBUG

// .shw-grid {
//   outline: 4px dotted blue;
// }
// .shw-grid__item {
//   outline: 1px solid green;
// }
