/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LABEL

@use "../typography" as *;

.shw-label {
  @include shw-font-family("rubik");
  margin: 0 0 10px 0;
  color: #545454;
  font-size: 0.8rem;
  line-height: 1.2;
}
