{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Breakpoints for Page Padding - Frameless"}}

<div class="mock-demo-breakpoints-page-padding">
  <Shw::Placeholder @text="generic content" @height="40" />
</div>