/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

.doc-table-multi-select-role-example {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc-table-multi-select-pattern-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}