// SHOWCASE COLORS > DARK THEME

@mixin shw-theme-color-variables-dark() {
  // SEMANTIC PALETTE
  --shw-color-white: #1a1a1a;
  --shw-color-gray-600: #222225;
  --shw-color-gray-500: #353537;
  --shw-color-gray-400: #4c4c4d;
  --shw-color-gray-300: #89898a;
  --shw-color-gray-200: #babbbc;
  --shw-color-gray-100: #cccdcf;
  --shw-color-black: #e5e5e5;
  --shw-color-action-active-foreground: #3b81d2;
  --shw-color-action-active-border: #3b81d2;
  --shw-color-action-active-background: #062139;
  // COMPONENTS
  --shw-frame-browser-navigation-background: #050505;
  --shw-label-text-color: #c4c4c4;
  --shw-placeholder-text-color: #949494;
  --shw-placeholder-background-color: #121212;
  --shw-placeholder-link-color: #ccc;
}
