// SHOWCASE COLORS > DARK THEME

@mixin shw-theme-color-variables-dark() {
  // SEMANTIC PALETTE
  --shw-color-white: #1a1a1a;
  --shw-color-gray-600: #222225;
  --shw-color-gray-500: #353537;
  --shw-color-gray-400: #4c4c4d;
  --shw-color-gray-300: #89898a;
  --shw-color-gray-200: #babbbc;
  --shw-color-gray-100: #cccdcf;
  --shw-color-black: #e5e5e5;
  --shw-color-action-active-foreground: #1a1ae5;
  --shw-color-action-active-border: #1a1ae5;
  --shw-color-action-active-background: #062139;
  // COMPONENTS
  --shw-frame-browser-navigation-background: #050505;
  --shw-label-text-color: #c4c4c4;
  --shw-placeholder-text-color: #949494;
  --shw-placeholder-background-color: #121212;
  --shw-placeholder-link-color: #ccc;
}

// TODO add comment explaining why we decided to rely on `hds-` selectors instead of `shw-` selectors

@media (prefers-color-scheme: dark) {
  // TODO! this is not correct, if we start to use `hds-theme-system` or `data-hds-theme=system`
  :root:not([class*="hds-theme-"],[data-hds-theme]) {
    @include shw-theme-color-variables-dark();
  }
}

.hds-theme-dark,
.hds-theme-cds-g90,
.hds-theme-cds-g100,
[data-hds-theme='dark'],
[data-hds-theme='cds-g90'],
[data-hds-theme='cds-g100'] {
  @include shw-theme-color-variables-dark();
}
