// SHOWCASE COLORS > LIGHT/DARK THEMES

@use "./light-color-variables" as *;
@use "./dark-color-variables" as *;

// DEFAULT

:root {
  @include shw-theme-color-variables-light();
}

// PREFERS COLOR SCHEME

@media (prefers-color-scheme: light) {
  .hds-theme-system {
    @include shw-theme-color-variables-light();
  }
}

@media (prefers-color-scheme: dark) {
  .hds-theme-system {
    @include shw-theme-color-variables-dark();
  }
}

// CSS SELECTORS

// after testing different options, we have decided to rely on `hds-` selectors instead of custom `shw-` selectors
// to avoid extra un-necessary complexity (see different attempts in https://github.com/hashicorp/design-system/pull/3240)

.hds-theme-light,
.hds-mode-cds-g0,
.hds-mode-cds-g10 {
  @include shw-theme-color-variables-light();
}

.hds-theme-dark,
.hds-mode-cds-g90,
.hds-mode-cds-g100 {
  @include shw-theme-color-variables-dark();
}
