{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="shw-landing-lists">
  <div>
    <Shw::Text::H2>Foundations</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="foundations.typography">
          Typography
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.elevation">
          Elevation
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.focus-ring">
          Focus ring
        </LinkTo>
      </li>
    </ol>
  </div>
  <div>
    <Shw::Text::H2>Components</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="componentss.accordion">
          Accordion
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.alert">
          Alert
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.app-footer">
          AppFooter
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.app-header">
          AppHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.application-state">
          Application State
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.badge">
          Badge
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.badge-count">
          BadgeCount
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.breadcrumb">
          Breadcrumb
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.button">
          Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.button-set">
          ButtonSet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.card">
          Card
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.code-block">
          CodeBlock
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.copy.button">
          Copy::Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.copy.snippet">
          Copy::Snippet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.dropdown">
          Dropdown
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.flyout">
          Flyout
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.base-elements">
          Form / Base elements
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.checkbox">
          Form::Checkbox
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.file-input">
          Form::FileInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.masked-input">
          Form::MaskedInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.radio">
          Form::Radio
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.radio-card">
          Form::RadioCard
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.select">
          Form::Select
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.super-select">
          Form::SuperSelect
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.text-input">
          Form::TextInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.textarea">
          Form::Textarea
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.form.toggle">
          Form::Toggle
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.icon">
          Icon
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.icon-tile">
          IconTile
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.link.inline">
          Link::Inline
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.link.standalone">
          Link::Standalone
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.modal">
          Modal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.page-header">
          PageHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.pagination">
          Pagination
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.reveal">
          Reveal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.rich-tooltip">
          RichTooltip
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.segmented-group">
          SegmentedGroup
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.separator">
          Separator
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.side-nav">
          SideNav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.stepper">
          Stepper
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.table">
          Table
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.tabs">
          Tabs
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.tag">
          Tag
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.text">
          Text
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.toast">
          Toast
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="componentss.tooltip">
          Tooltip
        </LinkTo>
      </li>
    </ol>
  </div>
  <div>
    <Shw::Text::H2>Layouts</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="layouts.app-frame">
          AppFrame
        </LinkTo>
      </li>
    </ol>
    <Shw::Text::H2>Overrides</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="overrides.power-select">
          PowerSelect
        </LinkTo>
      </li>
    </ol>
    <Shw::Text::H2>Utilities</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="utilities.dialog-primitive">
          DialogPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.disclosure-primitive">
          DisclosurePrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.dismiss-button">
          DismissButton
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.interactive">
          Interactive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.menu-primitive">
          MenuPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.popover-primitive">
          PopoverPrimitive
        </LinkTo>
      </li>
    </ol>
  </div>
</div>