{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="shw-landing-lists">
  <div>
    <Shw::Text::H2>Foundations</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="foundations.typography">
          Typography
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.elevation">
          Elevation
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.focus-ring">
          Focus ring
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.breakpoints">
          Breakpoints
        </LinkTo>
      </li>
    </ol>
  </div>

  <div>
    <Shw::Text::H2>Components</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="cp.accordion">
          Accordion
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.advanced-table">
          AdvancedTable
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.alert">
          Alert
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.app-footer">
          AppFooter
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.app-header">
          AppHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.app-side-nav">
          AppSideNav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.application-state">
          Application State
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.badge">
          Badge
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.badge-count">
          BadgeCount
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.breadcrumb">
          Breadcrumb
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.button">
          Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.button-set">
          ButtonSet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.card">
          Card
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.code-block">
          CodeBlock
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.code-editor">
          CodeEditor
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.copy.button">
          Copy::Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.copy.snippet">
          Copy::Snippet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.dropdown">
          Dropdown
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.flyout">
          Flyout
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.icon">
          Icon
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.icon-tile">
          IconTile
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.link.inline">
          Link::Inline
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.link.standalone">
          Link::Standalone
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.modal">
          Modal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.page-header">
          PageHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.pagination">
          Pagination
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.reveal">
          Reveal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.rich-tooltip">
          RichTooltip
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.segmented-group">
          SegmentedGroup
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.separator">
          Separator
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.side-nav">
          SideNav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.stepper.indicator">
          Stepper::Indicator
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.stepper.list">
          Stepper::List
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.stepper.nav">
          Stepper::Nav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.table">
          Table
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.tabs">
          Tabs
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.tag">
          Tag
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.text">
          Text
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.time">
          Time
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.toast">
          Toast
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.tooltip">
          Tooltip
        </LinkTo>
      </li>
    </ol>
  </div>

  <div>
    <Shw::Text::H2>Form components</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="cp.form.layout">
          Form / Layout
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.base-elements">
          Form / Base elements
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.checkbox">
          Form::Checkbox
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.file-input">
          Form::FileInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.masked-input">
          Form::MaskedInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.radio">
          Form::Radio
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.radio-card">
          Form::RadioCard
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.select">
          Form::Select
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.super-select">
          Form::SuperSelect
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.text-input">
          Form::TextInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.textarea">
          Form::Textarea
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="cp.form.toggle">
          Form::Toggle
        </LinkTo>
      </li>
    </ol>

    <Shw::Text::H2>Layouts</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="layouts.app-frame">
          AppFrame
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="layouts.flex">
          Layout::Flex
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="layouts.grid">
          Layout::Grid
        </LinkTo>
      </li>
    </ol>
    <Shw::Text::H2>Overrides</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="overrides.power-select">
          PowerSelect
        </LinkTo>
      </li>
    </ol>

    <Shw::Text::H2>Utilities</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="utilities.dialog-primitive">
          DialogPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.disclosure-primitive">
          DisclosurePrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.dismiss-button">
          DismissButton
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.interactive">
          Interactive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.menu-primitive">
          MenuPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.popover-primitive">
          PopoverPrimitive
        </LinkTo>
      </li>
    </ol>
  </div>
</div>