{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="shw-landing-lists">
  <div>
    <Shw::Text::H2>Foundations</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="foundations.typography">
          Typography
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.elevation">
          Elevation
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.focus-ring">
          Focus ring
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="foundations.breakpoints">
          Breakpoints
        </LinkTo>
      </li>
    </ol>
  </div>

  <div>
    <Shw::Text::H2>Components</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="hds.components.accordion">
          Accordion
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.advanced-table">
          AdvancedTable
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.alert">
          Alert
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.app-footer">
          AppFooter
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.app-header">
          AppHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.app-side-nav">
          AppSideNav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.application-state">
          Application State
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.badge">
          Badge
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.badge-count">
          BadgeCount
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.breadcrumb">
          Breadcrumb
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.button">
          Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.button-set">
          ButtonSet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.card">
          Card
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.code-block">
          CodeBlock
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.code-editor">
          CodeEditor
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.copy.button">
          Copy::Button
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.copy.snippet">
          Copy::Snippet
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.dropdown">
          Dropdown
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.flyout">
          Flyout
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.base-elements">
          Form / Base elements
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.checkbox">
          Form::Checkbox
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.file-input">
          Form::FileInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.masked-input">
          Form::MaskedInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.radio">
          Form::Radio
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.radio-card">
          Form::RadioCard
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.select">
          Form::Select
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.super-select">
          Form::SuperSelect
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.text-input">
          Form::TextInput
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.textarea">
          Form::Textarea
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.form.toggle">
          Form::Toggle
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.icon">
          Icon
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.icon-tile">
          IconTile
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.link.inline">
          Link::Inline
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.link.standalone">
          Link::Standalone
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.modal">
          Modal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.page-header">
          PageHeader
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.pagination">
          Pagination
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.reveal">
          Reveal
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.rich-tooltip">
          RichTooltip
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.segmented-group">
          SegmentedGroup
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.separator">
          Separator
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.side-nav">
          SideNav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.stepper.indicator">
          Stepper::Indicator
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.stepper.list">
          Stepper::List
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.stepper.nav">
          Stepper::Nav
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.table">
          Table
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.tabs">
          Tabs
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.tag">
          Tag
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.text">
          Text
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.time">
          Time
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.toast">
          Toast
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="hds.components.tooltip">
          Tooltip
        </LinkTo>
      </li>
    </ol>
  </div>

  <div>
    <Shw::Text::H2>Layouts</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="layouts.app-frame">
          AppFrame
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="layouts.flex">
          Layout::Flex
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="layouts.grid">
          Layout::Grid
        </LinkTo>
      </li>
    </ol>
    <Shw::Text::H2>Overrides</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="overrides.power-select">
          PowerSelect
        </LinkTo>
      </li>
    </ol>

    <Shw::Text::H2>Utilities</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="utilities.dialog-primitive">
          DialogPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.disclosure-primitive">
          DisclosurePrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.dismiss-button">
          DismissButton
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.interactive">
          Interactive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.menu-primitive">
          MenuPrimitive
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="utilities.popover-primitive">
          PopoverPrimitive
        </LinkTo>
      </li>
    </ol>

    <Shw::Text::H2>Internationalization</Shw::Text::H2>
    <ol class="shw-text-body">
      <li>
        <LinkTo @route="internationalization.translation">
          Translation
        </LinkTo>
      </li>
    </ol>
  </div>
</div>