// DOC FONT HELPERS LIST

@use "../typography/mixins" as *;

.doc-font-helpers-list {
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

.doc-font-helpers-list__item {
  display: flex;
  align-items: center;
  border: 1px solid var(--doc-color-gray-500);
  border-radius: 3px;

  & + & {
    margin-top: 16px;
  }
}

.doc-font-helpers-list__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 58px;
  border-right: 1px solid var(--doc-color-gray-500);
}

.doc-font-helpers-list__content {
  padding: 16px;
}
