// PLACEHOLDER

@use "../typography/mixins" as *;

.doc-placeholder {
  @include doc-font-family("mono");
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b6b6b; // if background is #EEE then this has the appropriate color contrast (4.59:1)
  font-weight: bold;
  font-size: 10px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 5px #fff;

  a,
  a > & {
    color: #333;
    text-decoration: underline;
  }
}
