/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// these files come from `packages/tokens/dist/`
@use "products/css/tokens";
@use "products/css/helpers/color";
@use "products/css/helpers/elevation";
@use "products/css/helpers/focus-ring";
@use "products/css/helpers/typography";

// Vendor styles
@use "./design-system-ember-a11y-refocus";

// main components file
@use "../components/index";

// screen-reader utility class
@use "../mixins/screen-reader-only" as *;

.sr-only {
  @include screen-reader-only();
}
