//
// FORM > COMMON
//
// properties within each class are sorted alphabetically
//


// FIELD

// "vertical" layout
// used for text-input, textarea, select

.hds-form-field--vertical-layout {
  display: grid;
  gap: 4px;
  width: 100%; // we want the input element to fill the parent container

  .hds-form-field__label {
    width: fit-content; // needed to avoid extra invisible space since the <label> is interactive
  }

  // special case: if there are multiple helper text lines, we want to reduce the spacing between them
  .hds-form-helper-text + .hds-form-helper-text {
    margin-top: -2px;
  }
}

// "flag" layout (see https://codepen.io/didoo/pen/xxYPNeY)
// used for checkbox, radio, toggle

.hds-form-field--flag-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "control label"
    "control helper-text"
    "control error";

  .hds-form-field__control {
    grid-area: control;

    &:not(:only-child) {
      margin-top: 2px; // the line height of the label is bigger than the control size
      margin-right: 8px;
    }
  }

  .hds-form-field__label {
    grid-area: label;
    width: fit-content; // needed to avoid extra invisible space since the <label> is interactive

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .hds-form-field__helper-text {
    grid-area: helper-text;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .hds-form-field__error {
    grid-area: error;
  }
}



// Debug (please don't remove)
//
// .hds-form-field--vertical-layout,
// .hds-form-field--flag-layout { outline: 2px dashed pink; }
// .hds-form-field__label { background-color: #00ff00; }
// .hds-form-field__helper-text { background-color: #0000ff; }
// .hds-form-field__error { background-color: #ff0000; }
