//
// FORM > ERROR
//
// properties within each class are sorted alphabetically
//

.hds-form-error {
  display: flex;
  align-items: flex-start;
  color: var(--token-form-error-color);
}

.hds-form-error__icon {
  flex: none;
  width: var(--token-form-error-icon-size);
  height: var(--token-form-error-icon-size);
  margin: 2px 8px 2px 0;
}

.hds-form-error__content {
  flex: 1 1 auto;
}

.hds-form-error__message {
  margin: 0;
}
