//
// FORM > GROUP
//
// properties within each class are sorted alphabetically
//

.hds-form-group { // notice: this is a <fieldset> element
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

.hds-form-group__legend { // notice: this is a <legend> element
  margin: 0 0 4px 0;
  padding: 0;
}

.hds-form-group__control-fields-wrapper {
  .hds-form-group__legend + & {
    .hds-form-label {
      // TODO
      // - discuss with Alex Jurubita: is this the "best" way to do it?
      // - discuss with Christian Veight: what are the design specs
      font-weight: var(--token-typography-font-weight-regular);
    }
  }
}

.hds-form-group--layout-vertical {
  .hds-form-group__control-field + .hds-form-group__control-field {
    margin-top: 16px;
  }
}

.hds-form-group--layout-horizontal {
  .hds-form-group__control-fields-wrapper {
    display: flex;
  }
  .hds-form-group__control-field + .hds-form-group__control-field {
    margin-left: 16px;
  }
}

.hds-form-group__error {
  margin-top: 16px;
}