//
// FORM > INDICATOR
//
// properties within each class are sorted alphabetically
//

// Used for the 'optional' indicator
.hds-form-indicator {
  color: var(--token-color-foreground-faint);
  font-family: var(--token-typography-font-stack-text);
  font-size: var(--token-typography-body-100-font-size);
  font-weight: var(--token-typography-font-weight-regular);
  // notice: here we're using the same line-height as the label/legend text to have the right vertical alignment
  line-height: var(--token-typography-body-200-font-size);
}

// The 'required' indicator is currently an 'hds-badge' and we need to make sure
// the label/legend text aligns at baseline with any badge text presented within
.hds-form-label,
.hds-form-legend {
  .hds-badge {
    vertical-align: initial;
  }
}
