//
// FORM > LABEL
//
// properties within each class are sorted alphabetically
//

.hds-form-label {
  color: var(--token-color-foreground-strong);
  display: block;
  max-width: 100%;
  width: max-content; // to avoid it extends the full width of the parent container, leading to invisible interactive area

  // if a "badge" element (included the 'required' indicator) is child of the label
  // we need to make sure that it correctly aligns with the label text because the
  // "Hds::Badge" component has "vertical-align: middle" applied to it
  // and this mess up the vertical alignment (increasing the container's height too)
  .hds-badge {
    vertical-align: initial;
  }
}
