//
// FORM > LABEL
//
// properties within each class are sorted alphabetically
//

.hds-form-label {
  color: var(--token-color-foreground-strong);
  display: block;
  max-width: 100%;
  width: max-content; // to avoid it extends the full width of the parent container, leading to invisible interactive area
}