//
// FORM > LEGEND
//
// properties within each class are sorted alphabetically
//

.hds-form-legend {
  color: var(--token-color-foreground-strong);
  display: block;
}

.hds-form-legend__optional-indicator {
  color: var(--token-color-foreground-faint);
  font-weight: var(--token-typography-font-weight-regular);
  margin-left: 4px;
}