//
// FORM > RADIO
//
// properties within each class are sorted alphabetically
//

$hds-form-radio-control-size: 16px;

// "BARE" CONTROL

.hds-form-radio {
  appearance: none;
  background-position: center center;
  background-size: 12px 12px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  height: $hds-form-radio-control-size;
  isolation: isolate; // used to create a new stacking context
  margin: 0;
  padding: 0;
  position: relative;
  width: $hds-form-radio-control-size;

  // used for the focus

  // &::before {
  //   $border-width: 2px;
  //   $shift: $border-width + 1px; // we need to take in account also the border width of the parent
  //   border-radius: 50%;
  //   border-width: $border-width;
  //   bottom: -$shift;
  //   content: '';
  //   left: -$shift;
  //   margin: auto;
  //   position: absolute;
  //   right: -$shift;
  //   top: -$shift;
  // }

  // STATUS

  // base (default)

  &:not(:checked) {
    background-color: var(--token-color-surface-primary);
    border-color: var(--token-color-border-primary);
    box-shadow: var(--hds-elevation-inset-box-shadow);
  }
  &:checked {
    background-color: var(--token-color-palette-blue-200);
    border-color: var(--token-color-palette-blue-400);
    // notice: the "dot" color is hardcoded here!
    background-image: url("data:image/svg+xml,%3csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6' cy='6' r='2.5' fill='%23ffffff'/%3e%3c/svg%3e");
  }

  // hover

  &:hover:not(:checked),
  &.mock-hover:not(:checked) {
    border-color: var(--token-color-border-strong);
  }
  &:hover:checked,
  &.mock-hover:checked {
    background-color: var(--token-color-foreground-action-hover);
    border-color: var(--token-color-palette-blue-500);
  }

  // focus (same for all the states)
  // TODO add handling of focus-visible

  &:focus:not(:checked),
  &:focus:checked,
  &.mock-focus:checked,
  &.mock-focus:not(:checked) {
    border-color: var(--token-color-palette-blue-400);
    // TODO test if it works across all browsers
    // Update: Safari doesn't apply a rounded border, is not
    outline: 2px solid var(--token-color-focus-action-external);
    outline-offset: 0px;

    // &::before {
    //   border-style: solid;
    //   border-color: var(--token-color-focus-action-external);
    // }
  }

  // active

  &:active:not(:checked),
  &.mock-active:not(:checked) {
    border-color: var(--token-color-palette-blue-400);
  }
  &:active:checked,
  &.mock-active:checked {
    background-color: var(--token-color-foreground-action-active);
    border-color: var(--token-color-palette-blue-500);
  }

  // DISABLED

  &:disabled:not(:checked) {
    background-color: var(--token-color-surface-strong);
    border-color: var(--token-color-border-primary);
  }
  &:disabled:checked {
    background-color: var(--token-color-surface-strong);
    border-color: var(--token-color-border-primary);
    box-shadow: none;
    // notice: the "dot" color is hardcoded here!
    background-image: url("data:image/svg+xml,%3csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6' cy='6' r='2.5' fill='%23656a76'/%3e%3c/svg%3e");
  }

  // INVALID

  &.hds-form-radio--is-invalid:not(:checked) {
    border-color: var(--token-color-foreground-critical);
  }
  &.hds-form-radio--is-invalid:checked {
    background-color: var(--token-color-foreground-critical-on-surface);
    border-color: var(--token-color-foreground-critical);
  }
}
