//
// FORM > SELECT
//
// properties within each class are sorted alphabetically
//

// "BASE" CONTROL

.hds-form-select {
  border: 1px solid var(--token-color-palette-neutral-400);
  border-radius: 5px;
  color: var(--token-color-foreground-strong);
  padding: 7px; // we have to take into account the border
  max-width: 100%;

  // STATUS

  &:hover,
  &.mock-hover {
    border-color: var(--token-color-palette-neutral-500);
  }

  // focus (same for all the states)
  // TODO add handling of focus-visible
  &:focus,
  &.mock-focus {
    border-color: var(--token-color-focus-action-internal);
    // TODO: Safari doesn't apply a rounded border
    outline: 3px solid var(--token-color-focus-action-external);
    outline-offset: 0px;
  }

  &:active,
  &.mock-active {
    background-color: var(--token-color-surface-interactive-disabled);
    border-color: var(--token-color-border-primary);
  }

  // DISABLED

  &:disabled {
    background-color: var(--token-color-surface-strong);
    border-color: var(--token-color-border-primary);
  }

  // INVALID

  &.hds-form-select--is-invalid {
    border-color: #C00005; // TODO convert to form-controls design token

    &:hover,
    &.mock-hover {
      border-color: #940004; // TODO convert to form-controls design token
    }

    // TODO add handling of focus-visible
    &:focus,
    &.mock-focus {
      border-color: var(--token-color-focus-critical-internal);
      outline-color: var(--token-color-focus-critical-external);
    }
  }
}
