//
// FORM > SELECT
//
// properties within each class are sorted alphabetically
//

// "BASE" CONTROL

.hds-form-select {
  background-color: var(--token-form-control-background-color-default);
  border: 1px solid var(--token-form-control-border-color-default);
  border-radius: var(--token-form-control-border-radius);
  color: var(--token-form-control-foreground-color-default);
  box-shadow: var(--token-elevation-low-box-shadow);
  padding: 7px; // we have to take into account the border
  max-width: 100%;

  // STATUS

  &:hover,
  &.mock-hover {
    border-color: var(--token-form-control-border-color-default-hover);
  }

  // focus (same for all the states)

  &:focus,
  &.mock-focus {
    border-color: var(--token-color-focus-action-internal);
    // Notice: Safari doesn't apply a rounded border
    outline: 3px solid var(--token-color-focus-action-external);
    outline-offset: 0px;
  }

  // DISABLED

  &:disabled {
    background-color: var(--token-form-control-background-color-disabled);
    border-color: var(--token-form-control-border-color-disabled);
    color: var(--token-form-control-foreground-color-disabled);
    cursor: not-allowed;
    box-shadow: none;
  }

  // INVALID

  &.hds-form-select--is-invalid {
    border-color: var(--token-form-control-border-color-critical);

    &:hover,
    &.mock-hover {
      border-color: var(--token-form-control-border-color-critical-hover);
    }

    &:focus,
    &.mock-focus {
      border-color: var(--token-color-focus-critical-internal);
      outline-color: var(--token-color-focus-critical-external);
    }
  }
}
