//
// FORM > TEXTAREA
//
// properties within each class are sorted alphabetically
//

// "BASE" CONTROL

.hds-form-textarea {
  background-color: var(--token-color-surface-primary);
  border: 1px solid var(--token-color-palette-neutral-400);
  border-radius: 5px;
  box-shadow: var(--hds-elevation-inset-box-shadow);
  color: var(--token-color-foreground-strong);
  padding: 3px 7px; // we have to take into account the border
  resize: vertical;
  width: 100%;
  max-width: 100%;

  // PLACEHOLDER

  ::placeholder {
    color: var(--token-color-foreground-faint);
  }

  // STATUS

  &:hover,
  &.mock-hover {
    border-color: var(--token-color-palette-neutral-500);
  }

  // focus (same for all the states)
  // TODO add handling of focus-visible
  &:focus,
  &.mock-focus {
    border-color: var(--token-color-focus-action-internal);
    // TODO: Safari doesn't apply a rounded border
    outline: 3px solid var(--token-color-focus-action-external);
    outline-offset: 0px;
  }

  &:active,
  &.mock-active {
    border-color: var(--token-color-focus-action-internal);
  }

  // READONLY

  &:read-only,
  &[readonly] {
    background-color: var(--token-color-surface-strong);
    border-color: var(--token-color-palette-neutral-400);
    box-shadow: none;
    color: var(--token-color-foreground-primary);
  }

  // DISABLED

  &:disabled,
  &[disabled] {
    background-color: var(--token-color-surface-interactive-disabled);
    border-color: var(--token-color-border-primary);
    box-shadow: none;
    color: var(--token-color-foreground-disabled);
  }

  // INVALID

  &.hds-form-textarea--is-invalid {
    border-color: #C00005; // TODO convert to form-controls design token

    &:hover,
    &.mock-hover {
      border-color: #940004; // TODO convert to form-controls design token
    }

    // TODO add handling of focus-visible
    &:focus,
    &.mock-focus {
      border-color: var(--token-color-focus-critical-internal);
      outline-color: var(--token-color-focus-critical-external);
    }
  }
}
