//
// FORM > TOGGLE
//
// properties within each class are sorted alphabetically
//

@use "sass:math";

$hds-form-toggle-control-width: 32px;
$hds-form-toggle-control-height: 16px;
$hds-form-toggle-border-radius: math.div($hds-form-toggle-control-height, 2);

// "BASE" CONTROL

.hds-form-toggle {
  display: inline-block; // we emulate the behaviour of a checkbox/radiobutton control
  isolation: isolate; // used to create a new stacking context
  position: relative;
}

// control (hidden)

.hds-form-toggle__control {
  appearance: none;
  background-color: transparent;
  border: none;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &:disabled {
    cursor: not-allowed;
  }
}

// facade (visible)

.hds-form-toggle__facade {
  background-repeat: no-repeat;
  background-position: 2px 50%;
  background-size: 12px 12px;
  border-radius: $hds-form-toggle-border-radius;
  // notice: we want to share the border color between the "thumb" and the "track" so we use a local CSS prop for this
  border: 1px solid var(--border-color);
  display: block;
  height: $hds-form-toggle-control-height;
  position: relative;
  width: $hds-form-toggle-control-width;
  transition: background 0.2s;

  // used for the "thumb"

  &::after {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    width: $hds-form-toggle-control-height;
    height: $hds-form-toggle-control-height;
    content: '';
    left: -1px;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s cubic-bezier(0.34, 1.61, 0.7, 1), border-color 0.2s ease-in;
    top: -1px;
  }

  // used for the focus

  &::before {
    $border-width: 3px;
    $shift: $border-width + 2px; // we need to take in account also the border width of the parent
    border-radius: $hds-form-toggle-border-radius + $border-width;
    border-width: $border-width;
    bottom: -$shift;
    content: "";
    left: -$shift;
    margin: auto;
    position: absolute;
    right: -$shift;
    top: -$shift;
  }

  // STATUS

  // base (default)

  :not(:checked) + & {
    --border-color: var(--token-color-palette-neutral-400);
    background-color: var(--token-color-surface-primary);
  }
  :checked + & {
    --border-color: var(--token-color-palette-blue-300);
    background-color: var(--token-color-palette-blue-200);
    // notice: the "tick" color is hardcoded here!
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.78033 3.21967C10.0732 3.51256 10.0732 3.98744 9.78033 4.28033L5.28033 8.78033C4.98744 9.07322 4.51256 9.07322 4.21967 8.78033L2.21967 6.78033C1.92678 6.48744 1.92678 6.01256 2.21967 5.71967C2.51256 5.42678 2.98744 5.42678 3.28033 5.71967L4.75 7.18934L8.71967 3.21967C9.01256 2.92678 9.48744 2.92678 9.78033 3.21967Z' fill='%23FFF'/%3e%3c/svg%3e");

    &::after {
      $shift: $hds-form-toggle-control-width - $hds-form-toggle-control-height;
      transform: translate3d($shift, 0, 0);
    }
  }

  // hover

  :hover:not(:checked) + &,
  .mock-hover:not(:checked) + & {
    --border-color: var(--token-color-palette-neutral-500);
  }
  :hover:checked + &,
  .mock-hover:checked + & {
    --border-color: var(--token-color-palette-blue-400);
    background-color: var(--token-color-palette-blue-300);
  }

  // focus (same for all the states)

  :focus:not(:checked) + &,
  :focus:checked + &,
  .mock-focus:not(:checked) + &,
  .mock-focus:checked + & {
    --border-color: var(--token-color-palette-blue-400);

    &::before {
      border-style: solid;
      border-color: var( --token-color-focus-action-external);
    }
  }

  // INVALID

  .hds-form-toggle--is-invalid :not(:checked) + & {
    --border-color: var(--token-color-palette-red-300);
  }
  .hds-form-toggle--is-invalid :checked + & {
    background-color: var(--token-color-palette-red-200);
    --border-color: var(--token-color-palette-red-300);
  }

  .hds-form-toggle--is-invalid :hover:not(:checked) + &,
  .hds-form-toggle--is-invalid .mock-hover:not(:checked) + & {
    --border-color: var(--token-color-palette-red-400);
  }
  .hds-form-toggle--is-invalid :hover:checked + &,
  .hds-form-toggle--is-invalid .mock-hover:checked + & {
    --border-color: var(--token-color-palette-red-300);
    background-color: var(--token-color-palette-red-400);
  }

  // DISABLED

  :disabled:not(:checked) + &,
  :disabled:checked + &,
  .hds-form-toggle--is-invalid :disabled:not(:checked) + &,
  .hds-form-toggle--is-invalid :disabled:checked + & {
    background-color: var(--token-color-surface-strong);
    --border-color: var(--token-color-border-primary);
    // notice: the "tick" color is hardcoded here!
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.78033 3.21967C10.0732 3.51256 10.0732 3.98744 9.78033 4.28033L5.28033 8.78033C4.98744 9.07322 4.51256 9.07322 4.21967 8.78033L2.21967 6.78033C1.92678 6.48744 1.92678 6.01256 2.21967 5.71967C2.51256 5.42678 2.98744 5.42678 3.28033 5.71967L4.75 7.18934L8.71967 3.21967C9.01256 2.92678 9.48744 2.92678 9.78033 3.21967Z' fill='%238C909C'/%3e%3c/svg%3e");
  }
}
