{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<a
  href="#main"
  aria-label="Scroll back to top"
  class="doc-scroll-to-top {{if this.isVisible 'doc-scroll-to-top--is-visible'}}"
  tabindex={{if this.isVisible 0 -1}}
  {{doc-track-event eventName="Navigation - Scroll to Top"}}
>
  <Hds::Icon @name="arrow-up" @color="white" @size="24" />
</a>