{{#if this.isButtonVisible}}
  <button
    aria-label="Scroll back to top"
    class="doc-scroll-to-top"
    type="button"
    tabindex="0"
    {{on "click" this.scrollToTop}}
  >
    <FlightIcon @name="arrow-up" @color="white" @size="24" />
  </button>
{{/if}}