.your-selector {
  color: var(--token-color-foreground-highlight);
  font-size: var(--token-typography-body-base-font-size);
  font-family: var(--token-typography-body-base-font-family);
  line-height: var(--token-typography-body-base-line-height);
  background: var(--token-color-background-highlight);
  border: 1px solid var(--token-color-border-highlight);
}
