<Hds::Layout::Flex as |LF|>
  <div>{{! some content here }}</div>
  <LF.Item @grow={{false}}>
    {{! some other content here }}
  </LF.Item>
  <div>{{! more content here }}</div>
</Hds::Layout::Flex>