<Hds::Layout::Flex @tag="ul" as |LF|>
  <li>{{! some content here }}</li>
  <LF.Item @tag="li">
    {{! some other content here }}
  </LF.Item>
  <li>{{! more content here }}</li>
</Hds::Layout::Flex>