<Hds::Layout::Flex @gap="16" class="doc-flex-outlined-container">
  <Doc::Placeholder @width="auto" @height="80px" @background="#d2f4ff">
    Some content that is taller than the sibling item
  </Doc::Placeholder>
  <button type="button" class="doc-flex-margin-left-auto">
    A simple button
  </button>
</Hds::Layout::Flex>