<p>It is going to be a
  <Hds::Layout::Flex @isInline={{true}} @tag="span" @gap="4">
    <Doc::Placeholder @width="16px" @height="16px" @text="😎" @background="#e4c5f3" />
    <Doc::Placeholder @height="16px" @text="Sunny day" @background="#fff8d2" />
  </Hds::Layout::Flex>
  this Sunday.</p>