<Hds::Layout::Flex @gap="16" class="doc-flex-outlined-container" as |LF|>
  <Doc::Placeholder @width="100%" @height="auto" @background="#d2f4ff">
    Some content that wants to occupy all the available space
  </Doc::Placeholder>
  <LF.Item @shrink={{false}}>
    <button type="button">A simple button</button>
  </LF.Item>
</Hds::Layout::Flex>