<div class="doc-code-block-demo-heading">
  <Hds::Text::Display @tag="h2" @size="300">
    Learn to write functions
  </Hds::Text::Display>
  <Hds::Text::Body @tag="p">
    Functions are a critical part of learning to code. They are reusable chunks of code that can perform tasks like
    convert an object to an array.
  </Hds::Text::Body>
</div>
<Hds::CodeBlock
  @language="go"
  @value="package main
import fmt
func main() {
  fmt.Println(helloWorld)
}"
  as |CB|
>
  <CB.Title @tag="h3">
    Example function
  </CB.Title>
</Hds::CodeBlock>