<footer class="doc-page-footer" ...attributes>
  <nav aria-label="footer navigation" class="doc-page-footer__nav">
    <ul class="doc-page-footer__list doc-text-body-small" role="list">
      <li class="doc-page-footer__links">
        <LinkTo @route="show" @model="about/accessibility-statement">Accessibility</LinkTo>
      </li>
      <li class="doc-page-footer__links">
        <a href="https://hashicorp.com/careers" target="_blank" rel="noopener noreferrer">Careers</a>
      </li>
      <li class="doc-page-footer__links">
        <a href="https://www.hashicorp.com/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Use</a>
      </li>
      <li class="doc-page-footer__links">
        <a href="https://www.hashicorp.com/security" target="_blank" rel="noopener noreferrer">Security</a>
      </li>
      <li class="doc-page-footer__links">
        <a href="https://www.hashicorp.com/privacy" target="_blank" rel="noopener noreferrer">Privacy</a>
      </li>
      <li class="doc-page-footer__links" role="separator"><span aria-hidden="true">–</span></li>
      <li class="doc-page-footer__links">
        <LinkTo @route="testing">Testing</LinkTo>
      </li>
      <li class="doc-page-footer__links">
        <button type="button" class="doc-page-footer__🌈" {{on "click" this.toggleLayoutColors}} aria-label="toggle layout colors">🌈</button>
      </li>
      <li class="doc-page-footer__links">
        <a class="doc-page-footer__logo" href="https://www.hashicorp.com/" target="_blank" rel="noopener noreferrer" aria-label="hashicorp dot com">
          <Doc::Logo::HashiCorp />
        </a>
      </li>
    </ul>
  </nav>
</footer>