{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<footer class="doc-page-footer" ...attributes>
  <nav class="doc-page-footer__nav-menu" aria-label="footer">
    <ul class="doc-page-footer__nav-list" aria-label="footer navigation">
      <li class="doc-page-footer__nav-item">
        <LinkTo
          @route="show"
          @model="about/accessibility-statement"
          {{doc-track-event eventName="Footer - Accessibility"}}
        >
          Accessibility
        </LinkTo>
      </li>
      <li class="doc-page-footer__nav-item">
        <a
          href="https://hashicorp.com/careers"
          target="_blank"
          rel="noopener noreferrer"
          {{doc-track-event eventName="Footer - Careers"}}
        >
          Careers
        </a>
      </li>
      <li class="doc-page-footer__nav-item">
        <a href="https://www.hashicorp.com/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Use</a>
      </li>
      <li class="doc-page-footer__nav-item">
        <a href="https://www.hashicorp.com/security" target="_blank" rel="noopener noreferrer">Security</a>
      </li>
      <li class="doc-page-footer__nav-item">
        <a href="https://www.hashicorp.com/privacy" target="_blank" rel="noopener noreferrer">Privacy</a>
      </li>
      <li class="doc-page-footer__nav-item">
        <a
          href="https://go.hashi.co/hds-feedback"
          target="_blank"
          rel="noopener noreferrer"
          {{doc-track-event eventName="Footer - Feedback"}}
        >
          Share Feedback
        </a>
      </li>
    </ul>
    <a
      class="doc-page-footer__logo"
      href="https://www.hashicorp.com/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="hashicorp dot com"
    >
      <Doc::Logo::HashiCorp />
    </a>
  </nav>
</footer>