<header class="doc-page-header" ...attributes>
  <div class="doc-page-header__identity">
    <LinkTo @route="index" class="doc-page-header__identity-logo">
      <img src="/assets/logos/hds-avatar-inverted.svg" alt="" role="none" />
    </LinkTo>
    <LinkTo @route="index" class="doc-page-header__identity-name">HashiCorp Design System</LinkTo>
    <DocNpmVersion class="doc-page-header__identity-version" />
  </div>
  <nav class="doc-page-header__top-menu">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/foundations">Foundations</a></li>
      <li><a href="/components">Components</a></li>
      <li><a href="/patterns">Patterns</a></li>
    </ul>
  </nav>
  <button type="button" class="doc-page-header__🌈" {{on "click" this.toggleLayoutColors}}>🌈</button>
</header>