<header class="doc-page-header" ...attributes>
  <LinkTo @route="index" class="doc-page-header__logo" aria-label="home page">
    <Doc::HdsLogo alt="HashiCorp Design System" />
  </LinkTo>
  <nav class="doc-page-header__top-menu" aria-label="primary navigation">
    <ul>
      <li><LinkTo @route="about">About</LinkTo></li>
      <li><LinkTo @route="foundations">Foundations</LinkTo></li>
      <li><LinkTo @route="components">Components</LinkTo></li>
      <li><LinkTo @route="patterns">Patterns</LinkTo></li>
    </ul>
  </nav>
</header>