<div class="doc-page-hero" ...attributes>
  <div class="doc-page-hero__inner-wrapper">
    {{#if @title}}
      <h1 class="doc-page-hero__title doc-text-h1">{{@title}}</h1>
    {{/if}}
    {{#if @description}}
      <p class="doc-page-hero__description doc-text-body">{{@description}}</p>
    {{/if}}
  </div>
</div>