<ul class="doc-page-tabs" ...attributes>
  {{#each this.dynamicSections.tabs  as |tab|}}
    <li class="doc-page-tabs__tab {{if tab.isCurrent 'doc-page-tabs__tab--is-current'}}">
      <button class="doc-text-body-small" type="button" {{on "click" (fn this.onClickTab tab)}}>{{capitalize tab.label}}</button>
    </li>
  {{/each}}
</ul>
