# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html
*.scss

# temporary CSS files for theming
/public/assets/styles/@hashicorp/
