// CARD COMPONENT > CONTAINER
//
// properties within each class are sorted alphabetically
//
//

// this mixin is used to apply the "elevation" styles to the card container
// depending on the "elevation level" and if it has a border applied to it.
// we are mimicking the way this effect is defined in Figma, through a set of
// multiple drop shadows (also the border is a 1px shadow); we tried using an
// outline but Safari still doesn't support rounded edges for outlines.
// for details see: https://www.figma.com/file/oQsMzMMnynfPWpMEt91OpH/?node-id=1988%3A2

@mixin getElevationStyle($level, $has-border: false) {
  $drop-shadow: false;
  $border-shadow: false;

  // here we define the "drop-shadow" values (there are two shadows applied)
  // notice: the "base" level doesn't have a "drop shadow" effect applied (no elevation)
  @if ($level != 'base') {
    $drop-shadow:
      var(--token-elevation-#{$level}-shadow-01-x)
      var(--token-elevation-#{$level}-shadow-01-y)
      var(--token-elevation-#{$level}-shadow-01-blur)
      var(--token-elevation-#{$level}-shadow-01-spread)
      var(--token-elevation-#{$level}-shadow-01-color),
      var(--token-elevation-#{$level}-shadow-02-x)
      var(--token-elevation-#{$level}-shadow-02-y)
      var(--token-elevation-#{$level}-shadow-02-blur)
      var(--token-elevation-#{$level}-shadow-02-spread)
      var(--token-elevation-#{$level}-shadow-02-color)
    ;
  }

  // here we define the "border-shadow" values
  // notice: we create a border via a shadow, so we have zero values for x/y/blur
  @if ($has-border) {
    $border-shadow:
      0
      0
      0
      var(--token-elevation-#{$level}-border-width)
      var(--token-elevation-#{$level}-border-color);
  }

  // here we join the two effects in a single box-shadow (depending on the different cases)
  @if ($drop-shadow and not $border-shadow) {
    box-shadow: $drop-shadow;
  } @else if($border-shadow and not $drop-shadow) {
    box-shadow: $border-shadow;
  } @else {
    // notice: we put the "border-shadow" first because the final rendering in the browser looks better
    // see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow - "The z-ordering of multiple box shadows is the same as multiple text shadows (the first specified shadow is on top)."
    box-shadow: $border-shadow, $drop-shadow;
  }
}

$hds-card-container-levels: ( 'base', 'mid', 'high' );
$hds-card-container-backgrounds: ( 'neutral-0', 'neutral-50' );

$hds-card-container-border-radius: 6px;

.hds-card__container {
  background-color: #fff;
  border-radius: $hds-card-container-border-radius;
  position: relative;
}

// LEVEL (elevation style as "drop" + "border" shadow effects)

@each $level in $hds-card-container-levels {
  .hds-card__container--level-#{$level} {
    @include getElevationStyle($level);

    &.hds-card__container--has-border {
      @include getElevationStyle($level, true);
    }
  }
}

// BACKGROUND

@each $background-color in $hds-card-container-backgrounds {
  .hds-card__container--background-#{$background-color} {
    background-color: var(--token-color-neutral-#{$background-color});
  }
}

// OVERFLOW

.hds-card__container--overflow-hidden {
  overflow: hidden;
}

.hds-card__container--overflow-visible {
  overflow: visible;
}
