/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// APP-SIDE-NAV > TOGGLE BUTTON
//

@use "../../mixins/focus-ring" as *;
@use "../../mixins/carbonization" as *;

.hds-app-side-nav__toggle-button {
  position: absolute;
  top: var(--hds-app-side-nav-wrapper-padding-vertical); // visually align with :header content
  left: calc(var(--hds-app-side-nav-wrapper-border-width) * -1);
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: var(--hds-var-app-side-nav-toggle-button-width);
  height: 36px;
  padding: 0 4px;
  color: var(--hds-foreground-color-primary);
  background: none;
  background-color: var(--hds-app-side-nav-wrapper-surface-color);
  border: var(--hds-app-side-nav-wrapper-border-width) solid var(--hds-app-side-nav-wrapper-border-color);
  border-left-color: transparent;
  border-top-right-radius: var(--hds-app-side-nav-toggle-button-border-radius);
  border-bottom-right-radius: var(--hds-app-side-nav-toggle-button-border-radius);
  transform: translateX(var(--hds-var-app-side-nav-width-expanded));
  cursor: pointer;
  transition:
    transform var(--hds-var-app-side-nav-animation-duration) var(--hds-var-app-side-nav-animation-easing),
    width var(--hds-var-app-side-nav-animation-duration) var(--hds-var-app-side-nav-animation-easing);

  &::before {
    position: absolute;
    top: calc(var(--hds-app-side-nav-toggle-button-border-radius) * -2);
    left: calc(var(--hds-app-side-nav-wrapper-border-width) * -1);
    box-sizing: border-box;
    width: calc(var(--hds-app-side-nav-toggle-button-border-radius) * 2);
    height: calc(var(--hds-app-side-nav-toggle-button-border-radius) * 2);
    border-bottom: var(--hds-app-side-nav-wrapper-border-width) solid var(--hds-app-side-nav-wrapper-border-color);
    border-left: var(--hds-app-side-nav-wrapper-border-width) solid var(--hds-app-side-nav-wrapper-border-color);
    border-bottom-left-radius: var(--hds-app-side-nav-toggle-button-border-radius);
    box-shadow: 0 var(--hds-app-side-nav-toggle-button-border-radius) 0 var(--hds-app-side-nav-wrapper-surface-color);
    content: "";

    @include hds-apply-only-if-carbon() {
      top: -1px;
    }
  }

  &::after {
    position: absolute;
    bottom: calc(var(--hds-app-side-nav-toggle-button-border-radius) * -2);
    left: calc(var(--hds-app-side-nav-wrapper-border-width) * -1);
    box-sizing: border-box;
    width: calc(var(--hds-app-side-nav-toggle-button-border-radius) * 2);
    height: calc(var(--hds-app-side-nav-toggle-button-border-radius) * 2);
    border-bottom: var(--hds-app-side-nav-wrapper-border-width) solid var(--hds-app-side-nav-wrapper-border-color);
    border-left: var(--hds-app-side-nav-wrapper-border-width) solid var(--hds-app-side-nav-wrapper-border-color);
    border-bottom-left-radius: var(--hds-app-side-nav-toggle-button-border-radius);
    box-shadow: 0 var(--hds-app-side-nav-toggle-button-border-radius) 0 var(--hds-app-side-nav-wrapper-surface-color);
    transform: scaleY(-1); // rotate so same clip path can be used
    content: "";

    @include hds-apply-only-if-carbon() {
      bottom: -1px;
    }
  }

  &:hover,
  &.mock-hover {
    width: 30px;
    background-color: var(--hds-surface-color-interactive-hover);

    &::before,
    &::after {
      box-shadow: 0 var(--hds-app-side-nav-toggle-button-border-radius) 0 var(--hds-surface-color-interactive-hover);
    }
  }

  &:focus-visible,
  &.mock-focus {
    // we hide the decorations
    &::before,
    &::after {
      display: none;
    }

    @include hds-focus-ring-basic();
  }

  &:active,
  &.mock-active {
    background-color: var(--hds-core-color-neutral-300);

    &::before,
    &::after {
      box-shadow: 0 var(--hds-app-side-nav-toggle-button-border-radius) 0 var(--hds-core-color-neutral-300);
    }
  }

  .hds-app-side-nav--is-minimized & {
    transform: translateX(var(--hds-var-app-side-nav-width-minimized));
  }
}
