/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

@use "sass:map";

$hds-button-sizes: ("small", "medium", "large");

@mixin hds-button() {
  position: relative;
  display: flex;
  gap: var(--token-button-gap);
  align-items: center;
  justify-content: center;
  width: auto;
  // notice: we set the font-weight of the button text to "regular" (on purpose)
  // because of the antialising of the browser that renders the text quite different
  // from what it looks like in Figma, so we prefer to have them visually similar
  // even if they differ in their internal implementation (in Figma the font-weight is medium/500)
  // for more context about this decision: https://hashicorp.atlassian.net/browse/HDS-2099
  font-weight: var(--token-typography-font-weight-regular);
  font-family: var(--token-typography-font-stack-text);
  text-decoration: none;
  border: var(--token-button-border-width) solid transparent; // We need this to be transparent for a11y
  border-radius: var(--token-button-border-radius);
  outline-style: solid; // used to avoid double outline+focus-ring in Safari (see https://github.com/hashicorp/design-system-components/issues/161#issuecomment-1031548656)
  outline-color: transparent; // We need this to be transparent for a11y
  isolation: isolate;
}

@mixin hds-button-state-disabled() {
  color: var(--token-button-foreground-color-disabled);
  background-color: var(--token-button-surface-color-disabled);
  border-color: var(--token-button-border-color-disabled);
  box-shadow: none;
  cursor: not-allowed;
}

@mixin hds-button-state-focus() {
  box-shadow: none;

  &::before {
    // the position absolute of an element is computed from the inside of the border of the container
    // so we have to take in account the border width of the pseudo-element container itself
    $shift: calc(-1 * (var(--token-button-border-width) + var(--token-button-focus-border-width)));
    $radius: calc(var(--token-button-border-radius) + var(--token-button-focus-border-width));
    position: absolute;
    top: $shift;
    right: $shift;
    bottom: $shift;
    left: $shift;
    z-index: -1;
    border: var(--token-button-focus-border-width) solid transparent;
    border-radius: $radius;
    content: "";
  }
}

@mixin hds-button-color-primary() {
  color: var(--token-button-foreground-color-primary-default);
  background-color: var(--token-button-surface-color-primary-default);
  border-color: var(--token-button-border-color-primary-default);
  box-shadow: var(--token-elevation-low-box-shadow);

  &:hover,
  &.mock-hover {
    color: var(--token-button-foreground-color-primary-hover);
    background-color: var(--token-button-surface-color-primary-hover);
    border-color: var(--token-button-border-color-primary-hover);
    cursor: pointer;
  }

  &:focus,
  &.mock-focus {
    color: var(--token-button-foreground-color-primary-focus);
    background-color: var(--token-button-surface-color-primary-focus);
    border-color: var(--token-button-border-color-primary-focus-internal);

    &::before {
      // the position absolute of an element is computed from the inside of the border of the container
      // so we have to take in account the border width of the pseudo-element container itself
      // plus for the primary button we want to have a 2px gap between the button and the focus
      // $shift: calc(-1 * (var(--token-button-border-width) + var(--token-button-focus-border-width) + 2px));
      $shift: 0;
      $radius: calc(var(--token-button-border-radius) + var(--token-button-focus-border-width) + 2px);
      top: $shift;
      right: $shift;
      bottom: $shift;
      left: $shift;
      border-color: var(--token-button-border-color-primary-focus-external);
      border-radius: $radius;
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-button-foreground-color-primary-active);
    background-color: var(--token-button-surface-color-primary-active);
    border-color: var(--token-button-border-color-primary-active);
    box-shadow: none;

    &::before {
      border-color: transparent;
    }
  }
}

@mixin hds-button-color-secondary() {
  color: var(--token-button-foreground-color-secondary-default);
  background-color: var(--token-button-surface-color-secondary-default);
  border-color: var(--token-button-border-color-secondary-default);
  box-shadow: var(--token-elevation-low-box-shadow);

  &:hover,
  &.mock-hover {
    color: var(--token-button-foreground-color-secondary-hover);
    background-color: var(--token-button-surface-color-secondary-hover);
    border-color: var(--token-button-border-color-secondary-hover);
    cursor: pointer;
  }

  &:focus,
  &.mock-focus {
    color: var(--token-button-foreground-color-secondary-focus);
    background-color: var(--token-button-surface-color-secondary-focus);
    border-color: var(--token-button-border-color-secondary-focus-internal);

    &::before {
      border-color: var(--token-button-border-color-secondary-focus-external);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-button-foreground-color-secondary-active);
    background-color: var(--token-button-surface-color-secondary-active);
    border-color: var(--token-button-border-color-secondary-active);
    box-shadow: none;

    &::before {
      border-color: transparent;
    }
  }
}

@mixin hds-button-color-tertiary() {
  color: var(--token-button-foreground-color-tertiary-default);
  background-color: var(--token-button-surface-color-tertiary-default);
  border-color: var(--token-button-border-color-tertiary-default);

  &:hover,
  &.mock-hover {
    color: var(--token-button-foreground-color-tertiary-hover);
    background-color: var(--token-button-surface-color-tertiary-hover);
    border-color: var(--token-button-border-color-tertiary-hover);
    cursor: pointer;
  }

  &:focus,
  &.mock-focus {
    color: var(--token-button-foreground-color-tertiary-focus);
    background-color: var(--token-button-surface-color-tertiary-focus);
    border-color: var(--token-button-border-color-tertiary-focus-internal);

    &::before {
      border-color: var(--token-button-border-color-tertiary-focus-external);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-button-foreground-color-tertiary-active);
    background-color: var(--token-button-surface-color-tertiary-active);
    border-color: var(--token-button-border-color-tertiary-active);
    box-shadow: none;

    &::before {
      border-color: transparent;
    }
  }

  //
  // IMPORTANT: we need to use also the [disabled] selector because if the "disabled" attribute is applied to a "Button as link",
  // the ":disabled" pseudo-selector is not applied to the element in the browser (rightly) because a link can't be disabled
  // but from the product perspective there may be use cases where they need to have a "Button as link" that looks disabled anyway
  //
  &:disabled,
  &[disabled],
  &.mock-disabled,
  &:disabled:focus,
  &[disabled]:focus,
  &.mock-disabled:focus,
  &:disabled:hover,
  &[disabled]:hover,
  &.mock-disabled:hover {
    background-color: transparent;
    border-color: transparent;

    &::before {
      border-color: transparent;
    }
  }
}

@mixin hds-button-color-critical() {
  color: var(--token-button-foreground-color-critical-default);
  background-color: var(--token-button-surface-color-critical-default);
  border-color: var(--token-button-border-color-critical-default);
  box-shadow: var(--token-elevation-low-box-shadow);

  &:hover,
  &.mock-hover {
    color: var(--token-button-foreground-color-critical-hover);
    background-color: var(--token-button-surface-color-critical-hover);
    border-color: var(--token-button-border-color-critical-hover);
    cursor: pointer;
  }

  &:focus,
  &.mock-focus {
    color: var(--token-button-foreground-color-critical-focus);
    background-color: var(--token-button-surface-color-critical-focus);
    border-color: var(--token-button-border-color-critical-focus-internal);

    &::before {
      border-color: var(--token-button-border-color-critical-focus-external);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-button-foreground-color-critical-active);
    background-color: var(--token-button-surface-color-critical-active);
    border-color: var(--token-button-border-color-critical-active);
    box-shadow: none;

    &::before {
      border-color: transparent;
    }
  }
}

@mixin hds-button-size-classes($blockName) {
  @each $size in $hds-button-sizes {
    .#{$blockName}--size-#{$size} {
      min-height: var(--token-button-height-#{$size});
      padding: var(--token-button-padding-vertical-#{$size}) var(--token-button-padding-horizontal-#{$size});

      .#{$blockName}__icon {
        width: var(--token-button-icon-size-#{$size});
        height: var(--token-button-icon-size-#{$size});
      }

      .#{$blockName}__text {
        font-size: var(--token-button-typography-font-size-#{$size});
        line-height: var(--token-button-typography-line-height-#{$size});
      }

      &.#{$blockName}--is-icon-only {
        // overrides to have the icon-only button squared
        min-width: var(--token-button-height-#{$size});
        padding-right: var(--token-button-padding-vertical-#{$size});
        padding-left: var(--token-button-padding-vertical-#{$size});
      }
    }
  }
}
