/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// For an explanation of the ":focus/:focus-visible" states see:
// - https://github.com/hashicorp/design-system-components/issues/161
// - https://www.tpgi.com/focus-visible-and-backwards-compatibility/

@use "../mixins/carbonization" as *;

@mixin hds-focus-ring-basic(
  $external-outline-width: var(--hds-focus-ring-width-external),
  $external-outline-color: var(--hds-color-focus-action-external),
  $external-outline-offset: 0,
  $has-internal-border: true,
  $internal-border-color-hds: var(--hds-color-focus-action-internal),
  $internal-border-color-cds: transparent
) {
  outline: $external-outline-width solid $external-outline-color;
  outline-offset: $external-outline-offset;

  @if $has-internal-border and $internal-border-color-hds != false {
    border-color: $internal-border-color-hds;
  }

  @if $has-internal-border and $internal-border-color-cds != false {
    @include hds-apply-only-if-carbon() {
      border-color: $internal-border-color-cds;
    }
  }
}

@mixin hds-focus-ring-advanced(
  // pass false if you want to avoid (re)setting the element position
  $element-position: relative,
  $pseudo-element-z-index: -1,
  // we assume a 1px border
  $pseudo-element-inset-hds: -1px,
  // we assume a 1px border and 2px external ring to offset
  $pseudo-element-inset-cds: 1px,
  $pseudo-element-border-radius: inherit,
  // provide `none` if you want to make the pseudo-element pass-through the pointer events
  $pseudo-element-pointer-events: auto,
  $external-outline-width-hds: var(--hds-focus-ring-width-external),
  $external-outline-width-cds: var(--hds-focus-ring-width-external),
  $external-outline-color: var(--hds-color-focus-action-external),
  $external-outline-offset-hds: 0,
  $external-outline-offset-cds: 0,
  $internal-border-width-hds: var(--hds-focus-ring-width-internal),
  $internal-border-width-cds: var(--hds-focus-ring-width-internal),
  $internal-border-color: var(--hds-color-focus-action-internal)
) {
  @if $element-position != false {
    position: $element-position;
    isolation: isolate; // used to create a new stacking context (needed to have the pseudo element below text/icon but not the parent container)
  }
  outline: none;

  &::before {
    position: absolute;
    inset: $pseudo-element-inset-hds;
    z-index: $pseudo-element-z-index;
    border: $internal-border-width-hds solid $internal-border-color;
    border-radius: $pseudo-element-border-radius;
    outline: $external-outline-width-hds solid $external-outline-color;
    outline-offset: $external-outline-offset-hds;
    content: "";
    pointer-events: $pseudo-element-pointer-events;

    @include hds-apply-only-if-carbon() {
      @if $pseudo-element-inset-cds != $pseudo-element-inset-hds {
        inset: $pseudo-element-inset-cds;
      }

      @if $external-outline-width-cds != $external-outline-width-hds {
        outline-width: $external-outline-width-cds;
      }

      @if $external-outline-offset-cds != $external-outline-offset-hds {
        outline-offset: $external-outline-offset-cds;
      }

      @if $internal-border-width-cds != $internal-border-width-hds {
        border-width: $internal-border-width-cds;
      }
    }
  }
}
