// ICONS-LIST > GRID

@use "../../typography/mixins" as *;


// grid

.doc-icons-list-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}


// item

.doc-icons-list-grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background: #fff;
  border: 1px solid #dbdbdc;
  border-radius: 5px;
}

.doc-icons-list-grid-item__frame {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  border-right: 1px solid #dbdbdc;
}

.doc-icons-list-grid-item__outline {
  outline: 1px dotted #ccc;
}

.doc-icons-list-grid-item__meta {
  @include doc-font-family("sans");
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-columns: auto 1fr;
  margin: 0;
  padding: 8px 8px 8px 16px;
  font-size: 12px;
  line-height: 1.5;

  em {
    color: #666;
    font-style: normal;
  }
}

