{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class={{this.classNames}} ...attributes>
  <Hds::Icon class="doc-banner__icon" @name={{this.icon}} @size="24" @isInlineBlock={{false}} />
  <div class="doc-banner__content">
    {{yield}}
  </div>
</div>