<Hds::AppFooter as |AF|>
  <AF.ExtraBefore>
    <div class="doc-app-footer-demo-custom-content-layout">
      <Doc::Placeholder
        @text="Extra Content Before"
        @height="2em"
        @width="fit-content"
        class="doc-app-footer-demo-placeholder"
      />
    </div>
  </AF.ExtraBefore>
  <AF.LegalLinks />
  <AF.ExtraAfter>
    <div class="doc-app-footer-demo-custom-content-layout">
      <Doc::Placeholder
        @text="Extra Content After"
        @height="2em"
        @width="fit-content"
        class="doc-app-footer-demo-placeholder"
      />
    </div>
  </AF.ExtraAfter>
</Hds::AppFooter>