{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#if @categoryTokens}}
  <h2 class="doc-text-h4">{{capitalize @categoryName}}</h2>
  <ul class="doc-tokens-list" role="list">
    {{#each @categoryTokens as |token|}}
      <Doc::TokensList::Item @token={{token}} />
    {{/each}}
  </ul>
{{/if}}