//
// STEPPER > INDICATOR > STEP
//
// properties within each class are sorted alphabetically
//

$hds-stepper-indicator-step-size: 24px;

// Base stepper indicator styling
.hds-stepper-indicator-step {
  width: $hds-stepper-indicator-step-size;
  height: $hds-stepper-indicator-step-size;
  font-family: var(--token-typography-font-stack-text);
  font-weight: var(--token-typography-font-weight-medium);
  position: relative;
}

.hds-stepper-indicator-step__svg-container {
  filter: drop-shadow(0 1px 1px rgba(101, 106, 118, 0.05));
  height: 100%;
  width: 100%;

  path {
    fill: var(--status-fill-color);
    stroke: var(--status-stroke-color);
  }
}

.hds-stepper-indicator-step__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hds-stepper-indicator-step__icon {
  color: var(--status-text-color);
  width: 12px;
  height: 12px;
}

.hds-stepper-indicator-step__text {
  color: var(--status-text-color);
  font-family: var(--token-typography-font-stack-text);
  font-weight: var(--token-typography-font-weight-medium);
  font-size: 0.8125rem;
  overflow: hidden;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: 20px;
}

// STATUS

// Non-interactive (default)

// @status='incomplete'
.hds-stepper-indicator-step--status-incomplete {
  --status-text-color: var(--token-color-foreground-strong);
  --status-fill-color: var(--token-color-surface-faint);
  --status-stroke-color: var(--token-color-foreground-strong);
}

// @status='progress'|'processing'
.hds-stepper-indicator-step--status-progress,
  .hds-stepper-indicator-step--status-processing {
  --status-text-color: var(--token-color-foreground-high-contrast);
  --status-fill-color: var(--token-color-palette-neutral-700);
  --status-stroke-color: var(--token-color-palette-neutral-700);
}

// @status='complete'
.hds-stepper-indicator-step--status-complete {
  --status-text-color: var(--token-color-foreground-high-contrast);
  --status-fill-color: var(--token-color-palette-neutral-700);
  --status-stroke-color: var(--token-color-palette-neutral-700);
}

// Interactive

.hds-stepper-indicator-step--is-interactive {
  cursor: pointer;

  // @status='incomplete'
  &.hds-stepper-indicator-step--status-incomplete {
    --status-text-color: var(--token-color-foreground-primary);
    --status-fill-color: var(--token-color-surface-faint);
    --status-stroke-color: var(--token-color-border-strong);

    &:hover,
    &.mock-hover {
      --status-fill-color: var(--token-color-surface-primary);
    }

    &:active,
    &.mock-active {
      --status-fill-color: var(--token-color-surface-interactive-active);
    }
  }

  // @status='progress'|'processing'
  &.hds-stepper-indicator-step--status-progress,
  &.hds-stepper-indicator-step--status-processing {
    --status-text-color: var(--token-color-foreground-high-contrast);
    --status-fill-color: var(--token-color-palette-blue-200);
    --status-stroke-color: var(--token-color-palette-blue-300);

    &:hover,
    &.mock-hover {
      --status-fill-color: var(--token-color-surface-primary);
      --status-fill-color: var(--token-color-palette-blue-300);
      --status-stroke-color: var(--token-color-palette-blue-400);
    }

    &:active,
    &.mock-active {
      --status-fill-color: var(--token-color-palette-blue-400);
    }
  }

  // @status='complete'
  &.hds-stepper-indicator-step--status-complete {
    --status-text-color: var(--token-color-foreground-action);
    --status-fill-color: var(--token-color-surface-action);
    --status-stroke-color: var(--token-color-palette-blue-200);

    &:hover,
    &.mock-hover {
      --status-text-color: var(--token-color-foreground-action-hover);
      --status-fill-color: var(--token-color-palette-blue-100);
      --status-stroke-color: var(--token-color-palette-blue-300);
    }

    &:active,
    &.mock-active {
      --status-text-color: var(--token-color-foreground-action-active);
      --status-fill-color: var(--token-color-palette-blue-100);
      --status-stroke-color: var(--token-color-palette-blue-400);
    }
  }
}
