/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FORM > BASE ELEMENTS

body.page-components-form-base-elements {
  .shw-component-form-base-elements-container-with-badge {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  .shw-component-form-base-elements-layout-highlight {
    .hds-form-field--layout-vertical,
    .hds-form-field--layout-flag {
      outline: 2px dashed var(--hds-surface-color-action);
    }

    .hds-form-field__label {
      background-color: var(--hds-surface-color-action);
    }

    .hds-form-field__helper-text {
      background-color: var(--hds-surface-color-success);
    }

    .hds-form-field__error {
      background-color: var(--hds-surface-color-critical);
    }

    .hds-form-group--layout-vertical,
    .hds-form-group--layout-horizontal {
      outline: 2px dashed var(--hds-surface-color-action);

      .hds-form-legend {
        background-color: var(--hds-surface-color-warning);
      }

      .hds-form-helper-text {
        background-color: var(--hds-surface-color-success);
      }

      .hds-form-error {
        background-color: var(--hds-surface-color-critical);
      }
    }
  }
}
