/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FORM > CHECKBOX

body.page-components-form-checkbox {
  .shw-component-form-checkbox-base-custom-layout {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
}
