/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FORM > FILE-INPUT

body.page-components-form-file-input {
  .shw-component-form-file-input-layout-highlight {
    .hds-form-file-input {
      outline: 1px dashed #78909c;
    }
  }
}
