/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FORM > MASKED-INPUT


body.page-components-form-masked-input {
  .shw-component-form-masked-input-controls {
    margin-bottom: 8px;
  }
}
