{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Charts::Donut Component"}}

<Shw::Text::H1>Charts::Donut</Shw::Text::H1>

<Shw::Text::H2>Carbon Charts test</Shw::Text::H2>

<section data-test-percy>
  <Hds::Charts::Donut />
</section>