{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<li class="doc-page-header__nav-item-generic">
  <div class="doc-form-search">
    <input
      type="search"
      name="search"
      id="doc-page-header-search-input-v2"
      class="doc-form-search__control"
      placeholder="legacy (v2)"
    />
  </div>
</li>
<li class="doc-page-header__nav-item-generic">
  <div id="doc-page-header-search-v3" class="doc-page-header__search" {{did-insert this.didInsertSearchV3}}></div>
</li>