:root {
  --token-typography-font-stack-display: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --token-typography-font-stack-text: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --token-typography-font-stack-code: ui-monospace, Menlo, Consolas, monospace;
  --token-typography-font-weight-regular: 400;
  --token-typography-font-weight-medium: 500;
  --token-typography-font-weight-semibold: 600;
  --token-typography-font-weight-bold: 700;
}
