:root {
  --token-color-palette-blue-500: #f2f8ff;
  --token-color-palette-blue-400: #cce3fe;
  --token-color-palette-blue-300: #1060ff;
  --token-color-palette-blue-200: #0c56e9;
  --token-color-palette-blue-100: #0046d1;
  --token-color-palette-blue-50: #1c345f;
}
