:root {
  --token-color-palette-blue-500: #1c345f;
  --token-color-palette-blue-400: #0046d1;
  --token-color-palette-blue-300: #0c56e9;
  --token-color-palette-blue-200: #1060ff;
  --token-color-palette-blue-100: #cce3fe;
  --token-color-palette-blue-50: #f2f8ff;
}
