@font-face {
  font-weight: 400;
  font-family: gilmer-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilmer Regular"),
    url("/assets/fonts/gilmer-400-normal.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: gilmer-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilmer Medium"),
    url("/assets/fonts/gilmer-500-normal.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: gilmer-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilmer Bold"),
    url("/assets/fonts/gilmer-700-normal.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: metro-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Metro Sans Regular"),
    url("/assets/fonts/metro-400-normal.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: metro-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Metro Sans Semi-Bold"),
    url("/assets/fonts/metro-600-normal.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: metro-web;
  font-style: normal;
  font-display: swap;
  src:
    local("Metro Sans Bold"),
    url("/assets/fonts/metro-700-normal.woff2") format("woff2");
}
