<Hds::PopoverPrimitive @enableSoftEvents={{true}} as |PP|>
  <div id="container" {{PP.setupPrimitiveContainer}}>
    <button id="toggle" type="button" {{PP.setupPrimitiveToggle}}>
      toggle
    </button>
    <div id="popover" {{PP.setupPrimitivePopover anchoredPositionOptions=(hash)}}>
      popover content
    </div>
  </div>
</Hds::PopoverPrimitive>