// these are files coming from the 'design-system-tokens' package
@use "tokens";
@use "helpers/color";
@use "helpers/elevation";
@use "helpers/focus-ring";
@use "helpers/typography";

// Notice: this list can be automatically edited by the Ember blueprint, please don't remove the start/end comments
// START COMPONENTS CSS FILES IMPORTS
@use "../components/alert";
@use "../components/avatar";
@use "../components/badge";
@use "../components/badge-count";
@use "../components/breadcrumb";
@use "../components/button";
@use "../components/button-set";
@use "../components/card";
@use "../components/disclosure";
@use "../components/dropdown";
@use "../components/empty-state";
@use "../components/form"; // multiple components
@use "../components/icon-tile";
@use "../components/link/inline";
@use "../components/link/standalone";
@use "../components/mytestcomponent";
@use "../components/stepper";
@use "../components/tag";
@use "../components/toast";
// END COMPONENT CSS FILES IMPORTS

// stylelint-disable-next-line selector-class-pattern
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;            /* 3 */
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  clip-path: inset(50%) !important;  /* 2 */
}
