/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// STEPPER::NAV

body.page-components-stepper-list {
  .shw-component-stepper-list-sample-form-btn {
    margin-top: 24px;
  }
}
