/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// STEPPER::NAV

body.page-components-stepper-nav {
  .shw-component-stepper-nav-sample-form-btn {
    margin-top: 12px;
  }

  // Hides the progress bar from being shown as progress bar is from parent Stepper::Nav
  .shw-component-stepper-nav-step-mock-incomplete .hds-stepper-nav__progress-bar::after {
    content: none;
  }

  .shw-component-stepper-nav-mock-z-index {
    position: relative;
    z-index: 1;
  }
}
