/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// global declarations

@use "./showcase-theming" as theming;
@use "./layout";
@use "./typography";
@use "./globals";

// local components

@use "./showcase-components/autoscrollable";
@use "./showcase-components/body-link-to-route";
@use "./showcase-components/divider";
@use "./showcase-components/flex";
@use "./showcase-components/frame";
@use "./showcase-components/grid";
@use "./showcase-components/label";
@use "./showcase-components/outliner";
@use "./showcase-components/placeholder";
@use "./showcase-components/theme-switcher";
@use "./mock-components/app";
@use "./mock-components/demo/breakpoints";

// Notice: this list can be automatically edited by the Ember blueprint, please don't remove the start/end comments
// START COMPONENT PAGES IMPORTS
@use "./showcase-pages/accordion" as showcase-accordion;
@use "./showcase-pages/advanced-table" as showcase-advanced-table;
@use "./showcase-pages/alert" as showcase-alert;
@use "./showcase-pages/app-footer" as showcase-app-footer;
@use "./showcase-pages/app-frame" as showcase-app-frame;
@use "./showcase-pages/app-header" as showcase-app-header;
@use "./showcase-pages/app-side-nav" as showcase-app-side-nav;
@use "./showcase-pages/application-state" as showcase-application-state;
@use "./showcase-pages/badge" as showcase-badge;
@use "./showcase-pages/breadcrumb" as showcase-breadcrumb;
@use "./showcase-pages/button" as showcase-button;
@use "./showcase-pages/card" as showcase-card;
@use "./showcase-pages/code-block" as showcase-code-block;
@use "./showcase-pages/code-editor" as showcase-code-editor;
@use "./showcase-pages/copy/button" as showcase-copy-button;
@use "./showcase-pages/copy/snippet" as showcase-copy-snippet;
@use "./showcase-pages/dialog-primitive" as showcase-dialog-primitive;
@use "./showcase-pages/disclosure-primitive" as showcase-disclosure-primitive;
@use "./showcase-pages/dismiss-button" as showcase-dismiss-button;
@use "./showcase-pages/dropdown" as showcase-dropdown;
@use "./showcase-pages/filter-bar" as showcase-filter-bar;
@use "./showcase-pages/flyout" as showcase-flyout;
@use "./showcase-pages/focus-ring" as showcase-focus-ring;
@use "./showcase-pages/form/base-elements" as showcase-form-base-elements;
@use "./showcase-pages/form/checkbox" as showcase-checkbox;
@use "./showcase-pages/form/file-input" as showcase-file-input;
@use "./showcase-pages/form/key-value-inputs" as showcase-form-key-value-inputs;
@use "./showcase-pages/form/layout" as showcase-form-layout;
@use "./showcase-pages/form/masked-input.scss" as showcase-masked-input;
@use "./showcase-pages/form/radio" as showcase-radio;
@use "./showcase-pages/form/select" as showcase-select;
@use "./showcase-pages/form/text-input" as showcase-text-input;
@use "./showcase-pages/form/textarea" as showcase-textarea;
@use "./showcase-pages/form/toggle" as showcase-toggle;
@use "./showcase-pages/icon" as showcase-icon;
@use "./showcase-pages/layout/flex" as showcase-layout-flex;
@use "./showcase-pages/layout/grid" as showcase-layout-grid;
@use "./showcase-pages/link-inline" as showcase-link-inline;
@use "./showcase-pages/modal" as showcase-modal;
@use "./showcase-pages/page-header" as showcase-page-header;
@use "./showcase-pages/pagination" as showcase-pagination;
@use "./showcase-pages/popover-primitive" as showcase-popover-primitive;
@use "./showcase-pages/power-select" as showcase-power-select;
@use "./showcase-pages/reveal" as showcase-reveal;
@use "./showcase-pages/rich-tooltip" as showcase-rich-tooltip;
@use "./showcase-pages/separator" as showcase-separator;
@use "./showcase-pages/stepper/list" as showcase-stepper-list;
@use "./showcase-pages/stepper/nav" as showcase-stepper-nav;
@use "./showcase-pages/table" as showcase-table;
@use "./showcase-pages/tabs" as showcase-tabs;
@use "./showcase-pages/tag" as showcase-tag;
@use "./showcase-pages/text" as showcase-text;
@use "./showcase-pages/theming" as showcase-theming;
@use "./showcase-pages/tooltip" as showcase-tooltip;
@use "./showcase-pages/typography" as showcase-typography;
// END COMPONENT PAGES IMPORTS

// -------------------------------------------------------------------------------------

// carbonization

@use "./showcase-components/carbonization/comparison-grid";
@use "./showcase-components/carbonization/style-preview-typography";
@use "./showcase-components/carbonization/token-preview-color";
@use "./showcase-pages/carbonization/focus-ring" as carbonization-focus-ring;
@use "./showcase-pages/carbonization/badge" as carbonization-badge;
@use "./showcase-pages/carbonization/dialog-primitive" as carbonization-dialog-primitive;
@use "./showcase-pages/carbonization/flyout" as carbonization-flyout;
@use "./showcase-pages/carbonization/form/radio-card" as carbonization-form-radio-card;
@use "./showcase-pages/carbonization/modal" as carbonization-modal;
@use "./showcase-pages/carbonization/segmented-group" as carbonization-segmented-group;
@use "./showcase-pages/carbonization/typography" as carbonization-typography;

