{{page-title "HDS Design System"}}
<div class="dummy-app-wrapper">
  <header class="dummy-header">
    <h1 class="dummy-h1">HDS Design System Components</h1>
  </header>
  <main id="main" class="dummy-main">
    {{outlet}}
  </main>
  <footer class="dummy-footer">
    <p class="dummy-paragraph">
        <a class="dummy-link" 
        href="https://github.com/hashicorp/design-system-components"
        rel="external">GitHub Repo</a>
    </p>
  </footer>
</div>