<h2>
  Available Components:
</h2>
<ol>
  <li>
    <LinkTo @route="components.badge">
      Badge Component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.button">
      Button Component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.card">
      Card Component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.icon-tile">
      IconTile Component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.link.standalone">
      Link(Standalone) Component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.typography">
      🚧 Typography
    </LinkTo>
  </li>
</ol>