<h2>
  Available components:
</h2>
<ol>
  <li>
    <LinkTo @route="components.badge">
      Badge component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.button">
      Button component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.card">
      Card component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.icon-tile">
      IconTile component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.link">
      Link (Standalone) component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.link-to">
      LinkTo (Standalone) component
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="components.typography">
      🚧 Typography
    </LinkTo>
  </li>
</ol>