{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: MPL-2.0
}}

<div class={{this.classNames}} ...attributes>
  {{! TODO decide if this one is actually a `Doc::Badge` component }}
  <div class="doc-do-dont__badge">{{this.label}}</div>
  <div class="doc-do-dont__content">
    {{yield}}
  </div>
</div>