<div class={{this.classNames}} ...attributes>
  {{! TODO decide if this one is actually a `Doc::Badge` component }}
  <div class="doc-do-dont__badge">{{this.label}}</div>
  <div class="doc-do-dont__content">
    {{yield}}
  </div>
</div>