{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Tag - Observer performance demo - Frameless"}}

<div {{style padding="24px"}}>
  <Shw::Text::Body><strong>Note:</strong>
    This demo is to test the loading performance of the ResizeObserver when many Tags are rendered. There should be
    little increase in loading times even when many Tags with observers are present.</Shw::Text::Body>

  <Hds::Layout::Grid @columnWidth="150px" @gap="16">
    {{#each @model.DEMO_RANGE as |i|}}
      <Hds::Tag
        @text="{{i.index}} This is a very long text that should go on multiple lines"
        @onDismiss={{this.noop}}
      />
    {{/each}}
  </Hds::Layout::Grid>
</div>