.doc-page-header {
  background-color: red;
}

.doc-page-sidebar {
  background-color: #0c56e9;
}

.doc-page-content-wrapper {
  background-color: #edf7fc;
}

.doc-page-main {
  background-color: #a737ff;
}

.doc-page-sidecar {
  background-color: #008a22;
}

.doc-page-footer {
  background-color: yellow;
}
