// stylelint-disable selector-class-pattern

@use "../../breakpoints" as breakpoint;

.🌈 {
  background-color: pink;

  .doc-page-header {
    background-color: red;
  }

  .doc-page-sidebar {
    background-color: #0c56e9;
  }

  .doc-page-stage {
    background-color: #edf7fc;
  }

  .doc-page-cover {
    background-color: #feff38;
  }

  .doc-page-content {
    background-color: #a737ff;
    background-clip: content-box;
  }

  .doc-page-sidecar {
    background-color: #008a22;
  }

  .doc-page-footer {
    background-color: #111f5d;
  }

  // page specific debug

  .doc-page-home::before {
    border-bottom: 3px solid red;

    @include breakpoint.medium() {
      border-bottom-color: orange;
    }

    @include breakpoint.large() {
      border-bottom-color: green;
    }
  }
}

.doc-page-footer__🌈 {
  padding: 1px 3px;
  font-size: 12px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}
