.doc-page-header {
  background-color: red;
}

.doc-page-sidebar {
  background-color: #0c56e9;
}

.doc-page-stage {
  background-color: #edf7fc;
}

.doc-page-cover {
  background-color: #feff38;
}

.doc-page-content {
  background-color: #a737ff;
  background-clip: content-box;
}

.doc-page-sidecar {
  background-color: #008a22;
}

.doc-page-footer {
  background-color: #111f5d;
}
