// CONTENT (WRAPPER + MAIN + SIDECAR)

@use "../../breakpoints" as breakpoint;


.doc-page-content-wrapper {
  display: grid;
  grid-area: content;
  grid-template-areas: "main sidecar";
  // use this if you want the `sidecar` to collaps and the `main` content to pick up the space
  // grid-template-columns: 1fr auto;
  // use this if you want the have an empty space when there is no `sidecar`
  grid-template-columns: 1fr var(--doc-page-sidecar-width);
  width: 100%; // needed (otherwise it collapses, because is in a grid)
  margin: 0 auto;
  padding: 32px var(--doc-page-content-gutter-small);
  column-gap: var(--doc-page-content-gutter-large);

  @include breakpoint.large () {
    max-width: calc(var(--doc-page-main-max-width) + var(--doc-page-sidecar-width) + 3 * var(--doc-page-content-gutter-large));
    padding-right: var(--doc-page-content-gutter-large);
    padding-left: var(--doc-page-content-gutter-large);
  }
}
