// CONTENT (MAIN)

@use "../../breakpoints" as breakpoint;


.doc-page-content {
  grid-area: content / content / _extra / _extra;
  min-width: 0; // needed to avoid that the element blows out if the content is too wide (see: https://css-tricks.com/preventing-a-grid-blowout/)
  padding: 0 var(--doc-page-stage-gutter-small);

  // TODO! temp until we decide with Heather the correct vertical padding of the "content" area
  > :first-child,
  > section {
    margin-top: 48px;
  }

  > :last-child,
  > section {
    margin-bottom: 48px;
  }

  @include breakpoint.medium () {
    padding: 0 var(--doc-page-stage-gutter-medium);
  }

  @include breakpoint.large () {
    grid-area: content;
    width: 100%; // need to fill the available space
    max-width: 100%; // there is also a max-width set at grid level that acts as parent container
    padding: 0 var(--doc-page-stage-gutter-large);
  }
}


// in case we need it to "breakthrough" and occupy also the "sidecar" area
.doc-page-content--breakthrough {
  grid-area: content / content / sidecar / sidecar;
  // notice: since the sidebar doesn't have a fixed size, we need to force the max-width on the content in this case
  // TODO! - IMPORTANT: since now we have the `@breakthrough` argument to control the use case when we don't have the sidecar
  // potentially we could add again the fixed size to the "sidecar" grid area and remove this max-width (to be tested)
  max-width: calc(var(--doc-page-content-max-width) + 2 * var(--doc-page-stage-gutter-large) + var(--doc-page-sidebar-width));
}
