// FOOTER

.doc-page-footer {
  z-index: 100; // TODO check why it's under the `.doc-page-home`
  display: flex;
  grid-area: footer;
  margin: auto 0 0 0;
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
}
