/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FOOTER

@use "../../breakpoints" as breakpoint;
@use "../../typography/mixins" as *;

.doc-page-footer {
  // z-index: var(--doc-z-index-footer);
  grid-area: footer;

  body.application:not(.index) & {
    @include breakpoint.with-fixed-sidebar() {
      padding-left: var(--doc-page-sidebar-width); // we need to compensate for the fixed position of the sidebar
    }
  }
}

.doc-page-footer__nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  color: var(--doc-color-black);

  @include breakpoint.medium () {
    flex-direction: row;
    justify-content: space-between;
  }

  body.application.index & {
    color: var(--doc-color-white);
  }
}

.doc-page-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.doc-page-footer__nav-item {
  @include doc-font-style-body-small();

  a {
    color: var(--doc-color-gray-300);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    body.application.index & {
      color: var(--doc-color-gray-400);
    }
  }
}

.doc-page-footer__logo {
  display: block;
  flex: none;
  height: 28px;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;

  svg {
    width: auto;
    height: 100%;
  }
}

// ERROR PAGE

body.application.error {
  @include breakpoint.with-fixed-sidebar() {
    .doc-page-footer {
      padding-left: 0;
    }
  }
}
