// HEADER

.doc-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 68px;
  padding: 0 24px;
  color: #fff;
  background: #000;
}

// IDENTITY

.doc-page-header__identity {
  display: grid;
  grid-template-areas:
    "logo name"
    "logo version";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  align-items: center;
}

.doc-page-header__identity-logo {
  grid-area: logo;

  img {
    display: block;
    width: 48px;
    height: 48px;
  }
}

.doc-page-header__identity-name {
  grid-area: name;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.doc-page-header__identity-version {
  grid-area: version;
}

// MENU

.doc-page-header__top-menu {
  margin-left: 40px;

  ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
