// HEADER

@use "../../typography/mixins" as *;

.doc-page-header {
  position: sticky;
  top: 0;
  // TODO review all the z-index stacking once the navigation has been finalized
  z-index: 2; // needs to be above the sidebar (when the content scrolls)
  display: flex;
  flex-direction: row;
  grid-area: header;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  height: var(--doc-page-header-height);
  padding: 0 24px;
  color: var(--doc-color-white);
  background: var(--doc-color-black);
}

// LOGO

.doc-page-header__logo {
  display: block;
  height: 32px;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }

  svg {
    width: auto;
    height: 100%;
  }
}

// NAV MENU (PRIMARY + SECONDARY)

.doc-page-header__nav-menu {
  align-self: stretch;

  ul {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.doc-page-header__nav-menu--secondary {
  margin: auto 0 auto auto;
}

.doc-page-header__nav-item-text {
  align-self: stretch;

  a {
    @include doc-font-family("sans");
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px 12px 5px 12px;
    color: var(--doc-color-gray-400);
    font-weight: 600;
    font-size: 0.9375rem; // 15px
    line-height: 1.667; // 25px
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:visited {
      color: var(--doc-color-gray-400);
    }

    &:hover {
      color: var(--doc-color-white);
    }

    &:active {
      border-bottom-color: var(--doc-color-white);
    }

    &.is-current-to-route {
      border-bottom-color: var(--doc-color-gray-600);
    }
  }
}

.doc-page-header__nav-item-generic {
  a {
    color: var(--doc-color-gray-400);

    &:visited {
      color: var(--doc-color-gray-400);
    }

    &:hover {
      color: var(--doc-color-white);
    }
  }
}
