// HEADER

@use "../../breakpoints" as breakpoint;
@use "../../typography/mixins" as *;

// notice: we use an ad-hoc breakpoint here
$header-custom-breakpoint: 1000px;

.doc-page-header {
  position: sticky;
  top: 0;
  // TODO review all the z-index stacking once the navigation has been finalized
  z-index: 2; // needs to be above the sidebar (when the content scrolls)
  display: flex;
  flex-direction: row;
  grid-area: header;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  height: var(--doc-page-header-height);
  padding: 0 24px;
  color: var(--doc-color-white);
  background: var(--doc-color-black);

  @media (min-width: $header-custom-breakpoint) {
    gap: 32px;
  }
}

// LOGO

.doc-page-header__logo {
  display: block;
  flex: none;
  height: 32px;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }

  svg {
    width: auto;
    height: 100%;
  }

  // we add a bit of "responsiveness" to the logo too, to gain some extra space :)

  .doc-logo-hds__hashicorp {
    display: none;

    @media (min-width: $header-custom-breakpoint) {
      display: initial;
    }
  }
}

// NAV MENU (PRIMARY)

.doc-page-header__nav-menu {
  display: none;

  @include breakpoint.medium-and-above() {
    display: block;
    flex: 1 0 auto;
    align-self: stretch;
  }

  ul {
    display: flex;
    gap: 0;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $header-custom-breakpoint) {
      gap: 12px;
    }
  }
}

.doc-page-header__nav-item-text {
  align-self: stretch;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px 12px 5px 12px;
    color: var(--doc-color-gray-400);
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:visited {
      color: var(--doc-color-gray-400);
    }

    &:hover {
      color: var(--doc-color-white);
    }

    &:active {
      border-bottom-color: var(--doc-color-white);
    }

    &.is-current-route {
      border-bottom-color: var(--doc-color-gray-600);
    }
  }
}

.doc-page-header__nav-item-generic {
  a {
    color: var(--doc-color-gray-400);

    &:visited {
      color: var(--doc-color-gray-400);
    }

    &:hover {
      color: var(--doc-color-white);
    }
  }
}

.doc-page-header__nav-item--split {
  margin: 0 0 0 auto;
}


// BURGER MENU

.doc-page-header__burger-menu {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  margin: 0 0 0 auto;
  color: var(--doc-color-gray-400);
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    color: var(--doc-color-white);
  }

  // `ember-body-class` sets specific classes on the `<body>` element and we use this to have a full black background even in case of overscrolling
  body.application.index & {
    // in homepage the top-level links in the header are still accessible, so no need to show the menu
    @include breakpoint.medium () {
      display: none;
    }
  }

  @include breakpoint.large () {
    display: none;
  }
}
