// HEADER

.doc-page-header {
  // TBD with Heather if we want it sticky or not
  position: sticky;
  top: 0;
  // TODO review all the z-index stacking once the navigation has been finalized
  z-index: 2; // needs to be above the sidebar (when the content scrolls)
  display: flex;
  flex-direction: row;
  grid-area: header;
  align-items: center;
  justify-content: flex-start;
  height: var(--doc-page-header-height);
  padding: 0 24px;
  color: #fff;
  background: #000;
}

// IDENTITY

.doc-page-header__identity {
  display: grid;
  grid-template-areas:
    "logo name"
    "logo version";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  align-items: center;
}

.doc-page-header__logo {
  display: block;
  grid-area: logo;
  width: auto;
  height: 32px;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }

  svg {
    width: auto;
    height: 100%;
  }
}

.doc-page-header__identity-name {
  grid-area: name;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.doc-page-header__identity-version {
  grid-area: version;
}

// MENU

.doc-page-header__top-menu {
  margin-left: 40px;

  ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
