// "APPLICATION" PAGE

@import "./header";
@import "./sidebar";
@import "./stage";
@import "./cover";
@import "./tabs";
@import "./content";
@import "./sidecar";
@import "./footer";
@import "./debug";


// globals

:root {
  --doc-page-header-height: 68px;
  --doc-page-sidebar-width: 320px;
  --doc-page-stage-gutter-small: 24px;
  --doc-page-stage-gutter-medium: 48px;
  --doc-page-stage-gutter-large: 96px;
  --doc-page-content-max-width: 900px;
  --doc-page-text-limit-width: 720px;
  --doc-page-sidecar-width: 220px;
}


// "top/root" page wrapper

.doc-page-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar stage"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}
