@import "./header";
@import "./sidebar";
@import "./content";
@import "./footer";
@import "./debug";

.doc-page-wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content sidecar"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  min-height: 100vh;
}
