// SIDE NAVIGATION

.doc-page-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  width: var(--doc-sidebar-width);
  background: white;
  border-right: 1px solid #ddd;
}

.doc-page-sidebar__inner-wrapper {
  position: relative;
  flex: 1 0 0;
  min-height: 0;
  padding: 2rem 0.5rem;
  overflow-y: auto;
}
