/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// TABS

@use "../../breakpoints" as breakpoint;
@use "../../typography/mixins" as *;

.doc-page-tabs {
  z-index: var(--doc-z-index-tabs);
  display: flex;
  flex-wrap: nowrap;
  grid-area: tabs;
  gap: 16px;
  height: min-content;
  margin: 0;
  padding: 24px var(--doc-page-stage-gutter-small) 0;
  overflow-x: auto;
  overflow-y: hidden; // .doc-page-tabs__tab--is-current has an ::after pseudoelement that always overflows with 3px, so we disable the vertical scrollbar and rely on the horizontal one
  list-style: none;
  background-color: var(--doc-color-white);
  border-bottom: 1px solid var(--doc-color-gray-500);
  -webkit-overflow-scrolling: touch;

  @include breakpoint.medium () {
    padding: 24px var(--doc-page-stage-gutter-medium) 0;
    overflow: visible;
  }

  @include breakpoint.large () {
    padding: 24px var(--doc-page-stage-gutter-large) 0;
  }

  @include breakpoint.x-large() {
    padding: 24px var(--doc-page-stage-gutter-x-large) 0;
  }

  @media (height >= 480px) {
    position: sticky;
    top: var(--doc-page-header-height);
  }
}

.doc-page-tabs__tab {
  position: relative;

  button {
    @include doc-font-style-navigation();
    position: relative;
    padding: 3px 11px; // we need to take in account the transparent border
    color: var(--doc-color-gray-300);
    font-weight: 600;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    @include breakpoint.medium () {
      white-space: normal;
    }

    &:hover {
      color: var(--doc-color-black);
    }
  }

  &.doc-page-tabs__tab--is-current {
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: var(--doc-color-black);
      content: "";

      @include breakpoint.medium () {
        bottom: -1px;
      }
    }

    button {
      color: var(--doc-color-black);
    }
  }

  // special treatment for the "carbonization" tab
  button#tab-carbonization {
    padding-left: 24px;
    color: #4589ff;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M13.5 30.815a1 1 0 0 1-.493-.13l-8.5-4.815A1 1 0 0 1 4 25V15a1 1 0 0 1 .507-.87l8.5-4.815a1 1 0 0 1 .986 0l8.5 4.815A1 1 0 0 1 23 15v10a1 1 0 0 1-.507.87l-8.5 4.815a1 1 0 0 1-.493.13M6 24.417l7.5 4.249 7.5-4.249v-8.834l-7.5-4.248L6 15.583Z"/><path d="M28 17h-2V7.583l-7.5-4.248-8.007 4.535-.986-1.74 8.5-4.815a1 1 0 0 1 .986 0l8.5 4.815A1 1 0 0 1 28 7Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 4px 50%;
    background-size: 16px 16px;

    &:hover {
      color: #0f62fe;
    }
  }

  &.doc-page-tabs__tab--is-current:has(button#tab-carbonization) {
    &::after {
      background-color: #0f62fe;
    }

    button#tab-carbonization {
      color: #0f62fe;
    }
  }
}
