// TABS

.doc-page-tabs {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.doc-page-tabs__tab {
  button {
    position: relative;
    padding: 4px 12px;
    color: #727374; // TODO transform to design token
    font-weight: semibold;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: #2264d6;

      &::after {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        height: 3px;
        background-color: #2264d6;
        content: "";
      }
    }
  }
}
