{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-form-filter">
  <input
    type="search"
    class="doc-form-filter__control"
    placeholder={{@placeholder}}
    aria-label={{@placeholder}}
    value={{@filterQuery}}
    {{on "input" (perform @onInput value="target.value")}}
    ...attributes
  />
</div>