/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// ALERT COMPONENT
//

@use "../mixins/carbonization" as *;

.hds-alert {
  display: flex;
  align-items: flex-start;
}

// ICON

.hds-alert__icon {
  flex: none;
  width: 20px;
  height: 20px;
  margin-right: var(--token-alert-icon-margin-right);

  .hds-alert--type-compact & {
    width: 14px;
    height: 14px;
  }
}

// CONTENT (TEXT + ACTIONS + GENERIC)

.hds-alert__content {
  flex: 1 1 auto;
}

// TEXT (TITLE & DESCRIPTION)

.hds-alert__text {
  display: flex;
  flex-direction: column;
  gap: var(--token-alert-content-gap);
  justify-content: center;
}

.hds-alert__title,
.hds-alert__description {
  line-height: var(--token-alert-typography-line-height);
}

.hds-alert__description {
  word-break: break-word;

  // we add very basic styling for elements that may be injected via the "description" string

  strong {
    font-weight: var(--token-typography-font-weight-semibold);
  }

  code,
  pre {
    display: inline;
    padding: 1px 5px;
    font-size: 0.9em; // as discussed with designers, we reduce the size for optical/visual balance
    font-family: var(--token-typography-code-100-font-family);
    line-height: 1em;
    background-color: var(--token-color-surface-primary);
    border: 1px solid var(--token-color-palette-neutral-200);
    border-radius: var(--token-border-radius-small);
  }

  // Default styling for bare HTML links not using HDS::Link components
  a:not([class*="hds-"]) {
    color: var(--token-color-foreground-strong);

    &:focus,
    &:focus-visible {
      text-decoration: none;
      outline: 2px solid var(--token-color-focus-action-internal);
      outline-offset: 1px;
    }

    &:hover {
      color: var(--token-color-foreground-primary);
    }

    &:active {
      color: var(--token-color-foreground-faint);
    }
  }
}

// ACTIONS

.hds-alert__actions {
  display: flex;
  gap: 16px;
  align-items: center;

  > * {
    margin-top: var(--token-alert-actions-margin-top);
  }
}

// DISMISS

.hds-alert__dismiss {
  // for visual alignment with the main icon and text
  margin: -2px -4px -4px var(--token-alert-dismiss-margin-left);

  .hds-alert--type-compact & {
    margin-top: -3px;
  }

  @include hds-apply-only-if-carbon() {
    .hds-icon {
      width: 16px;
      height: 16px;
    }
  }
}

// TYPES
.hds-alert--type-page {
  padding: var(--token-alert-page-padding-vertical) 16px var(--token-alert-page-padding-vertical) 48px;
  border-width: 1px;
  border-bottom-style: solid;

  @include hds-apply-only-if-carbon() {
    border-style: solid;

    .hds-alert__dismiss {
      margin: calc(-1 * var(--token-alert-page-padding-vertical)) calc(-1 * 16px) 0
        var(--token-alert-dismiss-margin-left);
    }
  }
}

.hds-alert--type-inline {
  padding: var(--token-alert-inline-padding-vertical) var(--token-alert-inline-padding-horizontal);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--token-border-radius-medium);

  @include hds-apply-only-if-carbon() {
    position: relative;
    border-left-width: 0;

    // For Carbon theme the left border is placed on top of the alert container using a pseudo element, so that it can have a different color than the main border color
    // This avoides having angled corners between the border colors if this was done using a regular border with different left color
    &::before {
      position: absolute;
      top: -1px; // Compensate the 1px border-width of the top border
      left: 0;
      width: var(--token-alert-inline-border-left-width);
      height: calc(100% + 2px); // Compensate the 1px border-width of both top and bottom borders
      content: "";
    }

    .hds-alert__dismiss {
      margin: calc(-1 * var(--token-alert-inline-padding-vertical))
        calc(-1 * var(--token-alert-inline-padding-horizontal)) 0 var(--token-alert-dismiss-margin-left);
    }
  }
}

.hds-alert--type-compact {
  .hds-alert__icon {
    margin-top: 2px; // notice: the icon size for the "compact" type is 14px, not 20px, so this 2px extra are needed to reach the exact same height as the "description" text line-height
    margin-right: 8px;
  }

  // extra safety
  .hds-alert__title {
    display: none;

    & + .hds-alert__description {
      margin-top: 0;
    }
  }
}

// COLORS (& TYPES)

.hds-alert--color-neutral {
  &.hds-alert--type-page,
  &.hds-alert--type-inline {
    background-color: var(--token-alert-surface-color-neutral);
    border-color: var(--token-alert-border-color-neutral);
  }

  .hds-alert__icon {
    color: var(--token-alert-icon-color-neutral);
  }

  .hds-alert__title {
    color: var(--token-alert-title-foreground-color-neutral);
  }

  @include hds-apply-only-if-carbon() {
    &.hds-alert--type-inline::before {
      background-color: var(--token-alert-inline-border-left-color-neutral);
    }
  }
}

.hds-alert--color-highlight {
  &.hds-alert--type-page,
  &.hds-alert--type-inline {
    background-color: var(--token-alert-surface-color-highlight);
    border-color: var(--token-alert-border-color-highlight);
  }

  .hds-alert__icon {
    color: var(--token-alert-icon-color-highlight);
  }

  .hds-alert__title {
    color: var(--token-alert-title-foreground-color-highlight);
  }

  @include hds-apply-only-if-carbon() {
    &.hds-alert--type-inline::before {
      background-color: var(--token-alert-inline-border-left-color-highlight);
    }
  }
}

.hds-alert--color-success {
  &.hds-alert--type-page,
  &.hds-alert--type-inline {
    background-color: var(--token-alert-surface-color-success);
    border-color: var(--token-alert-border-color-success);
  }

  .hds-alert__icon {
    color: var(--token-alert-icon-color-success);
  }

  .hds-alert__title {
    color: var(--token-alert-title-foreground-color-success);
  }

  @include hds-apply-only-if-carbon() {
    &.hds-alert--type-inline::before {
      background-color: var(--token-alert-inline-border-left-color-success);
    }
  }
}

.hds-alert--color-warning {
  &.hds-alert--type-page,
  &.hds-alert--type-inline {
    background-color: var(--token-alert-surface-color-warning);
    border-color: var(--token-alert-border-color-warning);
  }

  .hds-alert__icon {
    color: var(--token-alert-icon-color-warning);
  }

  .hds-alert__title {
    color: var(--token-alert-title-foreground-color-warning);
  }

  @include hds-apply-only-if-carbon() {
    &.hds-alert--type-inline::before {
      background-color: var(--token-alert-inline-border-left-color-warning);
    }
  }
}

.hds-alert--color-critical {
  &.hds-alert--type-page,
  &.hds-alert--type-inline {
    background-color: var(--token-alert-surface-color-critical);
    border-color: var(--token-alert-border-color-critical);
  }

  .hds-alert__icon {
    color: var(--token-alert-icon-color-critical);
  }

  .hds-alert__title {
    color: var(--token-alert-title-foreground-color-critical);
  }

  @include hds-apply-only-if-carbon() {
    &.hds-alert--type-inline::before {
      background-color: var(--token-alert-inline-border-left-color-critical);
    }
  }
}
