/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// APP-HEADER
//

@use "../mixins/carbonization" as *;
@use "../mixins/focus-ring" as *;
@use "../mixins/button" as *;

$hds-interactive-app-header-theme-focus-ring-action-box-shadow:
  inset 0 0 0 1px var(--token-app-header-interactive-focus-action-internal),
  0 0 0 3px var(--token-app-header-interactive-focus-action-external);
// Used for interactive elements such as Button & Dropdown
@mixin hds-interactive-app-header-theme($add-visible-border: true) {
  // Override token used in focus ring mixin
  --token-focus-ring-action-box-shadow: #{$hds-interactive-app-header-theme-focus-ring-action-box-shadow};

  color: var(--token-app-header-interactive-foreground-color-default);
  background-color: var(--token-app-header-interactive-surface-color-default);

  // Default:
  border: 1px solid transparent;
  border-radius: var(--token-button-border-radius);
  cursor: pointer;

  @if ($add-visible-border) {
    border-color: var(--token-app-header-interactive-border-color-default);
  }

  @include hds-apply-only-if-carbon() {
    height: 100%;
  }

  // Hover:
  &:hover,
  &.mock-hover {
    @if ($add-visible-border) {
      border-color: var(--token-app-header-interactive-border-color-default);
    }

    color: var(
      --token-app-header-interactive-foreground-color-default
    ); // to avoid overrides by specificity (eg. `a:hover`)
    background-color: var(--token-app-header-interactive-surface-color-hover);
  }

  // Focus:
  &:focus,
  &.mock-focus {
    @include hds-focus-ring-with-pseudo-element($top: -1px, $right: -1px, $bottom: -1px, $left: -1px);

    // See: https://sass-lang.com/d/mixed-decls
    & {
      color: var(--token-app-header-interactive-foreground-color-default);
      background-color: var(--token-app-header-interactive-surface-color-default);

      @if ($add-visible-border) {
        border-color: var(--token-app-header-interactive-focus-action-internal);
      }
    }

    // focus ring:
    &::before {
      color: var(--token-color-foreground-high-contrast);
      border: none;
    }
  }

  // override style removing the focus style
  &:focus:focus:not(:focus-visible)::before {
    box-shadow: $hds-interactive-app-header-theme-focus-ring-action-box-shadow;
  }

  // Active:
  &:active,
  &.mock-active {
    color: var(
      --token-app-header-interactive-foreground-color-default
    ); // to avoid overrides by specificity (eg. `a:hover`)
    background-color: var(--token-app-header-interactive-surface-color-active);

    @if ($add-visible-border) {
      border-color: var(--token-app-header-interactive-border-color-disabled);
    }
  }
}

@mixin hds-interactive-app-header-theme-state-disabled() {
  color: var(--token-app-header-interactive-foreground-color-disabled);
  background-color: var(--token-app-header-interactive-surface-color-disabled);
  border-color: var(--token-app-header-interactive-border-color-disabled);
}

// ----------------

.hds-app-header {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  min-height: var(--token-app-header-height);
  padding: var(--token-app-header-padding-top) 16px var(--token-app-header-padding-bottom) 16px;
  color: var(--token-app-header-foreground-color);
  background: var(--token-app-header-surface-color);
  border-bottom: 1px solid var(--token-app-header-border-color);

  // A11Y-REFOCUS "SKIP LINK"

  .ember-a11y-refocus-skip-link {
    top: 10px;
    left: 10px;
    z-index: 20;
    width: max-content;
    padding: 2px 10px 4px;
    color: var(--token-color-foreground-action);
    font-size: var(--token-typography-display-200-font-size);
    font-family: var(--token-typography-display-200-font-family);
    line-height: var(--token-typography-display-200-line-height);
    background-color: var(--token-color-surface-faint);
    border-radius: var(--token-border-radius-x-small);
    transform: translateY(-200%);
    transition: 0.6s ease-in-out;

    &:focus {
      transform: translateY(0);
    }
  }

  // RESPONSIVE VIEWS

  // Desktop (large) view:
  &.hds-app-header--is-desktop {
    // Global actions are aligned next to the logo in desktop view
    .hds-app-header__global-actions {
      margin-right: auto;
    }
  }

  // Mobile/tablet (small/medium) view:
  &.hds-app-header--is-mobile {
    // Actions content appears as a dropdown menu in mobile/tablet view
    .hds-app-header__actions {
      position: absolute;
      top: calc(100% + 1px); // We add 1px to account for the AppHeader bottom border
      right: 0;
      left: 0;
    }

    // Display as dropdown menu in mobile/tablet view
    .hds-app-header__actions {
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 16px;
      overflow: auto; // allow users to scroll if the content is too long
      background: var(--token-app-side-nav-interactive-surface-color-default);
    }

    &.hds-app-header--menu-is-closed {
      .hds-app-header__actions {
        display: none;
      }
    }

    &.hds-app-header--menu-is-open {
      .hds-app-header__actions {
        height: calc(100vh - var(--token-app-header-height));
      }
    }

    // Force the width of global actions to 100% in mobile/tablet view
    .hds-app-header__global-actions {
      &,
      .hds-dropdown,
      .hds-dropdown-toggle-button {
        width: 100%;
      }
    }
  }

  // CONTENT

  .hds-app-header__global-actions,
  .hds-app-header__utility-actions {
    display: flex;
    gap: var(--token-app-header-actions-gap);
    align-items: center;
  }

  // Dropdown & Button color theming overrides
  // Note: We need to apply dark theme styles to .hds-dropdown-toggle-button & .hds-dropdown-toggle-icon
  // so we use a partial classname selector to cover both cases

  .hds-button,
  button[class*="hds-dropdown-toggle"] {
    // Apply dark theme to child interactive components not within a nested content container
    &:not(.hds-dropdown__content *, .ember-basic-dropdown-content *, .hds-dialog-primitive__wrapper *) {
      @include hds-interactive-app-header-theme();

      // disabled state:
      &:disabled,
      &[disabled],
      &.mock-disabled,
      &:disabled:focus,
      &[disabled]:focus,
      &.mock-disabled:focus,
      &:disabled:hover,
      &[disabled]:hover,
      &.mock-disabled:hover {
        @include hds-interactive-app-header-theme-state-disabled();
      }
    }
  }
}

// Prevent interaction with AppHeader when AppSideNav is open/expanded

// Logic: if the AppSideNav is "mobile" (operates in overlay mode) - AND - it is expanded (not minimized),
// we disable interactions in the AppHeader

.hds-app-frame:has(.hds-app-side-nav--is-mobile.hds-app-side-nav--is-not-minimized) {
  // visually disable all nested elements within the AppHeader when AppSideNav is open in mobile view
  .hds-app-header > * {
    filter: contrast(0.5) brightness(0.7);
    pointer-events: none;
  }
}

// Logo

.hds-app-header__home-link {
  @include hds-interactive-app-header-theme($add-visible-border: false);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  text-decoration: none;

  // Remove interactive styles on home link for Carbon themes
  @include hds-apply-only-if-carbon() {
    &:hover,
    &.mock-hover,
    &:active,
    &.mock-active {
      color: var(--token-interactive-theme-foreground-color-default);
      background-color: var(--token-app-header-interactive-surface-color-default);
    }
  }

  // disabled state:
  &:disabled,
  &[disabled],
  &.mock-disabled,
  &:disabled:focus,
  &[disabled]:focus,
  &.mock-disabled:focus,
  &:disabled:hover,
  &[disabled]:hover,
  &.mock-disabled:hover {
    @include hds-interactive-app-header-theme-state-disabled();
  }

  // Set SVG logo size:
  svg {
    width: var(--token-app-header-logo-size);
    height: var(--token-app-header-logo-size);
  }
}

.hds-app-header__actions-content,
.hds-app-header__actions {
  display: flex;
  flex: 1;
  gap: inherit;
}
