/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// BADGE-COUNT COMPONENT
//

$hds-badge-count-sizes: ("small", "medium", "large");
$hds-badge-count-colors: ("neutral", "neutral-dark-mode");
$hds-badge-count-types: ("filled", "inverted", "outlined");

.hds-badge-count {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  font-weight: var(--token-typography-font-weight-medium);
  font-family: var(--token-typography-font-stack-text);
  border-style: solid;
  border-width: 1px;
}

// SIZE

@each $size in $hds-badge-count-sizes {
  .hds-badge-count--size-#{$size} {
    min-height: var(--token-badge-height-#{$size});
    // we need to account for the `1px` border when calculating the actual padding
    padding: calc(var(--token-badge-padding-vertical-#{$size}) - 1px)
      // note: for the horizontal padding, we're using a specific design token for the `BadgeCount` component
      calc(var(--token-badge-count-padding-horizontal-#{$size}) - 1px);
    font-size: var(--token-badge-typography-font-size-#{$size});
    line-height: var(--token-badge-typography-line-height-#{$size});
    border-radius: calc(var(--token-badge-height-#{$size}) / 2);
  }
}

// COLOR + TYPE COMBINATIONS

@each $color in $hds-badge-count-colors {
  .hds-badge-count--color-#{$color} {
    @each $type in $hds-badge-count-types {
      &.hds-badge-count--type-#{$type} {
        color: var(--token-badge-foreground-color-#{$color}-#{$type});

        @if $type == "outlined" {
          background-color: transparent;
          border-color: var(--token-badge-foreground-color-#{$color}-#{$type});
        } @else {
          background-color: var(--token-badge-surface-color-#{$color}-#{$type});
          border-color: transparent;
        }
      }
    }
  }
}
