/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// BADGE COMPONENT
//

$hds-badge-sizes: ("small", "medium", "large");
$hds-badge-colors: ("neutral", "neutral-dark-mode", "highlight", "success", "warning", "critical");
$hds-badge-types: ("filled", "inverted", "outlined");

.hds-badge {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--token-badge-border-radius);
}

.hds-badge__icon {
  display: block;
  flex: 0 0 auto;
}

.hds-badge__text {
  flex: 1 0 0;
  font-weight: var(--token-typography-font-weight-medium);
  font-family: var(--token-typography-font-stack-text);
}

// SIZE

@each $size in $hds-badge-sizes {
  .hds-badge--size-#{$size} {
    gap: var(--token-badge-gap-#{$size});
    min-height: var(--token-badge-height-#{$size});
    // we need to account for the `1px` border when calculating the actual padding
    padding: calc(var(--token-badge-padding-vertical-#{$size}) - 1px)
      calc(var(--token-badge-padding-horizontal-#{$size}) - 1px);

    .hds-badge__icon {
      width: var(--token-badge-icon-size-#{$size});
      height: var(--token-badge-icon-size-#{$size});
    }

    .hds-badge__text {
      font-size: var(--token-badge-typography-font-size-#{$size});
      line-height: var(--token-badge-typography-line-height-#{$size});
    }
  }
}

// COLOR + TYPE COMBINATIONS

@each $color in $hds-badge-colors {
  .hds-badge--color-#{$color} {
    @each $type in $hds-badge-types {
      &.hds-badge--type-#{$type} {
        color: var(--token-badge-foreground-color-#{$color}-#{$type});

        @if $type == "outlined" {
          // only the `neutral` and `neutral-dark-mode` have explicit backgrounds
          @if ($color == "neutral" or $color == "neutral-dark-mode") {
            background-color: var(--token-badge-surface-color-#{$color}-#{$type});
          } @else {
            background-color: transparent;
          }
          border-color: var(--token-badge-foreground-color-#{$color}-#{$type});
        } @else {
          background-color: var(--token-badge-surface-color-#{$color}-#{$type});
          border-color: transparent;
        }
      }
    }
  }
}
