/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// BREADCRUMB COMPONENT
//
// notice: pseudo-classes for the states *must* follow the order link > visited > hover > focus > active
//

@use "../mixins/focus-ring" as *;
@use "../mixins/carbonization" as *;

$hds-breadcrumb-item-height: 28px;
$hds-breadcrumb-item-border-radius: var(--token-border-radius-small);
$hds-breadcrumb-item-visual-horizontal-padding: 4px;

// MAIN CONTAINER (NAV)
.hds-breadcrumb {
  position: relative;
}

// LIST (OL)

.hds-breadcrumb__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .hds-breadcrumb--items-can-wrap & {
    flex-wrap: wrap;
  }
}

.hds-breadcrumb__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

// ITEM (LI)

.hds-breadcrumb__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;

  .hds-breadcrumb__list > & {
    &:not(:last-child)::after {
      padding: 0 8px;
      color: var(--token-breadcrumb-divider-color);
      content: "/";
    }

    @include hds-apply-only-if-carbon() {
      &::after {
        padding: 0 8px;
        color: var(--token-breadcrumb-divider-color);
        content: "/";
      }
    }
  }

  .hds-breadcrumb__sublist > & + & {
    margin-top: 4px;
  }
}

.hds-breadcrumb__item--is-truncation {
  flex: none; // needed to avoid that the "flex" parent collapses the truncation element (it happens with very long strings and no-wrapping)
}

// LINK (A)

.hds-breadcrumb__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin: 0 (-$hds-breadcrumb-item-visual-horizontal-padding); // we use a negative horizontal margin to counter-balance the horizonal padding (used to shift the focus from the content)
  padding: 0 $hds-breadcrumb-item-visual-horizontal-padding;
  color: var(--token-breadcrumb-link-foreground-color-default);
  text-align: left;
  background: none;
  border: none;
  border-radius: $hds-breadcrumb-item-border-radius;
  cursor: pointer;
  // notice: the text decoration is applied directly to the "text" container because of a bug in Safari (see https://github.com/hashicorp/design-system-components/issues/159)
  text-decoration-color: transparent;

  &:hover,
  &.mock-hover {
    color: var(--token-breadcrumb-link-foreground-color-hover);

    > .hds-breadcrumb__text {
      text-decoration-color: currentColor;
    }
  }

  // we apply the focus directly to the element, without using a pseudo-element
  @include hds-focus-ring-basic();

  &:active,
  &.mock-active {
    color: var(--token-breadcrumb-link-foreground-color-active);

    > .hds-breadcrumb__text {
      text-decoration-color: currentColor;
    }
  }

  @include hds-apply-only-if-carbon() {
    &:focus,
    &.mock-focus {
      text-decoration: underline;
    }
  }
}

// CURRENT

.hds-breadcrumb__current {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin: 0 (-$hds-breadcrumb-item-visual-horizontal-padding); // we use a negative horizontal margin to counter-balance the horizonal padding (used to shift the focus from the content)
  padding: 0 $hds-breadcrumb-item-visual-horizontal-padding;
  color: var(--token-color-foreground-strong);
}

// SUB-ELEMENTS

.hds-breadcrumb__icon {
  flex: none;
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

.hds-breadcrumb__text {
  // we use the extra vertical padding to force the height of the parent item to be exactly $hds-breadcrumb-item-height
  padding: calc((#{$hds-breadcrumb-item-height} - 1rem) / 2) 0;
  overflow: hidden;
  font-size: var(--token-typography-body-100-font-size);
  font-family: var(--token-typography-font-stack-text);
  line-height: var(--token-breadcrumb-typography-line-height);
  letter-spacing: var(--token-breadcrumb-typography-letter-spacing);
  white-space: nowrap;
  text-decoration: underline;
  text-overflow: ellipsis;
  text-decoration-color: transparent;

  .hds-breadcrumb__sublist & {
    white-space: normal;
  }
}

// TRUNCATION

.hds-breadcrumb__truncation-toggle {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: $hds-breadcrumb-item-height;
  height: $hds-breadcrumb-item-height;
  margin: 0 (-$hds-breadcrumb-item-visual-horizontal-padding); // the horizontal negative margin applied here is for visual balance of the spacing between items
  padding: 0;
  color: var(--token-breadcrumb-truncation-toggle-foreground-color-default);
  background-color: var(--token-breadcrumb-truncation-toggle-surface-color-default);
  border: 1px solid transparent; // We need this to be transparent for a11y
  border-radius: $hds-breadcrumb-item-border-radius;
  outline: none; // TODO check with @melanie
  cursor: pointer;

  @include hds-apply-only-if-carbon() {
    align-items: end;
    padding-bottom: 3px;
    border: none;

    &::after {
      position: absolute;
      bottom: 8px;
      width: 14px;
      height: 1px;
      background-color: transparent;
      content: "";
    }

    &:hover::after,
    &.mock-hover::after {
      background-color: var(--token-breadcrumb-truncation-toggle-foreground-color-hover);
    }

    &:focus::after,
    &.mock-focus::after {
      background-color: var(--token-breadcrumb-truncation-toggle-foreground-color-default);
    }

    &:active::after,
    &.mock-active::after {
      background-color: var(--token-breadcrumb-truncation-toggle-foreground-color-active);
    }
  }

  &:hover,
  &.mock-hover {
    color: var(--token-breadcrumb-truncation-toggle-foreground-color-hover);
    background-color: var(--token-breadcrumb-truncation-toggle-surface-color-hover);
    border-color: var(--token-color-border-strong);
  }

  // we apply the focus directly to the element, without using a pseudo-element
  @include hds-focus-ring-basic();

  &:focus,
  &.mock-focus {
    background-color: transparent;
    border: none; // important: we need to completely remove the border, of the inner box-shadow of the focus ring will be drawn inside the border
  }

  &:active,
  &.mock-active {
    color: var(--token-breadcrumb-truncation-toggle-foreground-color-active);
    background-color: var(--token-breadcrumb-truncation-toggle-surface-color-active);
    border-color: var(--token-color-border-strong);
  }
}

.hds-breadcrumb__truncation-content {
  position: relative;
  width: max-content;
  max-width: 200px; // by design
  padding: 6px 12px;
  background-color: var(--token-color-surface-primary);
  border-radius: var(--token-border-radius-medium);
  box-shadow: var(--token-breadcrumb-truncation-content-box-shadow);

  @include hds-apply-only-if-carbon() {
    padding: 0;

    .hds-breadcrumb__sublist > .hds-breadcrumb__item + .hds-breadcrumb__item {
      margin-top: 0;
    }
  }

  // the "popover" attributes comes with pre-defined styling so we need to override it
  :where(&[popover]) {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: inherit;
    background: none;
    border: none;
    inset: 0;
  }

  .hds-breadcrumb__link {
    width: 100%;
    color: var(--token-breadcrumb-truncation-content-foreground-color-default);

    &:hover,
    &.mock-hover {
      color: var(--token-breadcrumb-truncation-content-foreground-color-hover);
    }

    @include hds-apply-only-if-carbon() {
      margin: 0;
      padding: 11px 16px;
      text-decoration: none;
      background-color: var(--token-color-surface-interactive);

      &:hover,
      &.mock-hover {
        background-color: var(--token-color-surface-interactive-hover);
      }

      .hds-breadcrumb__text {
        padding: 0;
        text-decoration: none;
      }
    }
  }
}
