/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// DISMISS-BUTTON
//

@use "../mixins/focus-ring" as *;

.hds-dismiss-button {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: var(--hds-dismiss-button-size);
  height: var(--hds-dismiss-button-size);
  padding: 0;
  color: var(--hds-dismiss-button-foreground-color-default);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--hds-border-radius-medium);
  cursor: pointer;

  .hds-icon {
    width: var(--hds-dismiss-button-icon-size);
    height: var(--hds-dismiss-button-icon-size);
  }

  &:hover,
  &.mock-hover {
    background-color: var(--hds-dismiss-button-surface-color-hover);
  }

  &:focus-visible,
  &.mock-focus {
    @include hds-focus-ring-advanced();
  }

  &:active,
  &.mock-active {
    color: var(--hds-dismiss-button-foreground-color-active);
    background-color: var(--hds-dismiss-button-surface-color-active);
    border-color: var(--hds-dismiss-button-border-color-active);
  }
}
