/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// DISMISS-BUTTON
//

@use "../mixins/focus-ring" as *;

.hds-dismiss-button {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: var(--token-dismiss-button-size);
  height: var(--token-dismiss-button-size);
  padding: 0;
  color: var(--token-dismiss-button-foreground-color-default);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--token-border-radius-medium);
  cursor: pointer;

  .hds-icon {
    width: var(--token-dismiss-button-icon-size);
    height: var(--token-dismiss-button-icon-size);
  }

  &:hover,
  &.mock-hover {
    background-color: var(--token-dismiss-button-surface-color-hover);
  }

  // we use `-1px` here so the dark blue line seems the border of the button
  @include hds-focus-ring-with-pseudo-element($top: -1px, $right: -1px, $bottom: -1px, $left: -1px);

  &:active,
  &.mock-active {
    color: var(--token-dismiss-button-foreground-color-active);
    background-color: var(--token-dismiss-button-surface-color-active);
    border-color: var(--token-color-border-strong);
  }
}
