/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// PAGINATION
//

@use "../mixins/focus-ring" as *;
@use "../mixins/breakpoints" as *;
@use "../mixins/carbonization" as *;

// Note: the equivalent token was removed in Figma so we are now using a Sass variable for this value
$pagination-nav-control-padding-horizontal: 12px;

// * Pagination Parent (wrapper) component
// -------------------------------------------------------------------

.hds-pagination {
  display: grid;
  grid-template-areas: "info nav selector";
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 0 auto;

  // Responsive layout styles
  @include hds-breakpoint-below("lg") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // Apply group layout styles to child components only when used inside pagination wrapper:
  .hds-pagination-info {
    grid-area: info;
    justify-self: flex-start;
    margin-right: var(--token-pagination-child-spacing-horizontal);

    // Responsive layout styles
    @include hds-breakpoint-below("lg") {
      margin-top: var(--token-pagination-child-spacing-vertical);
      margin-left: var(--token-pagination-child-spacing-horizontal);
    }
  }

  .hds-pagination-nav {
    grid-area: nav;

    // Responsive layout styles
    @include hds-breakpoint-below("lg") {
      justify-content: center;
      order: -1;
      // Force nav to occupy a full row so other components will wrap:
      width: 100%;
    }
  }

  .hds-pagination-size-selector {
    grid-area: selector;
    justify-self: flex-end;
    margin-left: var(--token-pagination-child-spacing-horizontal);

    // Responsive layout styles
    @include hds-breakpoint-below("lg") {
      margin-top: var(--token-pagination-child-spacing-vertical);
      margin-right: var(--token-pagination-child-spacing-horizontal);
    }

    @include hds-apply-only-if-carbon() {
      height: 100%;
      // Override responsive layout styles for Carbon themes
      margin-top: 0;
      margin-right: 0;
    }
  }
}

// Pagination component variants

// Pagination Compact (equivalent to Carbon Pagination)
.hds-pagination--compact {
  background-color: var(--token-pagination-bar-surface-color-default);

  @include hds-apply-only-if-carbon() {
    border-top: 1px solid var(--token-pagination-bar-border-color);

    // Override responsive layout styles for Carbon themes for Compact pagination
    @include hds-breakpoint-below("lg") {
      display: grid;
      flex-wrap: nowrap;
      justify-content: initial;
    }

    .hds-pagination-nav {
      // Override responsive layout styles for Carbon themes
      order: 0;
      width: auto;
    }

    .hds-pagination-nav__control {
      border-left: 1px solid var(--token-pagination-bar-border-color);
    }

    .hds-pagination-nav__arrow--direction-next {
      border-right: 1px solid var(--token-pagination-bar-border-color);
    }

    .hds-pagination-size-selector {
      padding-left: 16px;
      border-left: 1px solid var(--token-pagination-bar-border-color);
    }
  }
}

// * Sub-component: Info
// ---------------------------------------
.hds-pagination-info {
  white-space: nowrap;
}

// * Sub-components: Arrow/Number/Ellipsis (aka "navigation controls")
// -------------------------------------------------------------------

.hds-pagination-nav {
  display: flex;
}

.hds-pagination-nav__page-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.hds-pagination-nav__page-item {
  list-style-type: none;
}

// "controls" are "prev/next" (`arrow`) and "page" numbers (`number`)
.hds-pagination-nav__control {
  display: flex;
  align-items: center;
  height: var(--token-pagination-nav-control-height);
  // border width is subtracted from padding:
  padding: 0 calc(#{$pagination-nav-control-padding-horizontal} - 1px);
  color: var(--token-color-foreground-primary);
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;

  // NOTE: The "focus-ring" currently included a 1px white solid box-shadow (--token-focus-ring-action-box-shadow).
  // The white color could possibly be replaced with a transparent color for carbon themes.
  @include hds-focus-ring-with-pseudo-element(
    $top: var(--token-pagination-nav-control-focus-inset),
    $right: var(--token-pagination-nav-control-focus-inset),
    $bottom: var(--token-pagination-nav-control-focus-inset),
    $left: var(--token-pagination-nav-control-focus-inset)
  );

  @include hds-apply-only-if-carbon() {
    // Adjust positioning of focus ring for Carbon themes
    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &:hover,
  &.mock-hover {
    color: var(--token-pagination-nav-control-foreground-color-action-hover);
  }

  &:not(.hds-pagination-nav__number--is-selected) {
    &:hover,
    &.mock-hover {
      background-color: var(--token-pagination-nav-surface-color-action-hover);
    }
  }

  &:active,
  &.mock-active {
    color: var(--token-pagination-nav-control-foreground-color-action-active);
    background-color: var(--token-pagination-nav-surface-color-action-hover);
  }
}

.hds-pagination-nav__arrow {
  gap: var(--token-pagination-nav-control-icon-spacing);
  // only the "Previous" & "Next" (`Arrow`) controls can be disabled
  // notice: when `@disabled={{true}}` is applied, the code always renders a `<button>` element
  // so no need to add the [disabled] selector here (elsewhere it's done to cover the `a[disabled]` case)
  &:disabled,
  &.mock-disabled {
    color: var(--token-color-foreground-disabled);
    cursor: not-allowed;
  }
}

.hds-pagination-nav__arrow--direction-prev {
  flex-direction: row;
  justify-content: flex-start;
}

.hds-pagination-nav__arrow--direction-next {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.hds-pagination-nav__number--is-selected {
  position: relative;
  color: var(--token-pagination-nav-control-foreground-color-action-default);
  font-weight: var(--token-pagination-nav-control-typography-font-weight-active);

  &:hover {
    color: var(--token-pagination-nav-control-foreground-color-action-hover);
  }

  &:active {
    color: var(--token-color-foreground-action-active);
  }

  // indicator underline
  // notice: in all these calculations we have to take in account that there's a 1px transparent border
  // notice: we use the `::before` for the focus
  &::after {
    position: absolute;
    right: calc(var(--token-pagination-nav-indicator-spacing) - 1px);
    bottom: -1px;
    left: calc(var(--token-pagination-nav-indicator-spacing) - 1px);
    height: var(--token-pagination-nav-indicator-height);
    margin: 0 auto;
    color: var(--token-color-foreground-action);
    background-color: currentColor;
    border-radius: var(--token-border-radius-x-small);
    content: "";
  }
}

.hds-pagination-nav__ellipsis {
  display: flex;
  align-items: center;
  height: var(--token-pagination-nav-control-height);
  padding: 0 $pagination-nav-control-padding-horizontal;
  color: var(--token-color-foreground-faint);
}

// * Sub-component: SizeSelector
// -------------------------------------------------------------------
.hds-pagination-size-selector {
  display: flex;
  align-items: center;

  > label {
    white-space: nowrap;

    @include hds-apply-only-if-carbon() {
      &::after {
        content: ":";
      }
    }
  }

  // notice: this is an `Form::Select::Base` component, slightly customized
  > select {
    height: 28px;
    margin-left: 12px;
    padding: 0 24px 0 8px;
    // font styles for this select differ from standard `Form::Select::Base` styles
    font-size: var(--token-typography-body-100-font-size);
    font-family: var(--token-typography-body-100-font-family);
    line-height: var(--token-typography-body-100-line-height);
    // TODO: Test simplifying value in select.scss
    // from: background-position: right var(--token-form-select-background-image-position-right-x) top
    // var(--token-form-select-background-image-position-top-y);
    // to: background-position: center right var(--token-form-select-background-image-position-right-x);
    // (Check in various browsers)
    background-position: center right 5px;

    @include hds-apply-only-if-carbon() {
      margin-left: 0;
      border: 0;
    }
  }
}
