/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// RICH-TOOLTIP
//

@use "../mixins/focus-ring" as *;
@use "../mixins/carbonization" as *;

.hds-rich-tooltip {
  display: contents;
}

// TOGGLE

// The special declarations below are used to allow the button to inherit styles from the parent element
// without preventing the consumers from applying these styles via HDS or custom classes if they want
//
// Since the `:where()` selector has a specificity of `0` (see https://developer.mozilla.org/en-US/docs/Web/CSS/:where)
// the styles declared below are applied to the `<button>` element, but are overwritten by any other style applied via classname

:where(.hds-rich-tooltip__toggle) {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.hds-rich-tooltip__toggle {
  // we don't want to apply styles to the yielded content
  // so we use these variables that allow us to target only
  // the (decorated) text and the icon
  --text-color: var(--token-rich-tooltip-toggle-foreground-color-default);
  --icon-color: var(--token-rich-tooltip-toggle-foreground-color-default);

  &:hover,
  &.mock-hover {
    --text-color: var(--token-rich-tooltip-toggle-foreground-color-hover);
    --icon-color: var(--token-rich-tooltip-toggle-foreground-color-hover);
  }

  &:active,
  &.mock-active {
    --text-color: var(--token-rich-tooltip-toggle-foreground-color-active);
    --icon-color: var(--token-rich-tooltip-toggle-foreground-color-active);
  }

  @include hds-focus-ring-with-pseudo-element($top: -2px, $right: -2px, $bottom: -2px, $left: -2px);
}

// decorated text

.hds-rich-tooltip__toggle-text {
  color: var(--text-color);
  // decoration style is specified separately to fix a bug in Safari causing it not to render
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;

  @include hds-apply-only-if-carbon() {
    text-decoration: none;
  }
}

// icon

.hds-rich-tooltip__toggle-icon {
  flex: none;
  width: var(--token-rich-tooltip-toggle-icon-size);
  height: var(--token-rich-tooltip-toggle-icon-size);
  color: var(--icon-color);

  &:first-child:not(:only-child) {
    margin-right: var(--token-rich-tooltip-gap-horizontal);
  }

  &:last-child:not(:only-child) {
    margin-left: var(--token-rich-tooltip-gap-horizontal);
  }
}

// DISPLAY

:where(.hds-rich-tooltip__toggle--is-inline) {
  // it's a button, can't be `inline`
  display: inline-flex;
  align-items: center;
  // this is needed to make sure the inline text is aligned with the other text before/after
  vertical-align: bottom;

  // when it's inline and it contains only an icon we need to align it at the middle of the text otherwise it "falls" down
  &:has(.hds-rich-tooltip__toggle-icon:only-child) {
    vertical-align: middle;
  }
}

:where(.hds-rich-tooltip__toggle--is-block) {
  display: flex;
  align-items: center;
}

// SIZES

.hds-rich-tooltip__toggle--size-small {
  font-weight: var(--token-typography-font-weight-regular);
  font-size: var(--token-typography-body-100-font-size);
  font-family: var(--token-typography-body-100-font-family);
  line-height: var(--token-typography-body-100-line-height);
}

.hds-rich-tooltip__toggle--size-medium {
  font-weight: var(--token-typography-font-weight-regular);
  font-size: var(--token-typography-body-200-font-size);
  font-family: var(--token-typography-body-200-font-family);
  line-height: var(--token-typography-body-200-line-height);
}

.hds-rich-tooltip__toggle--size-large {
  font-weight: var(--token-typography-font-weight-regular);
  font-size: var(--token-typography-body-300-font-size);
  font-family: var(--token-typography-body-300-font-family);
  line-height: var(--token-typography-body-300-line-height);
}

// BUBBLE

.hds-rich-tooltip__bubble {
  position: relative;
  width: fit-content;
  max-width: var(--token-rich-tooltip-bubble-max-width);
  height: fit-content;
  max-height: none;
  padding: 16px;
  background-color: var(--token-color-surface-primary);
  border-radius: var(--token-rich-tooltip-bubble-border-radius);
  box-shadow: var(--token-rich-tooltip-bubble-box-shadow);

  // fade-in animation (we can't do fade-out because `isOpen` removes the content of the bubble immediately from the DOM)
  // see: https://developer.mozilla.org/en-US/docs/Web/API/Popover_API/Using#animating_popovers
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;

  @include hds-apply-only-if-carbon() {
    transition: none;
  }

  // the "popover" attributes comes with pre-defined styling so we need to override it
  :where(&[popover]) {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: inherit;
    background: none;
    border: none;
    inset: 0;
  }
}

// arrow

.hds-rich-tooltip__bubble-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  width: var(--token-rich-tooltip-bubble-arrow-width);
  height: var(--token-rich-tooltip-bubble-arrow-height);
  // we use the "border-color" color token to create the "border" of the arrow
  background-color: var(--token-rich-tooltip-bubble-border-color);
  clip-path: var(--token-rich-tooltip-bubble-arrow-clip-path);
  pointer-events: none;

  // we use a pseudo-element to create the fill of the arrow, this allows us to create the "border" of the arrow using the main element
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--token-color-surface-primary);
    transform: translate(-50%, -40%) scale(0.8);
    content: "";
    clip-path: var(--token-rich-tooltip-bubble-arrow-clip-path);
  }

  // &[data-hds-anchored-arrow-placement^="top"]::before,
  // &[data-hds-anchored-arrow-placement^="bottom"]::before {
  //   transform: translate(-50%, -40%) scale(0.8);
  // }

  // &[data-hds-anchored-arrow-placement^="right"],
  // &[data-hds-anchored-arrow-placement^="left"] {
  //   transform-origin: calc(var(--token-rich-tooltip-bubble-arrow-width) / 2) calc(var(--token-rich-tooltip-bubble-arrow-width) / 2);
  // }

  &[data-hds-anchored-arrow-placement^="top"] {
    bottom: calc(-1 * var(--token-rich-tooltip-bubble-arrow-height));
    transform: rotate(180deg);
  }

  &[data-hds-anchored-arrow-placement^="right"] {
    left: calc(-0.75 * var(--token-rich-tooltip-bubble-arrow-width));
    transform: rotate(-90deg);
  }

  &[data-hds-anchored-arrow-placement^="bottom"] {
    top: calc(-1 * var(--token-rich-tooltip-bubble-arrow-height));
    transform: rotate(0deg); // this fixes a rendering issue in Safari
  }

  &[data-hds-anchored-arrow-placement^="left"] {
    right: calc(-0.75 * var(--token-rich-tooltip-bubble-arrow-width));
    transform: rotate(90deg);
  }
}

// inner content

.hds-rich-tooltip__bubble-inner-content {
  // we need to reset the content to avoid it inheriting the styles from the parents of the component or the component's wrapping element
  all: initial;
  // IMPORTANT: we don't want the element to have a `layout`, to create a "box", to avoid issues with Safari
  // see: https://hashicorp.slack.com/archives/C025N5V4PFZ/p1715247858351399
  display: contents;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

// ANIMATION

// these start/end comments are needed to avoid that clean-css mangles the generated code (it happens in "production" build/code)
// (probably it doesn't understand the @starting-style directive or thinks the `.\:popover-open` is not valid)

/* clean-css ignore:start */

.hds-rich-tooltip__bubble {
  &[popover]:popover-open {
    opacity: 1;
  }

  @starting-style {
    &[popover]:popover-open {
      opacity: 0;
    }
  }

  @starting-style {
    &[popover].\:popover-open {
      opacity: 0;
    }
  }
}

/* clean-css ignore:end */
