/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// TABS
//

$hds-tabs-sizes: ("medium", "large");

@use "sass:map";
@use "../mixins/focus-ring" as *;
@use "../mixins/carbonization" as *;

// Sub-components:
.hds-tabs__tablist-wrapper {
  position: relative;

  // bottom gray border:
  &::before {
    position: absolute;
    right: 0;
    bottom: calc((var(--token-tabs-indicator-height) - var(--token-tabs-divider-height)) / 2);
    left: 0;
    display: block;
    border-top: var(--token-tabs-divider-height) solid var(--token-color-border-primary);
    content: "";

    @include hds-apply-only-if-carbon() {
      display: none;
    }
  }
}

.hds-tabs__tablist {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  isolation: isolate;
  -webkit-overflow-scrolling: touch;

  @include hds-apply-only-if-carbon() {
    gap: 1px;
  }
}

.hds-tabs__tab {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--token-tabs-tab-foreground-color-default);
  white-space: nowrap;
  text-decoration: none;
  list-style: none;

  @include hds-apply-only-if-carbon() {
    border-bottom: var(--token-tabs-indicator-height) solid var(--token-tabs-tab-border-color-default);
    transition:
      border 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  &:hover,
  &.mock-hover {
    color: var(--token-tabs-tab-foreground-color-hover);
    border-color: var(--token-tabs-tab-border-color-hover);
  }

  &.hds-tabs__tab--is-selected {
    color: var(--token-tabs-tab-selected-foreground-color-default);

    @include hds-apply-only-if-carbon() {
      border-color: var(--token-tabs-tab-selected-border-color-default);
    }

    &:hover {
      color: var(--token-tabs-tab-selected-foreground-color-hover);
    }

    .hds-tabs__tab-button {
      @include hds-apply-only-if-carbon() {
        font-weight: var(--token-typography-font-weight-semibold);
      }
    }
  }
}

.hds-tabs__tab-button {
  @include hds-focus-ring-with-pseudo-element(
    $top: var(--token-tabs-tab-focus-inset),
    $right: var(--token-tabs-tab-focus-inset),
    $bottom: var(--token-tabs-tab-focus-inset),
    $left: var(--token-tabs-tab-focus-inset)
  );

  @include hds-apply-only-if-carbon() {
    &::before {
      inset: 3px 3px 1px 3px;
    }
  }

  position: static;
  display: flex;
  gap: var(--token-tabs-tab-gutter);
  align-items: center;
  padding: 0;
  color: inherit;
  font-weight: var(--token-typography-font-weight-medium);
  font-family: var(--token-typography-body-200-font-family);
  background-color: transparent;
  border: none;
  border-radius: var(--token-tabs-tab-border-radius);
  cursor: pointer;

  // Expand click target area
  &::after {
    position: absolute;
    content: "";
    inset: 0;
  }
}

// the underline under the current selected Tab
.hds-tabs__tab-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  // notice: this custom prop is set dynamically via JavaScript
  left: var(--indicator-left-pos, 0);
  z-index: 1;
  display: block;
  // notice: this custom prop is set dynamically via JavaScript
  width: var(--indicator-width, 0);
  height: var(--token-tabs-indicator-height);
  background-color: var(--token-tabs-tab-selected-foreground-color-default);
  border-radius: var(--token-tabs-indicator-height);

  // Note: HDS default theme uses an li element for the indicator to make animating its position possible
  // Carbon themes instead change the color of a border on the Tab to indicate it's selected
  @include hds-apply-only-if-carbon() {
    display: none;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition-timing-function: var(--token-tabs-indicator-transition-function);
    transition-duration: var(--token-tabs-indicator-transition-duration);
    transition-property: left, width;
  }
}

// Prevent consumers from accidentally overriding default styling of HTML “hidden” attribute
.hds-tabs__panel[hidden] {
  display: none;
}

// Variants:

// Size
// medium = default

$hds-tabs-size-props: (
  "medium": (
    "tab-height": var(--token-tabs-tab-height-medium),
    "tab-padding-horizontal": var(--token-tabs-tab-padding-horizontal-medium),
    "tab-font-size": var(--token-typography-body-200-font-size),
  ),
  "large": (
    "tab-height": var(--token-tabs-tab-height-large),
    "tab-padding-horizontal": var(--token-tabs-tab-padding-horizontal-large),
    "tab-font-size": var(--token-typography-body-300-font-size),
  ),
);

@each $size in $hds-tabs-sizes {
  .hds-tabs--size-#{$size} {
    .hds-tabs__tab {
      height: map.get($hds-tabs-size-props, $size, "tab-height");
      padding: var(--token-tabs-tab-padding-vertical) map.get($hds-tabs-size-props, $size, "tab-padding-horizontal");
    }

    .hds-tabs__tab-button {
      font-size: map.get($hds-tabs-size-props, $size, "tab-font-size");
    }
  }
}
