/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

//
// TOOLTIP & TOOLTIP-BUTTON
//

@use "../mixins/focus-ring" as *;
@use "../mixins/carbonization" as *;

.hds-tooltip-button {
  @include hds-focus-ring-with-pseudo-element(
    $top: var(--token-tooltip-focus-offset),
    $right: var(--token-tooltip-focus-offset),
    $bottom: var(--token-tooltip-focus-offset),
    $left: var(--token-tooltip-focus-offset)
  );
}

// The special declarations below are used to allow the button to inherit styles from the parent element
// without preventing the consumers from applying these styles via HDS or custom classes if they want
//
// Since the `:where()` selector has a specificity of `0` (see https://developer.mozilla.org/en-US/docs/Web/CSS/:where)
// the styles declared below are applied to the `<button>` element, but are overwritten by any other style applied via classname
//
// If you want to see the effect of this selector, try to comment it and look at the "Inheritance" demo in the showcase:
// https://hds-showcase.vercel.app/components/tooltip

:where(.hds-tooltip-button) {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background-color: inherit;
  border: none;
}

:where(.hds-tooltip-button--is-inline) {
  display: inline-flex;
}

:where(.hds-tooltip-button--is-block) {
  display: flex;
}

// Tippy.js styling
// https://atomiks.github.io/tippyjs/

.tippy-box[data-theme~="hds"] {
  padding: var(--token-tooltip-padding-vertical) var(--token-tooltip-padding-horizontal);
  color: var(--token-tooltip-foreground-color);
  font-weight: var(--token-tooltip-typography-font-weight);
  font-size: var(--token-tooltip-typography-font-size);
  font-family: var(--token-tooltip-typography-font-family);
  line-height: var(--token-tooltip-typography-line-height);
  letter-spacing: var(--token-tooltip-typography-letter-spacing);
  overflow-wrap: break-word;
  background-color: var(--token-tooltip-surface-color);
  border-radius: var(--token-tooltip-border-radius);
  box-shadow: var(--token-tooltip-box-shadow);
  transition-property: transform, visibility, opacity;

  @include hds-apply-only-if-carbon() {
    transition: none;
  }

  &[data-animation="fade"][data-state="hidden"] {
    opacity: 0;
  }

  &[data-inertia][data-state="visible"] {
    transition-timing-function: var(--token-tooltip-transition-function);
  }

  .tippy-content {
    position: relative;
    z-index: 1;
    // This needs to go here because Tippy generates a javascript
    // max-width on .tippy-box.
    max-width: calc(var(--token-tooltip-max-width) - 2 * var(--token-tooltip-padding-horizontal));
    // prevent this container from potentially inheriting other values
    // such as `white-space: nowrap` that would cause content overflow
    white-space: normal;
    // we want to have the text always aligned to the left (by design
    text-align: left;
  }

  // works with Tippy's custom SVG arrow variation:
  .tippy-svg-arrow {
    position: relative;
    width: var(--token-tooltip-caret-width);
    height: var(--token-tooltip-caret-height);
    text-align: initial;

    &::before {
      position: absolute;
      width: var(--token-tooltip-caret-width);
      height: var(--token-tooltip-caret-height);
      background-image: var(--token-tooltip-caret-data-url);
      background-repeat: no-repeat;
      content: "";

      @include hds-apply-only-if-carbon() {
        background-color: var(--token-tooltip-surface-color);
        background-image: none;
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
      }
    }

    svg {
      display: none;
    }
  }

  // Arrow positioning styles taken from tippy.js (tippy.js/dist/svg-arrow.css)
  &[data-placement^="left"] > .tippy-svg-arrow,
  &[data-placement^="right"] > .tippy-svg-arrow {
    width: var(--token-tooltip-caret-height);
    height: var(--token-tooltip-caret-width);
  }

  &[data-placement^="left"] > .tippy-svg-arrow::before,
  &[data-placement^="right"] > .tippy-svg-arrow::before {
    transform-origin: calc(var(--token-tooltip-caret-width) / 2) calc(var(--token-tooltip-caret-width) / 2);
  }

  &[data-placement="left-start"] > .tippy-svg-arrow::before,
  &[data-placement="right-start"] > .tippy-svg-arrow::before {
    top: calc(var(--token-tooltip-caret-height) / 2);
  }

  &[data-placement="left-end"] > .tippy-svg-arrow::before,
  &[data-placement="right-end"] > .tippy-svg-arrow::before {
    top: calc(-1 * var(--token-tooltip-caret-height) / 2);
  }

  &[data-placement^="top"] > .tippy-svg-arrow::before,
  &[data-placement^="bottom"] > .tippy-svg-arrow::before {
    transform-origin: unset;
  }

  &[data-placement^="top"] > .tippy-svg-arrow {
    bottom: 0;
  }

  &[data-placement^="top"] > .tippy-svg-arrow::before {
    bottom: calc(-1 * var(--token-tooltip-caret-height));
    transform: rotate(180deg);
  }

  &[data-placement^="bottom"] > .tippy-svg-arrow {
    top: 0;
  }

  &[data-placement^="bottom"] > .tippy-svg-arrow::before {
    top: calc(-1 * var(--token-tooltip-caret-height));
  }

  &[data-placement^="left"] > .tippy-svg-arrow {
    right: 0;
  }

  &[data-placement^="left"] > .tippy-svg-arrow::before {
    right: calc(-1 * var(--token-tooltip-caret-height));
    transform: rotate(90deg);
  }

  &[data-placement^="right"] > .tippy-svg-arrow {
    left: 0;
  }

  &[data-placement^="right"] > .tippy-svg-arrow::before {
    left: calc(-1 * var(--token-tooltip-caret-height));
    transform: rotate(-90deg);
  }
}
