.flight-icon.flight-icon-display-inline {
  display: inline-block;
}
.flight-icon {
  display: block;
}
.flight-sprite-container {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}