<p id="clipboardTarget3" class="doc-copy-button-copy-text">
  The button will copy the text in this paragraph element.
</p>
<Hds::Copy::Button @text="Copy" @size="small" @targetToCopy="#clipboardTarget3" />