<Hds::Composite @defaultCurrentId="second-item" as |C|>
  <div role="menu" {{C.composite}}>
    <button id="first-item" type="button" role="menuitem" {{C.item}}>
      First Item
    </button>
    <button id="second-item" type="button" role="menuitem" {{C.item}}>
      Second Item (Initially Active)
    </button>
    <button id="third-item" type="button" role="menuitem" {{C.item}}>
      Third Item
    </button>
  </div>
</Hds::Composite>
