<Hds::Composite @orientation="vertical" as |C|>
  <ul role="listbox" {{C.composite}}>
    <li role="option" tabindex="-1" {{C.item}}>
      Vertical Option A
    </li>
    <li role="option" tabindex="-1" {{C.item}}>
      Vertical Option B
    </li>
    <li role="option" tabindex="-1" {{C.item}}>
      Vertical Option C
    </li>
  </ul>
</Hds::Composite>