<Hds::Composite as |C|>
  <div role="menu" {{C.composite}}>
    <button type="button" role="menuitem" {{C.item}}>
      First Item
    </button>
    <button type="button" role="menuitem" {{C.item}}>
      Second Item
    </button>
    <button type="button" role="menuitem" {{C.item}}>
      Third Item
    </button>
  </div>
</Hds::Composite>