.dummy-footer {
  .dummy-row {
    &.dummy-row--first {
      .dummy-title-small,
      .dummy-paragraph,
      .dummy-list {
        padding: 0 2rem;
      }
      .dummy-title-small {
        padding-top: 2rem;
      }
      .dummy-list {
        list-style-position: inside;
        padding-bottom: 2rem;
      }
    }
    &.dummy-row--last {
      background-color: black;
      color: white;
      width: 100%;
      .dummy-paragraph {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .dummy-link {
          border: 1px solid transparent;
          align-content: center;
          color: white;
          display: flex;
          gap: 6px;
          margin: 0;
          padding: 1rem;
          text-decoration: none;
          width: fit-content;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
