.dummy-aside {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .dummy-aside {
    height: 100vh;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    width: 12em;
  }
}

.dummy-aside__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dummy-aside__ul li {
  // "back" is the first item, we want to separate it visually from the rest of the links
  // to give it some breathing room, but still have it be part of the ul element from a AT perspective.
  &:first-of-type {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
}
.dummy-aside__ul li a {
  align-items: center;
  border-radius: 5px;
  border: 2px solid transparent;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  gap: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:focus {
    border-color: blue;
    text-decoration: underline;
  }
  &:focus-visible {
    outline-offset: 4px;
    outline-color: blue;
  }
  &:active {
    background-color: aliceblue;
    border-color: blue;
    text-decoration: underline;
  }

  .flight-icon {
    color: blue;
  }
}