// DUMMY COMPONENT PROPS

.dummy-component-props {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 0.9rem;
  line-height: 1.2;
  max-width: 64rem;

  dt {
    color: #1f69ff;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.25rem 0 0.5rem 0;

    code {
      color: #666666;
      font-weight: 500;
    }
  }

  dd {
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0 0 0 1rem;

    p {
      margin: 0;

      + p {
        margin-top: 0.125rem;
      }
    }

    ol {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        flex: 0 0 auto;
        padding: 0.125rem 0.25rem;
        border-radius: 4px;
        background-color: #e4e4e4;
      }
    }
  }

  // "Tags"
  .default,
  .required {
    border-radius: 4px;
    font-weight: 700;
    display: inline-block;
    padding: 0.125rem 0.25rem;
  }

  .default {
    color: #0c56e9;
    background-color: #cce3fe;
  }

  .required {
    background-color: pink;
    background-color: var(--token-color-surface-critical);
    border: 1px solid var(--token-color-border-critical);
    color: var(--token-color-foreground-critical-on-surface);
    font-size: 0.9rem; // Note: Duplicated from parent: .dummy-component-props
  }

  // nested props blocks

  .dummy-component-props {
    dt:first-child {
      margin-top: 0;
    }
  }
}
