.dummy-aside__back {
  @include dummyFontFamily();
  @include dummyFontSize(0.9rem);
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 0.5rem 1rem;
  color: black;
  border: 2px solid transparent;
  border-radius: 5px;

  &:hover {
    background-color: aliceblue;
    border-color: blue;
    border-style: dashed;
  }

  &:focus {
    text-decoration: underline;
    border-color: blue;
  }

  &:focus-visible {
    outline-color: blue;
    outline-offset: 4px;
  }

  &:active {
    text-decoration: underline;
    background-color: aliceblue;
    border-color: blue;
  }

  .flight-icon {
    color: blue;
  }
}
