//  ██     ██  █████  ██████  ███    ██ ██ ███    ██  ██████
//  ██     ██ ██   ██ ██   ██ ████   ██ ██ ████   ██ ██
//  ██  █  ██ ███████ ██████  ██ ██  ██ ██ ██ ██  ██ ██   ███
//  ██ ███ ██ ██   ██ ██   ██ ██  ██ ██ ██ ██  ██ ██ ██    ██
//   ███ ███  ██   ██ ██   ██ ██   ████ ██ ██   ████  ██████
//
// Notice: in this component we're using directly the styles from the `Hds::Button` component
// using the `hds-button` class names (and adding a specialized class for the "cta", see below)
// If you need to change the styling of the `Button` component, remember that this will impact also
// this component too.
// If instead you need to change only the styling of the `CTA` component, you can do it here using
// the specialized class declared below.
// This is NOT a standard approach that we use in the HDS design system implementation, but it's been
// the least worst option we could find to solve the problem of sharing the exact same style of the
// `Button (primary)` with other components.

//
// LINK > CTA COMPONENT
//
// properties within each class are sorted alphabetically
//
//

.hds-link-cta--inherit-button-styles {
  isolation: isolate;
  text-decoration: none;
  width: fit-content;
}
