//
// LINK > CTA COMPONENT
//
// properties within each class are sorted alphabetically
//
//

.hds-link-cta--inherit-button-styles {
    isolation: isolate;
    text-decoration: none;
    width: fit-content;
}
