/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// THEMING

.hds-code-editor--theme-dark {
  // COLORS

  // Base UI colors:
  --hds-code-editor-color-border-strong: rgba(178, 182, 189, 40%);
  --hds-code-editor-color-border-primary: rgba(178, 182, 189, 20%);
  --hds-code-editor-color-foreground-primary: #d5d7db;
  --hds-code-editor-color-foreground-faint: #878a8f;
  --hds-code-editor-color-foreground-high-contrast: #fff;
  --hds-code-editor-color-surface-faint: #15181e;
  --hds-code-editor-color-surface-primary: #0d0e12;
  --hds-code-editor-color-surface-interactive-active: #2b303c;
  // TODO: Remove focus tokens once global tokens for dark themes are implemented
  --hds-code-editor-color-focus-action-internal: #9bc7fd;
  --hds-code-editor-color-focus-action-external: #0d69f2;
}
