/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FORM > LABEL

@use "../../typography/mixins" as *;


.doc-form-label {
  @include doc-font-style-label();
  display: block;
  width: min-content;
  margin-bottom: 8px;
  color: var(--doc-color-gray-200);
  white-space: nowrap;
}
