// FORM > SEARCH

@use "../../typography/mixins" as *;


.doc-form-search__control {
  @include doc-font-style-body();
  width: 100%;
  height: 44px;
  padding-left: 48px;
  color: var(--doc-color-gray-200);
  background-color: var(--doc-color-white);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='%23727374'%3e%3cpath d='M7.25 2a5.25 5.25 0 103.144 9.455l2.326 2.325a.75.75 0 101.06-1.06l-2.325-2.326A5.25 5.25 0 007.25 2zM3.5 7.25a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0z' fill-rule='evenodd' clip-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e"); // notice: the icon color is hardcoded here!
  background-repeat: no-repeat;
  background-position: left 16px top 11px; // we have to take into account the border
  background-size: 20px 20px;
  border: 1px solid var(--doc-color-gray-300);
  border-radius: 3px;

  ::placeholder {
    color: var(--doc-color-gray-300);
  }

  // hide "search" icon in iOS
  &::-webkit-search-decoration {
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;
  }

  &::-webkit-search-cancel-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: var(--token-form-text-input-background-image-data-url-search-cancel);
    background-position: center center;
    background-size: 20px 20px;
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;
  }
}
