/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LAYOUTS > APP-FRAME

#show-content-layouts-app-frame {
  .doc-app-frame-mock-viewport {
    width: 100%;
    aspect-ratio: 16 / 9;
    isolation: isolate;

    .hds-app-frame {
      position: relative;
      height: 100% !important;
      min-height: 100% !important;
    }

    .hds-app-frame__sidebar {
      height: auto;
      min-height: 0;
    }

    .hds-app-frame__modals {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .doc-app-frame-fake-overlay {
      position: absolute;
      inset: 0;
      background: var(--token-color-palette-neutral-700);
      opacity: 0.25;
    }

    .doc-app-frame-fake-modal {
      position: absolute;
      width: 200px;
      height: 160px;
      margin: auto;
      inset: 0;
    }
  }
}
