/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LAYOUTS > FLEX

#show-content-layouts-flex {
  .doc-flex-media-avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }

  .doc-flex-cards-item {
    width: 100%;
    height: 100%;
    padding: 18px 12px;
    text-align: center;
  }

  .doc-flex-fixed-height-container {
    height: 320px;
  }

  .doc-flex-outlined-container {
    outline: 1px dotted var(--doc-color-gray-400);
  }

  .doc-flex-margin-left-auto {
    margin-left: auto;
  }

  .doc-flex-demo-plain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .doc-flex-demo-custom-flex-column-gap {
    --hds-layout-flex-column-gap: 13px;
  }
}
