/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LAYOUTS > FLEX

@mixin shw-tint-children {
  &:nth-child(6n+1) { background-color: #e4c5f3; }
  &:nth-child(6n+2) { background-color: #e5ffd2; }
  &:nth-child(6n+3) { background-color: #d2f4ff; }
  &:nth-child(6n+4) { background-color: #fff8d2; }
  &:nth-child(6n+5) { background-color: #f3d9c5; }
  &:nth-child(6n+6) { background-color: #fee1ec; }
}

body.page-layouts-flex {
  .shw-layout-flex-example-outline-flex-container {
    .hds-layout-flex {
      outline: 1px dotted var(--shw-color-gray-400);
    }
  }

  .shw-layout-flex-example-outline-flex-blocks {
    .hds-layout-flex {
      outline: 1px dashed var(--shw-color-gray-400);

      > * {
        outline: 1px dotted var(--shw-color-gray-400);
      }
    }
  }

  .shw-layout-flex-example-tint-flex-items {
    .hds-layout-flex > * {
      @include shw-tint-children();
    }
  }

  .shw-layout-flex-example-avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }

  .shw-layout-flex-example-nested-layouts {
    .hds-layout-flex,
    .hds-layout-grid {
      .shw-placeholder {
        @include shw-tint-children();
      }

      outline: 1px dotted var(--shw-color-gray-400);
    }
  }

  .shw-layout-flex-example-gap-override {
    --hds-layout-flex-column-gap: 20px;
  }
}
