/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LAYOUT > GRID

@use "./flex" as flex;

body.page-layouts-grid {
  .shw-layouts-grid-plain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .shw-layout-grid-example-tint-flex-items {
    .hds-layout-grid > * {
      @include flex.shw-tint-children();
    }
  }

  .shw-layout-grid-example-nested-layouts {
    .hds-layout-grid,
    .hds-layout-flex {
      .shw-placeholder {
        @include flex.shw-tint-children();
      }

      outline: 1px dotted var(--shw-color-gray-400);
    }
  }
}
