name: CI - Components

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  NODE_VERSION: '22.x'

concurrency:
   group: ci-components-${{ github.head_ref || github.ref }}
   cancel-in-progress: true

jobs:
  conditional-skip:
    runs-on: ubuntu-latest
    name: Get files changed and conditionally skip CI
    outputs:
      trigger-ci: ${{ steps.read-files.outputs.trigger-ci }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Get changed files
        id: read-files
        run: ./.github/scripts/filter_changed_files.sh "packages/components" "packages/flight-icons/catalog.json" "showcase" ".github/workflows/ci-components.yml" "packages/tokens"

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    needs: [conditional-skip]
    if: needs.conditional-skip.outputs.trigger-ci == 'true'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build Components
        run: pnpm build
        working-directory: packages/components
      - name: Lint Showcase
        run: pnpm lint
        working-directory: showcase
      - name: Lint Components
        run: pnpm lint
        working-directory: packages/components
      - name: Run Tests
        run: pnpm test:ember:percy
        working-directory: showcase
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_COMPONENTS }}

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: 'test'

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.28
          - ember-lts-4.12
          # - ember-release
          - ember-beta
          # - ember-canary
          - embroider-safe
          # - embroider-optimized

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build Components
        run: pnpm build
        working-directory: packages/components
      - name: Run Tests
        working-directory: showcase
        run: pnpm ember try:one ${{ matrix.try-scenario }}
        env:
          PERCY_ENABLE: 0