name: Compress Images
on:
  workflow_dispatch:
  schedule:
    - cron: "00 23 * * 0"

env:
  NODE_VERSION: "24.x"

jobs:
  build:
    name: Compress Images & Open PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Compress Images
        id: calibre
        uses: calibreapp/image-actions@420075c115b26f8785e293c5bd5bef0911c506e5 # main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
      - name: Open a PR if images can be compressed
        if: steps.calibre.outputs.markdown != ''
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          title: "Compressed Image Assets"
          branch-suffix: timestamp
          commit-message: "compressed image assets"
          body: ${{ steps.calibre.outputs.markdown }}
          token: ${{ secrets.PAT_TOKEN }}
