name: Compress Images
on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 1 * *" # monthly: 23:00 UTC on day 1 of each month

env:
  NODE_VERSION: "24.x"

jobs:
  build:
    name: Compress Images & Open PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Compress Images
        id: calibre
        uses: calibreapp/image-actions@420075c115b26f8785e293c5bd5bef0911c506e5 # main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
      - name: Open a PR if images can be compressed
        if: steps.calibre.outputs.markdown != ''
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          title: "Compressed Image Assets"
          branch-suffix: timestamp
          commit-message: "compressed image assets"
          body: ${{ steps.calibre.outputs.markdown }}
          token: ${{ secrets.PAT_TOKEN }}
