name: Compress Images
on:
  workflow_dispatch:
  schedule:
    - cron: '00 23 * * 0'

env:
  NODE_VERSION: '22.x'

jobs:
  build:
    name: Compress Images & Open PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Compress Images
        id: calibre
        uses: calibreapp/image-actions@05b1cf44e88c3b041b841452482df9497f046ef7 # main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
      - name: Open a PR if images can be compressed
        if: steps.calibre.outputs.markdown != ''
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          title: 'Compressed Image Assets'
          branch-suffix: timestamp
          commit-message: 'compressed image assets'
          body: ${{ steps.calibre.outputs.markdown }}
          token: ${{ secrets.PAT_TOKEN }}