name: CI - Ember Flight Icons
    
on:
  push:
    branches:
      - main
  pull_request: {}

env:
  NODE_VERSION: '16.x'

concurrency:
   group: ci-ember-flight-icons-${{ github.head_ref || github.ref }}
   cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Install Node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn run lint
        working-directory: packages/ember-flight-icons
