name: CI - Website

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  NODE_VERSION: '20.x'

concurrency:
  group: ci-website-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  conditional-skip:
    runs-on: ubuntu-latest 
    name: Get files changed and conditionally skip CI
    outputs:
      trigger-ci: ${{ steps.read-files.outputs.trigger-ci }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          fetch-depth: 0  
      - name: Get changed files
        id: read-files
        run: ./.github/scripts/filter_changed_files.sh "website" "packages/flight-icons/catalog.json" ".github/workflows/ci-website.yml"
        
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    needs: [conditional-skip]
    if: needs.conditional-skip.outputs.trigger-ci == 'true'

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Install Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn run lint
        working-directory: website

  test:
    name: 'Test'
    runs-on: ubuntu-latest
    needs: [conditional-skip]
    if: needs.conditional-skip.outputs.trigger-ci == 'true'

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Install Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Build Icons
        run: yarn build
        working-directory: packages/ember-flight-icons
      - name: Build Components
        run: yarn build
        working-directory: packages/components
      - name: Run Tests
        run: yarn run test:ember
        working-directory: website
