name: CI - Website

on:
  push:
    branches:
      - main
  pull_request: {}

env:
  NODE_VERSION: '22.x'

concurrency:
  group: ci-website-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  conditional-skip:
    runs-on: ubuntu-latest
    name: Get files changed and conditionally skip CI
    outputs:
      trigger-ci: ${{ steps.read-files.outputs.trigger-ci }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Get changed files
        id: read-files
        run: ./.github/scripts/filter_changed_files.sh "website" "packages/flight-icons/catalog.json" ".github/workflows/ci-website.yml"

  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    needs: [conditional-skip]
    if: needs.conditional-skip.outputs.trigger-ci == 'true'

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install PNPM
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          run_install: false
      - name: Install Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
        working-directory: website

  test:
    name: 'Test'
    runs-on: ubuntu-latest
    needs: [conditional-skip]
    if: needs.conditional-skip.outputs.trigger-ci == 'true'

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install PNPM
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          run_install: false
      - name: Install Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build Components
        run: pnpm build
        working-directory: packages/components
      - name: Run Tests
        run: pnpm test:ember
        working-directory: website
