name: Sync & Build Icons

on:
  workflow_dispatch:

env:
  NODE_VERSION: '16.x'

jobs:
  sync_iconset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          cache-dependency-path: yarn.lock
  
      - name: Install Dependencies
        run: yarn install --immutable

      - name: Sync icons
        env:
          # this is Brian's personal access token
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }} 
        run: yarn sync
        working-directory: packages/flight-icons

      - name: Build icons
        run: yarn build
        working-directory: packages/flight-icons

      - name: Open a PR
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4.2.3
        with:
          branch: 'hds-icon-export'
          commit-message: 'sync & build of flight icons'
          title: 'Updated export of icons from Figma'
          body: ''
          token: ${{ secrets.PAT_TOKEN }}