/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// ACCORDION

body.page-components-accordion {
  // layout example content
  .shw-component-accordion-layout {
    display: flex;
    gap: 1rem;
  }

  .shw-component-accordion-layout--justify {
    justify-content: space-between;
  }

  .shw-component-accordion-standalone-button {
    position: relative;
    width: fit-content;
    // this variable is set on the parent element
    --hds-accordion-item-focus-ring-offset: 0;
  }

  .shw-component-flyout-sample-item {
    // Note: Percy wasn't seeing the styles applied via selecting by the [open] attribute
    // (which the Flyout showpage uses for similar examples)
    .hds-flyout {
      position: relative;
      z-index: initial;
      display: flex;
      height: 40vh;
    }
  }
}
