/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// ADVANCED-TABLE

@use "../typography" as *;

body.page-components-advanced-table {
  .shw-component-advanced-table-instruction-list {
    font-size: 1rem;
    font-family:
      gilmer-web,
      Gilmer,
      -apple-system,
      blinkmacsystemfont,
      "Segoe UI",
      roboto,
      sans-serif;
    line-height: 1.4;
  }

  .shw-component-advanced-table-narrow-wrapper {
    width: fit-content;
  }

  // align table cell content for icon plus text in cell
  .shw-component-advanced-table-cell-content-div {
    display: flex;
    align-items: center;
    min-width: 0;

    .hds-icon {
      flex: none;
      margin-right: 5px;
    }
  }

  .shw-component-advanced-table-fixed-width-wrapper {
    width: 400px;
  }

  .shw-component-advanced-table-fixed-width-wrapper--wide {
    width: 600px;
  }

  .shw-component-advanced-table-with-pagination-demo-wrapper {
    .hds-advanced-table__container + .hds-pagination {
      margin-top: 16px;
    }
  }

  .shw-component-advanced-table-demo-topbar {
    @include shw-font-family("system sans");
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  .shw-component-advanced-table-demo-topbar__toggle {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 0.9rem;
  }

  .shw-component-advanced-table-demo-topbar__action {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
  }

  .shw-component-advanced-table-animate-user {
    display: inline-block;
    animation: shw-component-table-user-bounce 1s infinite ease-in-out;
  }

  // utility class for text truncation
  .shw-component-advanced-table-text-truncate {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .shw-component-advanced-table-reorder-handle-container
    .hds-advanced-table__th-reorder-handle {
    visibility: visible;
    opacity: 1;
  }
}
