/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// ALERT

@use "../typography" as *;

body.page-components-alert {
  // we outline the "compact" variant to make its bounding box visible
  .hds-alert--type-compact {
    outline: 1px dotted var(--shw-color-gray-400);
  }

  .shw-component-alert-sample-custom-content-after-actions {
    @include shw-font-family("system sans");
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-style: italic;
  }
}

