/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// CARD

body.page-components-card {
  .shw-component-card-wrapper {
    width: fit-content;
    padding: 2rem;
    background-color: #fafafa;
  }

  .shw-component-card-overflow__wrapper-relative {
    position: relative;

    .shw-component-card-overflow__content-absolute {
      position: absolute;
      top: 20px;
      right: -20px;
      width: 30px;
      height: 20px;
      background-color: #3f51b5;
      border-radius: 8px;
    }
  }

  .shw-component-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
