/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// CODE-EDITOR

.my-code-editor-custom-content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hds-code-editor-line-wrapper-controls {
  margin-bottom: 8px;
}
