/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// CODE-BLOCK

body.page-components-code-block {
  .shw-component-code-block-copy-button {
    .hds-code-block__copy-button {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .shw-component-code-block-display-none {
    display: none;
  }
}
