/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// DISMISS-BUTTON

body.page-utilities-dismiss-button {
  .shw-utility-dismiss-button-sample-state {
    .hds-dismiss-button {
      margin: 4px; // to compensate for the "extra space" around the component box
    }
  }
}
