/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// FLYOUT

body.page-components-flyout {
  .shw-component-flyout-sample-item {
    margin-bottom: 30px;

    .hds-flyout[open] {
      position: relative;
      z-index: initial;
      display: flex;
      height: 40vh;
      margin: 0;
    }
  }
}
