/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// LINK > INLINE

body.page-components-link-inline {
  .shw-component-link-inline-state-samples {
    > div + div {
      margin-top: 4px;
    }
  }
}
