/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// Page Header

body.page-components-page-header {
  .shw-component-page-header-layout-highlight {
    .hds-page-header {
      outline: 1px dashed #78909c;
      outline-offset: -1px;
    }
  }
}
