/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// PAGINATION

body.page-components-pagination {
  .shw-component-pagination-layout-highlight {
    .hds-pagination-info,
    .hds-pagination-nav,
    .hds-pagination-nav__control,
    .hds-pagination-nav__ellipsis,
    .hds-pagination-size-selector {
      outline: 1px dashed #78909c;
    }
  }

  // paginated tables demo

  .shw-component-pagination-table-demo {
    margin: 18px auto 36px;

    .hds-table + .hds-pagination {
      margin-top: 16px;
    }
  }
}
