/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// POWER-SELECT

// this needs to be manually imported to apply the standard
// "ember-power-select" styling to the element
// (the file is inside the `node_modules`)
@use "ember-power-select";
