/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// TAG

body.page-components-tag {
  .shw-component-tag-group {
    margin-bottom: -0.5rem;

    .hds-tag {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
}

// we need to leave this out of the main selector to keep the specificity low

.shw-component-tag-inheritance-font-style {
  color: #911ced;
  font-weight: 900;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shw-component-tag-inheritance-background-color {
  background-color: #a737ff;
}
