/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// TEXT

body.page-components-text {
  .shw-component-text-sample-color--high-contrast {
    background: #0c0c0e;
    outline: 2px solid #0c0c0e;
  }
}
