/**
 * Copyright IBM Corp. 2021, 2025
 * SPDX-License-Identifier: MPL-2.0
 */

// TYPOGRAPHY

body.page-foundations-typography {
  .shw-label {
    color: #999;
  }

  p[class^="hds-"] {
    margin: 0;
    padding: 0;
  }
}
