// THEMING

.hds-code-block--theme-dark {
  // COLORS

  // Descriptive color names:

  --code-block-color-blue: #2d8eff;
  --code-block-color-cyan: #32fff7;
  --code-block-color-matrix-green: #86ff13;
  --code-block-color-orange: #ffa800;
  --code-block-color-purple: #c76cff;
  --code-block-color-red: #ff3b20;

  // Semantic color names:

  // Base UI colors:
  --code-block-color-foreground-primary: #d5d7db;
  --code-block-color-foreground-faint: #b2b6bd;
  --code-block-color-surface-primary: #0d0e12;
  --code-block-color-surface-faint: #15181e;
  --code-block-color-surface-interactive-active: #2b303c;
  // status ----
  --code-block-color-foreground-success: #009241;
  --code-block-color-foreground-critical: #ef3016;
  // interactive ---
  --code-block-color-foreground-interactive: #dedfe3;
  --code-block-color-foreground-interactive-hover: #fff;
  --code-block-color-foreground-interactive-active: #f1f2f3;
  // actions ---
  --code-block-color-foreground-action-default: #2b89ff;
  --code-block-color-foreground-action-hover: #389aff;
  --code-block-color-foreground-action-active: #4ca1ff;
  // borders (TODO: Names are confusing) ----
  --code-block-color-border-strong: rgba(178, 182, 189, 40%); // #b2b6bd66
  --code-block-color-border-primary: rgba(178, 182, 189, 20%); // #b2b6bd33

  // CodeBlock UI:
  // lines of code - highlighted ----
  --code-block-color-line-highlight: rgba(0, 74, 222, 20%);
  --code-block-color-line-highlight-border: #1555d4;

  // Syntax highlighting tokens:
  // general ----
  --code-block-color-token: var(--code-block-color-matrix-green);
  // specific ----
  --code-block-color-atrule: var(--code-block-color-blue);
  --code-block-color-code-block-attr-name: var(--code-block-color-blue);
  --code-block-color-attr-value: var(--code-block-color-blue);
  --code-block-color-boolean: var(--code-block-color-purple);
  --code-block-color-builtin: var(--code-block-color-orange);
  --code-block-color-char: var(--code-block-color-orange);
  --code-block-color-class-name: var(--code-block-color-matrix-green);
  --code-block-color-comment: var(--code-block-color-foreground-faint);
  --code-block-color-control: var(--code-block-color-cyan);
  --code-block-color-constant: var(--code-block-color-purple);
  --code-block-color-deleted: var(--code-block-color-red);
  --code-block-color-entity: var(--code-block-color-matrix-green);
  --code-block-color-function: var(--code-block-color-blue);
  --code-block-color-important: var(--code-block-color-red);
  --code-block-color-keyword: var(--code-block-color-matrix-green);
  --code-block-color-namespace: var(--code-block-color-red);
  --code-block-color-number: var(--code-block-color-purple);
  --code-block-color-operator: var(--code-block-color-cyan);
  --code-block-color-prolog: var(--code-block-color-foreground-primary);
  --code-block-color-property: var(--code-block-color-blue);
  --code-block-color-punctuation: var(--code-block-color-foreground-primary);
  --code-block-color-regex: var(--code-block-color-orange);
  --code-block-color-script: var(--code-block-color-foreground-primary);
  --code-block-color-selector: var(--code-block-color-matrix-green);
  --code-block-color-string: var(--code-block-color-orange);
  --code-block-color-symbol: var(--code-block-color-orange);
  --code-block-color-tag: var(--code-block-color-matrix-green);
  --code-block-color-url: var(--code-block-color-cyan);
  // language-scoped:
  // css ----
  --code-block-color-lang-css: var(--code-block-color-purple);
  --code-block-color-lang-css-token: var(--code-block-color-matrix-green);
  --code-block-color-lang-css-atrule: var(--code-block-color-purple);
  --code-block-color-lang-css-entity: var(--code-block-color-blue);
  --code-block-color-lang-css-function: var(--code-block-color-cyan);
  --code-block-color-lang-css-property: var(--code-block-color-cyan);
  --code-block-color-lang-css-punctuation: var(--code-block-color-orange);
  --code-block-color-lang-css-not-atrule: var(--code-block-color-foreground-primary);
  --code-block-color-lang-css-selector: var(--code-block-color-blue);
  --code-block-color-lang-css-url: var(--code-block-color-orange);
  // javascript ----
  --code-block-color-lang-js-constant: var(--code-block-color-orange);
  // markup/html ----
  --code-block-color-lang-markup-attr-value: var(--code-block-color-yellow);
  --code-block-color-lang-markup-entity-named: var(--code-block-color-purple);
  --code-block-color-lang-markup-entity-not-named: var(--code-block-color-matrix-green);
}


.hds-code-block {
  // Syntax highlighting ----

  // General tokens
  .token { color: var(--code-block-color-token); }

  .token.atrule { color: var(--code-block-color-atrule); }
  .token.attr-name { color: var(--code-block-color-attr-name); }
  .token.attr-value { color: var(--code-block-color-attr-value); }
  .token.boolean { color: var(--code-block-color-boolean); }
  .token.builtin { color: var(--code-block-color-builtin); }
  .token.char { color: var(--code-block-color-char); }
  .token.class-name { color: var(--code-block-color-class-name); }
  .token.comment { color: var(--code-block-color-comment); }
  .token.constant { color: var(--code-block-color-constant); }
  .token.deleted { color: var(--code-block-color-deleted); }
  .token.entity { color: var(--code-block-color-entity); }
  .token.function { color: var(--code-block-color-function); }
  .token.important { color: var(--code-block-color-important); }
  .token.keyword { color: var(--code-block-color-keyword); }
  .token.namespace { color: var(--code-block-color-namespace); }
  .token.number { color: var(--code-block-color-number); }
  .token.operator { color: var(--code-block-color-operator); }
  .token.punctuation { color: var(--code-block-color-punctuation); }
  .token.prolog { color: var(--code-block-color-prolog); }
  .token.property { color: var(--code-block-color-property); }
  .token.regex { color: var(--code-block-color-regex); }
  .token.script { color: var(--code-block-color-script); }
  .token.selector { color: var(--code-block-color-selector); }
  .token.string { color: var(--code-block-color-string); }
  .token.symbol { color: var(--code-block-color-symbol); }
  .token.tag { color: var(--code-block-color-tag); }
  .token.url { color: var(--code-block-color-url); }
  .token.variable { color: var(--code-block-color-comment); }

  // Language-specific
  .language-css {
    color: var(--code-block-color-lang-css);

    .token { color: var(--code-block-color-lang-css-token); }
    .token.atrule { color: var(--code-block-color-lang-css-atrule); }
    .token.rule:not(.atrule) { color: var(--code-block-color-lang-css-not-atrule); }
    .token.entity { color: var(--code-block-color-lang-css-entity); }
    .token.function { color: var(--code-block-color-lang-css-function); }
    .token.property { color: var(--code-block-color-lang-css-property); }
    .token.punctuation { color: var(--code-block-color-lang-css-punctuatione); }
    .token.selector { color: var(--code-block-color-lang-css-selector); }
    .token.url { color: var(--code-block-color-lang-css-url); }
  }

  .language-javascript {
    .token.constant { color: var(--code-block-color-lang-js-constant); }
  }

  .language-markup,
  .language-html {
    .token.attr-value { color: var(--code-block-color-lang-markup-attr-value); }
    .token.entity.named-entity { color: var(--code-block-color-lang-markup-entity-named); }
    .token.entity:not(.named-entity) { color: var(--code-block-color-lang-markup-entity-not-named); }
  }
}
